<div class="nav-tabs-custom" ng-init="sprfv = true">
  <ul class="nav nav-tabs">
    <li ng-class="{active: sprfv}"><a ng-click="sprfv = true; resultados = false" data-toggle="tab">SPRFV</a></li>
    <li ng-class="{active: resultados}"><a ng-click="sprfv = false; resultados = true" data-toggle="tab">Resultados</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane" ng-class="{active: sprfv}">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Altura de la Cornisa :</label>
            <input type="number" class="form-control" ng-model="vm.informacion.alturaCornisa" ng-blur="vm.superTransform.setCornisa(vm.informacion.alturaCornisa)">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Altura de la Cumbrera :</label>
            <input type="number" class="form-control" ng-model="vm.informacion.alturaCumbrera" ng-blur="vm.superTransform.setCumbrera(vm.informacion.alturaCumbrera)">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Ancho Edificaci&oacute;n :</label>
            <input type="number" class="form-control" ng-model="vm.informacion.anchoEdificacion"
                   ng-keyup="vm.calcularA()" ng-blur="vm.superTransform.setAncho(vm.informacion.anchoEdificacion)">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Largo Edificaci&oacute;n :</label>
            <input type="number" class="form-control" ng-model="vm.informacion.largoEdificacion"
                   ng-keyup="vm.calcularA()" ng-blur="vm.superTransform.setLongitud(vm.informacion.largoEdificacion)">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Factor Topográfico :</label>
            <input type="number" class="form-control" ng-model="vm.informacion.factorTopografico">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Velocidad :</label>
            <input type="number" class="form-control" ng-model="vm.informacion.velocidad">
          </div>
        </div>
        <div ng-show="vm.propiedades.diseno == 'CR'" class="col-md-3">
          <div class="form-group">
            <label>Zona:</label>
            <input type="text" class="form-control" ng-model="vm.informacion.zona">
          </div>
        </div>
        <div ng-show="vm.propiedades.diseno == 'SPRFV'" class="col-md-3">
          <div class="form-group">
            <label>Relaci&oacute;n de Amortiguamineto :</label>
            <input type="number" class="form-control" ng-model="vm.informacion.relacionAmortiguamiento">
          </div>
        </div>
        <div ng-show="vm.propiedades.diseno == 'SPRFV'" class="col-md-3">
          <div class="form-group">
            <label>Coeficiente de Periodo :</label>
            <input type="number" class="form-control" ng-model="vm.informacion.coeficientePerdido">
          </div>
        </div>
        <div ng-show="vm.propiedades.diseno == 'CR'" class="col-md-3">
          <div class="form-group">
            <label>Area Efectiva:</label>
            <input type="number" class="form-control" ng-model="vm.informacion.areaEfectiva">
          </div>
        </div>
      </div>
      <div class="row">
        <div ng-show="vm.propiedades.diseno == 'CR'" class="col-md-3">
          <div class="form-group">
            <label>a:</label>
            <input type="number" class="form-control" ng-disabled="true" ng-model="vm.informacion.a">
          </div>
        </div>
        <div ng-show="vm.propiedades.diseno == 'SPRFV'" class="col-md-3">
          <div class="form-group">
            <label>Exponente Periodo :</label>
            <input type="number" class="form-control" ng-model="vm.informacion.exponentePerdido">
          </div>
        </div>
        <div ng-show="vm.propiedades.diseno == 'SPRFV'" class="col-md-3">
          <div class="form-group">
            <label>Factor de Efecto de Rafaga:</label>
            <input type="number" class="form-control" ng-disabled="true" ng-model="vm.informacion.factorEfectoRafaga">
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" ng-class="{active: resultados}" id="resultados">
      <div class="row">
        <!-- filtro #1 -->
        <div class="col-md-12">
          <div class="box box-primary box-solid perfileria-galvanizado"
               ng-if=" (vm.propiedades.tipoEdificacion == 'A') && vm.propiedades.diseno == 'CR' "
               ng-repeat="(zona, resultado) in vm.vientosData.calculos.results | groupBy: '[zona]'">
            <div class="box-header with-border">
              <h3 class="box-title">Zona: {{zona}}</h3>
              <div class="box-tools">
                <button type="button" class="btn btn-box-tool" ng-click="vm.isCollapsed[zona] = !vm.isCollapsed[zona]"
                        data-widget="collapse"><i class="fa"
                                                  ng-class="{'fa-plus': vm.isCollapsed[zona], 'fa-minus': !vm.isCollapsed[zona]}"></i>
                </button>
              </div>
            </div>
            <div class="box-body no-padding" uib-collapse="vm.isCollapsed[zona]" ng-init="vm.isCollapsed[zona] = false">
              <table class="table table-hover table-striped">
                <tr>
                  <th>Pnet Cn (+)</th>
                  <th>Pnet Cn (-)</th>
                </tr>
                <tr ng-repeat="result in resultado">
                  <td>{{result.cN_MAS | round:2}}</td>
                  <td>{{result.cN_MENOS | round:2}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <!-- filtro #2 -->
        <div class="col-md-12">
          <div class="box box-primary box-solid perfileria-galvanizado"
               ng-if=" (vm.propiedades.tipoEdificacion == 'C' || vm.propiedades.tipoEdificacion == 'PC') && vm.propiedades.diseno == 'CR' "
               ng-repeat="(zona, resultado) in vm.vientosData.calculos.results | groupBy: '[zona]'">
            <div class="box-header with-border">
              <h3 class="box-title">Zona: {{zona}}</h3>
              <div class="box-tools">
                <button type="button" class="btn btn-box-tool" ng-click="vm.isCollapsed[zona]= !vm.isCollapsed[zona]"
                        data-widget="collapse"><i class="fa"
                                                  ng-class="{'fa-plus': vm.isCollapsed[zona], 'fa-minus': !vm.isCollapsed[zona]}"></i>
                </button>
              </div>
            </div>
            <div class="box-body no-padding" uib-collapse="vvm.isCollapsed[zona]" ng-init="vm.isCollapsed[zona] = false">
              <table class="table table-hover table-striped">
                <tr>
                  <th>Pnet (+)</th>
                  <th>Pnet (-)</th>
                </tr>
                <tr ng-repeat="result in resultado">
                  <td>{{result.gcpI_MAS | round:2}}</td>
                  <td>{{result.gcpI_MENOS | round:2}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <!-- filtro #3 -->
        <div class="col-md-12">
          <div class="box box-primary box-solid perfileria-galvanizado"
               ng-if="(vm.propiedades.tipoEdificacion == 'C' || vm.propiedades.tipoEdificacion == 'PC') && vm.propiedades.diseno == 'SPRFV' "
               ng-repeat="(superficie, resultado) in vm.vientosData.calculos.results | groupBy: '[superficie]'">
            <div class="box-header with-border">
              <h3 class="box-title">Superficie: {{superficie}}</h3>
              <div class="box-tools">
                <button type="button" class="btn btn-box-tool" ng-click="vm.isCollapsed[superficie] = !vm.isCollapsed[superficie]"
                        data-widget="collapse">
                  <i class="fa" ng-class="{'fa-plus': vm.isCollapsed[superficie], 'fa-minus': !vm.isCollapsed[superficie]}"></i>
                </button>
              </div>
            </div>
            <div class="box-body no-padding" uib-collapse="vm.isCollapsed[superficie]" ng-init="vm.isCollapsed[superficie] = false">
              <table class="table table-hover table-striped">
                <tr>
                  <th>Z</th>
                  <th>G</th>
                  <th>Cp</th>
                  <th>qz</th>
                  <th>Pnet(+Gcpi)</th>
                  <th>Pnet(-Gcpi)</th>
                </tr>
                <tr ng-repeat="result in resultado">
                  <td>{{result.z }}</td>
                  <td>{{result.g | round:2}}</td>
                  <td>{{result.cp | round:2}}</td>
                  <td>{{result.qz}}</td>
                  <td>{{result.pneT_MAS_GCPI | round:2}}</td>
                  <td>{{result.pneT_MENOS_GCPI | round:2}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <!-- filtro #4 -->
        <div class="col-md-12">
          <div class="box box-primary box-solid perfileria-galvanizado"
               ng-if=" vm.propiedades.tipoEdificacion == 'A' && vm.propiedades.diseno == 'SPRFV' "
               ng-repeat="(y, resultado) in vm.vientosData.calculos.results | groupBy: '[y]'">
            <div class="box-header with-border">
              <h3 class="box-title">Y: {{y}}</h3>
              <div class="box-tools">
                <button type="button" class="btn btn-box-tool" ng-click="vm.isCollapsed[y] = !vm.isCollapsed[y]"
                        data-widget="collapse">
                  <i class="fa" ng-class="{'fa-plus': vm.isCollapsed[y], 'fa-minus': !vm.isCollapsed[y]}"></i>
                </button>
              </div>
            </div>
            <div class="box-body no-padding" uib-collapse="vm.isCollapsed[y]" ng-init="vm.isCollapsed[y] = false">
              <div class="box box-primary box-solid perfileria-galvanizado" ng-show="vm.propiedades.tipoCubierta == '1A' &&
                             vm.propiedades.tipoEdificacion == 'A'&&
                            vm.propiedades.region == 'NPH' &&
                            vm.propiedades.diseno == 'SPRFV' &&
                            vm.propiedades.direccionViento == 'N'"
                   ng-repeat="(caso, resultado1) in vm.vientosData.calculos.results | groupBy: '[caso]'">
                <div class="box-header with-border">
                  <h3 class="box-title">Caso: {{caso}}</h3>
                  <div class="box-tools">
                    <button type="button" class="btn btn-box-tool"
                            ng-click="vm.isCollapsed[caso]= !vm.isCollapsed[caso]" data-widget="collapse">
                      <i class="fa" ng-class="{'fa-plus': vm.isCollapsed[caso], 'fa-minus': !vm.isCollapsed[caso]}"></i>
                    </button>
                  </div>
                </div>
                <div class="box-body no-padding" uib-collapse="vm.isCollapsed[caso]" ng-init="vm.isCollapsed[caso]= false">
                  <table class="table table-hover table-striped">
                    <tr>
                      <th>Superficie</th>
                      <th>G</th>
                      <th>Qh</th>
                      <th>Cn</th>
                    </tr>
                    <tr ng-repeat="result in resultado1">
                      <td>{{result.superficie}}</td>
                      <td>{{result.g }}</td>
                      <td>{{result.qh |round:2}}</td>
                      <td>{{result.cn}}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
