<div class="box box-primary">
  <div class="box-header with-border">
    <i class="fa a icon-btn_straps_des"></i>
    <h3 class="box-title">Correas</h3>
  </div>
  <div class="box-body">
    <x3d id="{{vm.x3d.id}}"
         showProgress="{{vm.x3d.ebProgres}}"
         disableDoubleClick="{{vm.x3d.dbDoubleClick}}"
         disableRightDrag="{{vm.x3d.dbRightDrag}}"
         onmouseup="stopDragging()"
         onmousemove="mouseMoved(event)"
         ng-style="vm.x3d.style">
      <scene>
        <viewpoint id="viewPoint"
                   position="41.17150500625538 20.724093343103625 18.816642998334828"
                   orientation="-0.3147223263703526 0.9273977523594875 0.20219610827759346 1.2116929507190817"
                   fieldOfView="0.160000000000001">
        </viewpoint>
        <background groundcolor="0.9 0.9 1" skyColor="0.9 0.9 1"></background>
        <navigationInfo id="navInfo" speed="0" headlight='true'></navigationInfo>
        <directionalLight id="directional" direction='0 -1 0' on="TRUE" intensity='0.1680'
                          shadowIntensity='0.0268'></directionalLight>

        <!-- ALL LIGHTS -->
        <transform id="superTransform" onmousedown="startDragging(this)">

          <!-- LIGHT -->
          <transform ng-repeat="light in vm.superTransform.transforms"
                     scale="{{light.transform.scale.x}} {{light.transform.scale.y}} {{light.transform.scale.z}}"
                     translation="{{light.transform.translation.x}} {{light.transform.translation.y}} {{light.transform.translation.z}}">

            <!-- CUBIERTA -->
            <transform
              rotation="{{light.cubierta.transform.rotation.x}} {{light.cubierta.transform.rotation.y}} {{light.cubierta.transform.rotation.z}} {{light.cubierta.transform.rotation.a}}">

              <!-- LAMINA -->
              <transform render="{{light.cubierta.lamina.render}}"
                         translation="{{light.cubierta.lamina.translation.x}} {{light.cubierta.lamina.translation.y}} {{light.cubierta.lamina.translation.z}}"
                         scale="{{light.cubierta.lamina.scale.x}} {{light.cubierta.lamina.scale.y}} {{light.cubierta.lamina.scale.z}}"
                         rotation="{{light.cubierta.lamina.rotation.x}} {{light.cubierta.lamina.rotation.y}} {{light.cubierta.lamina.rotation.z}} {{light.cubierta.lamina.rotation.a}}">
                <inline url="assets/shapes/{{light.cubierta.lamina.tipo}}" mapDEFToID="true"
                        nameSpaceName="{{light.cubierta.nameSpace}}"></inline>
              </transform>
              <!-- / LAMINA -->

              <!-- LONG BASES -->
              <transform ng-repeat="base in light.cubierta.bases"
                         render="{{base.render}}"
                         translation="{{base.translation.x}} {{base.translation.y}} {{base.translation.z}}"
                         scale="{{base.scale.x}} {{base.scale.y}} {{base.scale.z}}">
                <inline url="assets/shapes/{{base.tipo}}" mapDEFToID="true" nameSpaceName="{{base.nameSpace}}"></inline>
              </transform>
              <!-- / LONG BASES -->

              <!-- PERFILERIA -->
              <transform ng-repeat="perfil in light.cubierta.perfileria"
                         render="{{perfil.render}}"
                         scale="{{perfil.scale.x}} {{perfil.scale.y}} {{perfil.scale.z}}"
                         translation="{{perfil.translation.x}} {{perfil.translation.y}} {{perfil.translation.z}}">
                <inline url="assets/shapes/{{perfil.tipo}}" mapDEFToID="true"
                        nameSpaceName="{{perfil.nameSpace}}"></inline>
              </transform>
              <!-- / PERFILERIA -->


            </transform>
            <!-- / CUBIERTA -->

          </transform>
          <!-- / LIGHT -->

        </transform>
        <!-- / ALL LIGHTS -->
      </scene>
    </x3d>

    <!--orientation indicator-->
    <div ng-show="vm.axes.show">
      <x3d id="x3domAxisSceneView">
        <scene>
          <navigationInfo type='"NONE" "ANY"'></navigationInfo>
          <viewpoint id="viewPointAxes" position="0 0 2.8"></viewpoint>
          <transform id="axes">
            <inline url="assets/shapes/axes.x3d" mapDEFToID="true" namespaceName="CoordinateAxes"></inline>
          </transform>
        </scene>
      </x3d>
    </div>

    <!--orientation box-->
    <div id="viewpointControl" ng-show="vm.orientationBx.show">
      <x3d id="x3domOrientationSceneView" showProgress="false" disableDoubleClick="true" disableRightDrag="true">
        <scene>
          <navigationInfo type='"TURNTABLE"' speed="0"></navigationInfo>
          <viewpoint position="0.0 0.0 3.05"></viewpoint>
          <transform id="orientationBox">
            <inline url="assets/shapes/orientation.x3d" mapDEFToID="true" namespaceName="orientationBox"></inline>
          </transform>
        </scene>
      </x3d>
    </div>

    <!-- quick buttons -->
    <div class="btn-group-vertical btn-group-sm" role="group">
      <div class="vertical-sliders">
        <rzslider rz-slider-model="vm.sliderZooming.value" rz-slider-options="vm.sliderZooming.options"></rzslider>
      </div>
      <button type="button" class="btn btn-default" ng-click="vm.scene.resetView()"> R</button>
    </div>

  </div>
</div>

<script>
  var cellSize = 1.0;

  var lastMouseX = -1;
  var lastMouseY = -1;

  var draggedTransformNode = null;

  //vectors in 3D world space, associated to mouse x/y movement on the screen
  var draggingUpVec = null;
  var draggingRightVec = null;

  var unsnappedDragPos = null;

  /*
   * functions
   * */
  /*******************************************************************/


  //------------------------------------------------------------------------------------------------------------------

  function mouseMoved(event)
  {
    //offsetX / offsetY polyfill for FF
    var target = event.target || event.srcElement;
    var rect = target.getBoundingClientRect();
    event.offsetX = event.clientX - rect.left;
    event.offsetY = event.clientY - rect.top;

    if (lastMouseX === -1) {
      lastMouseX = event.offsetX;
    }
    if (lastMouseY === -1) {
      lastMouseY = event.offsetY;
    }

    if (draggedTransformNode) {
      dragObject(event.offsetX - this.lastMouseX, event.offsetY - this.lastMouseY);
    }

    lastMouseX = event.offsetX;
    lastMouseY = event.offsetY;
  }

  //------------------------------------------------------------------------------------------------------------------

  function startDragging(transformNode)
  {
    //disable navigation during dragging
    document.getElementById("navInfo").setAttribute("type", '"NONE"');

    draggedTransformNode = transformNode;
    unsnappedDragPos = new x3dom.fields.SFVec3f.parse(transformNode.getAttribute("translation"));

    //compute the dragging vectors in world coordinates
    //(since navigation is disabled, those will not change until dragging has been finished)

    //get the viewer's 3D local frame
    var x3dElem = document.getElementById("x3domCorreasCentralSceneView");
    var vMatInv = x3dElem.runtime.viewMatrix().inverse();
    var viewDir = vMatInv.multMatrixVec(new x3dom.fields.SFVec3f(0.0, 0.0, -1.0));

    //use the viewer's up-vector and right-vector
    draggingUpVec = vMatInv.multMatrixVec(new x3dom.fields.SFVec3f(0.0, 1.0, 0.0));
    draggingRightVec = viewDir.cross(this.draggingUpVec);


    //project a world unit to the screen to get its size in pixels
    var p1 = x3dElem.runtime.calcCanvasPos(unsnappedDragPos.x, unsnappedDragPos.y, unsnappedDragPos.z);
    var p2 = x3dElem.runtime.calcCanvasPos(unsnappedDragPos.x + draggingRightVec.x,
      unsnappedDragPos.y + draggingRightVec.y,
      unsnappedDragPos.z + draggingRightVec.z);
    var magnificationFactor = 1.0 / Math.abs(p1[0] - p2[0]);

    //scale up vector and right vector accordingly
    draggingUpVec = draggingUpVec.multiply(magnificationFactor);
    draggingRightVec = draggingRightVec.multiply(magnificationFactor);
  }

  //------------------------------------------------------------------------------------------------------------------

  function dragObject(dx, dy)
  {
    //scale up vector and right vector accordingly
    var offsetUp = draggingUpVec.multiply(-dy);
    var offsetRight = draggingRightVec.multiply(dx);

    unsnappedDragPos = unsnappedDragPos.add(offsetUp).add(offsetRight);

    var snappedDragPos;

    draggedTransformNode.setAttribute("translation", unsnappedDragPos.toString());
  }

  //------------------------------------------------------------------------------------------------------------------

  function stopDragging()
  {
    draggedTransformNode = null;
    draggingUpVec = null;
    draggingRightVec = null;
    unsnappedDragPos = null;

    //re-enable navigation after dragging
    document.getElementById("navInfo").setAttribute("type", '"EXAMINE" "ANY"');
  }
</script>
