<div class="modal-header">
  <button type="button" class="close" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Geometría</h4>
</div>
<div class="modal-body">

  <div class="row">
    <div class="col-md-6">

      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h5>
            <toggle-switch
              class="optionSwitch"
              ng-model="vm.paraCubiertas"
              ng-change="vm.chngParaCubiertas()"
              on-label="Sí"
              off-label="No">
            </toggle-switch>
            Para cubiertas
          </h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h5>
            <toggle-switch
              class="optionSwitch"
              ng-model="vm.paraCerramiento"
              ng-change="vm.chngParaCerramiento()"
              on-label="Sí"
              off-label="No">
            </toggle-switch>
            Para Cerramiento
          </h5>
        </div>
      </div>

    </div>
    <div class="col-md-6">

      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h5>
            <toggle-switch
              class="optionSwitch"
              ng-model="vm.unAgua"
              ng-change="vm.chngUnAgua()"
              on-label="Sí"
              off-label="No">
            </toggle-switch>
            Un agua
          </h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h5>
            <toggle-switch
              class="optionSwitch"
              ng-model="vm.dosAguas"
              ng-change="vm.chngDosAguas()"
              on-label="Sí"
              off-label="No">
            </toggle-switch>
            Dos aguas
          </h5>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h5>Pendiente en grados:</h5>
    </div>
    <div class="col-md-4">
      <input type="number" ng-model="vm.geometria.pendienteEnGrados" ng-disabled="vm.paraCerramiento === true" ng-change="vm.chngPendienteGrados()"
             class="form-control" max="999" step="0.01"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h5>Pendiente en porcentaje (%):</h5>
    </div>
    <div class="col-md-4">
      <input type="number" ng-model="vm.geometria.pendienteEnPorcentaje" ng-disabled="vm.paraCerramiento === true" ng-change="vm.chngPendientePorcentaje()"
             class="form-control" max="999" step="0.01"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h5>Separación de correas (m):</h5>
    </div>
    <div class="col-md-4">
      <input type="number" ng-model="vm.geometria.separacionDeCorreas"
             class="form-control" max="999" step="0.01"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h5>Número de correas:</h5>
    </div>
    <div class="col-md-4">
      <input type="number" ng-model="vm.geometria.numeroDeCorreas"
             class="form-control" max="999" step="0.01"/>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="vm.ok()">Aceptar</button>
  <button type="button" class="btn btn-default" ng-click="vm.cancel()">Cerrar</button>
</div>
