<div class="modal-header">
  <button type="button" class="close" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">Mostrar Cargas</h4>
</div>
<div class="modal-body">

  <!-- CARGAS SELECCIONADAS -->
  <div class="row">
    <div class="col-md-6">

      <h5>
        <toggle-switch
          class="optionSwitch"
          ng-model="vm.cargasViewer.mostrarLucesSeleccionadas"
          ng-change="vm.chngMmostrarLucesSeleccionadas()"
          on-label="Seleccionadas"
          off-label="Mostrar Todas">
        </toggle-switch>
      </h5>

    </div>

    <div class="col-md-6">

      <h5>
        <toggle-switch
          class="optionSwitch switch-warning"
          ng-model="vm.cargasViewer.removerCargas"
          ng-change="vm.chngRemoverCargas()"
          on-label="Sí"
          off-label="No">
        </toggle-switch>
        Remover
      </h5>

    </div>
  </div>
  <!-- / CARGAS SELECCIONADAS -->

  <!-- DISTRIBUIDAS -->
  <h4>Distribuidas</h4>
  <div class="row">

    <div class="col-md-6">
      <h5>
        <toggle-switch
          class="optionSwitch"
          ng-model="vm.cargasViewer.showMuertasDistribuidas"
          ng-change="vm.chngShowMuertasDistribuidas()"
          on-label="Sí"
          off-label="No">
        </toggle-switch>
        Cargas Muertas
      </h5>
    </div>
    <div class="col-md-6">
      <h5>
        <toggle-switch
          class="optionSwitch"
          ng-model="vm.cargasViewer.showVivasDistribuidas"
          ng-change="vm.chngShowVivasDistribuidas()"
          on-label="Sí"
          off-label="No">
        </toggle-switch>
        Cargas Vivas
      </h5>
    </div>

  </div>
  <!-- / DISTRIBUIDAS -->


  <!-- PUNTUALES -->
  <h4>Puntuales</h4>
  <div class="row">

    <div class="col-md-6">
      <h5>
        <toggle-switch
          class="optionSwitch"
          ng-model="vm.cargasViewer.showMuertasPuntuales"
          ng-change="vm.chngShowMuertasPuntuales()"
          on-label="Sí"
          off-label="No">
        </toggle-switch>
        Cargas Muertas
      </h5>
    </div>
    <div class="col-md-6">
      <h5>
        <toggle-switch
          class="optionSwitch"
          ng-model="vm.cargasViewer.showVivasPuntuales"
          ng-change="vm.chngShowVivasPuntuales()"
          on-label="Sí"
          off-label="No">
        </toggle-switch>
        Cargas Vivas
      </h5>
    </div>

  </div>
  <!-- / PUNTUALES -->

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="vm.ok()">Aceptar</button>
  <button type="button" class="btn btn-default" ng-click="vm.cancel()">Cerrar</button>
</div>
