<div class="nav-tabs-custom" ng-init="perfileria = true">
  <ul class="nav nav-tabs">
    <li ng-class="{active: perfileria}"><a ng-click="perfileria = true; resultados = false" data-toggle="tab">Metaldeck</a></li>
    <li ng-class="{active: resultados}"><a ng-click="perfileria = false; resultados = true" data-toggle="tab">Resultados</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane" ng-class="{active: perfileria}" id="perfileria">
      <div class="row">
        <div class="col-md-12">
          <br />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!-- ACABADOS -->
          <div class="box box-primary perfileria-galvanizado" ng-repeat="typeacabado in vm.acabados.acabados" ng-if="typeacabado.metaldecks.length > 0">
            <div class="box-header with-border">
              <input type="checkbox" ng-model="typeacabado.isCheckAll"
                     ng-checked="vm.content(vm.dataMetaldeck.data.metaldecks, typeacabado.metaldecks)"
                     ng-click="vm.isCheckAll(typeacabado)">
              <h3 class="box-title">&nbsp; Acabado {{typeacabado.acabado}}</h3>
              <div class="box-tools">
                <button type="button" class="btn btn-box-tool" ng-click="vm.isCollapsed(typeacabado.acabado)" data-widget="collapse"><i class="fa" ng-class="{'fa-plus': vm.isCollapsed[typeacabado.acabado], 'fa-minus': !vm.isCollapsed[typeacabado.acabado]}"></i></button>
              </div>
            </div>

            <div class="box-body no-padding" uib-collapse="vm.isCollapsed[typeacabado.acabado]" ng-init="vm.isCollapsed[typeacabado.acabado] = true">

              <!-- GRUPOS LONGITUDES DE LAMINA -->
              <div class="row ident-left-1">
                <div class="col-md-12 col-lg-12 col-sm-12">
                  <div class="box box-primary " ng-repeat="(grupo, acabados) in typeacabado.metaldecks | groupBy:'[longitud]'">
                    <div class="box-header with-border">
                      <input type="checkbox" ng-model="vm[grupo]"
                             ng-checked="vm.content(vm.dataMetaldeck.data.metaldecks, typeacabado.metaldecks)"
                             ng-click="vm.isCheckallByGrupo($event, acabados)">
                      <h3 class="box-title"> &nbsp; Metaldeck {{ grupo }} '' </h3>
                      <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" ng-click="vm.isCollapsed[grupo] = !vm.isCollapsed[grupo]"
                                data-widget="collapse">
                          <i class="fa"
                             ng-class="{'fa-plus': vm.isCollapsed[grupo], 'fa-minus': !vm.isCollapsed[grupo]}"></i>
                        </button>
                      </div>
                    </div>
                    <div class="box-body no-padding" uib-collapse="vm.isCollapsed[grupo]"
                         ng-init="vm.isCollapsed[grupo] = true">
                      <!-- TABLA -->
                      <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                          <th></th>
                          <th>Metaldeck</th>
                          <th>Grados</th>
                          <th>Altura del Concreto (mm)</th>
                          <th>Peso sección compuesta</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="metaldeck in acabados">
                          <td><input type="checkbox" ng-disabled="vm.atLeasOne(metaldeck, vm.dataMetaldeck.data.metaldecks)"
                                     ng-checked="vm.exists(metaldeck, vm.dataMetaldeck.data.metaldecks)"
                                     ng-click="vm.toggleSelectMetaldeck(metaldeck, $event)"></td>
                          <td>{{metaldeck.descripcion}}</td>
                          <td>{{metaldeck.grado}}</td>
                          <td>{{metaldeck.losa}}</td>
                          <td>{{metaldeck.pesoSeccionCompuesta}}</td>
                        </tr>
                        </tbody>
                      </table>

                    </div>
                  </div>
                </div>
              </div>
              <!-- / GRUPOS LONGITUDES DE LAMINA -->

            </div>

          </div>
          <!-- / ACABADOS -->
        </div>
      </div>
    </div>
    <div class="tab-pane" ng-class="{active: resultados}" id="resultados">
      <div class="row">
        <div class="col-md-12">
          <div class="content-overflow-full">
            <table class="table table-hover table-striped">
              <tr>
                <th>Altenativas para construir placa</th>
                <th>Cumple</th>
                <th>Razón</th>
              </tr>
              <tr ng-repeat="resultado in vm.dataMetaldeck.report.resultado">
                <td>{{resultado.metaldeck}}</td>
                <td ng-if="resultado.cumplimiento" class="text-green"><i class="fa fa-check"></i>Sí</td>
                <td ng-if="!resultado.cumplimiento" class="text-red"><i class="fa fa-times"></i>No</td>
                <td>{{resultado.razon}}</td>

              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
