<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Resultado reporte</h3>
</div>
<div class="modal-body modal-calculos-body">
  <div class="box box-primary box-solid" ng-repeat="metaldeck in vm.report.report.reporte" ng-class="{'page': ! $first}">

    <div class="box-header with-border">
      <h3 class="box-title">{{metaldeck.metaldeck.descripcion}} h = {{metaldeck.metaldeck.losa}}</h3>
    </div>

    <!-- luces draw -->
    <div class="box-body" uib-collapse="typeacabado.isCollapsed">

      <div class="center-block" ng-style="vm.metaldeckStyle">

        <div class="center-block" ng-style="vm.topLineStyle"></div>

        <div class="center-block" style="font-size: 0">
          <div ng-init="indxMetal = $index" ng-repeat="apoyo in metaldeck.apoyos" ng-if="$index > 0" ng-style="{'width': (100 / (metaldeck.apoyos.length - 1)) +'%','display':'inline-block'}">

            <div ng-if="indxMetal == 1" ng-style="{
              'display':'inline-block',
              'position':'relative',
              'width': '10px',
              'height': '10px',
              'background-color':'blue',
              'left': '0'}">
            </div>
            <div ng-style="{
              'display':'inline-block',
              'position':'relative',
              'width': '10px',
              'height': '10px',
              'background-color':'blue',
              'left': (98.2563 - indxMetal * 1.2563) + '%'}">
            </div>
            <div ng-if="metaldeck.geometrias[indxMetal - 1].apuntalar" ng-style="{
              'display':'inline-block',
              'position':'relative',
              'border-left': '10px solid transparent',
              'border-top': '10px solid #f0ad4e',
              'border-right': '10px solid transparent',
              'width': '0',
              'height': '0',
              'left': (40.2563 - indxMetal * 1.2563) + '%'}">
            </div>

          </div>
        </div>

        <div class="center-block" ng-if="false">
          <div ng-style="vm.rellenoStyle"></div>
        </div>

      </div>

    </div>
    <!-- / luces draw -->

    <!-- content tables -->
    <div class="box-body" uib-collapse="typeacabado.isCollapsed" ng-init="isCollapsed = false">

      <!-- geometria y cargas Distribuidas-->

      <div>
        <h4 style="margin-left: 10px" class="box-header with-border">Geometría y cargas distribuidas</h4>
        <table class="table table-hover table-striped">
          <thead>
          <tr>
            <th>Vano</th>
            <th>Longitud</th>
            <th>Carga Muerta</th>
            <th>Carga Viva</th>
            <th>P. Concreto</th>
            <th>P. Lámina</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="geometria in metaldeck.geometrias">
            <td>{{geometria.luz}}</td>
            <td>{{geometria.longitud}}</td>
            <td>{{geometria.cargaMuerta}}</td>
            <td>{{geometria.cargaViva}}</td>
            <td>{{geometria.pesoConcreto}}</td>
            <td>{{geometria.pesoLamina}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- geometria y cargas distribuidas-->

      <!-- cargas Puntuales-->

      <div>
        <h4 style="margin-left: 10px" class="box-header with-border">Cargas Puntuales</h4>
        <table class="table table-hover table-striped">
          <thead>
          <tr>
            <th rowspan="3">Luz</th>
            <th colspan="6">Caso de carga</th>
          </tr>
          <tr>
            <th colspan="3">Muerta</th>
            <th colspan="3">Viva</th>
          </tr>
          <tr>
            <th >P</th>
            <th >x</th>
            <th >b</th>
            <th >P</th>
            <th >x</th>
            <th >b</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="geometria in metaldeck.geometrias">
            <td>{{geometria.luz}}</td>
            <td>{{geometria.cargaMuertaP}}</td>
            <td>{{geometria.cargaMuertaPX}}</td>
            <td>{{geometria.cargaMuertaPB}}</td>
            <td>{{geometria.cargaVivaP}}</td>
            <td>{{geometria.cargaVivaPX}}</td>
            <td>{{geometria.cargaVivaPB}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- cargas Puntuales-->

      <!-- apoyos $ parametros -->
      <div class="row">
        <div class="col-lg-4">
          <table class="table table-hover table-striped"> <h4 style="margin-left: 10px" class="box-header with-border">Apoyos</h4>
            <thead>
            <tr>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="apoyo in metaldeck.apoyos">
              <td>{{apoyo.key}}</td>
              <td>{{apoyo.valor}}</td>
              <td>{{apoyo.magnitud}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-8">
          <table class="table table-hover table-striped"> <h4 style="margin-left: 10px; " class="box-header with-border">Parametros de Diseño</h4>
            <thead>
            <tr>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="parametros in metaldeck.parametros">
              <td>{{parametros.key}}</td>
              <td>{{parametros.valor}}</td>
              <td>{{parametros.magnitud}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- apoyos $ parametros -->

      <!-- constructiva -->
      <div>
        <h4 style="margin-left: 10px; " class="box-header with-border">Etapa Constructiva</h4>
        <table class="table table-hover table-striped">
          <thead>
          <tr>
            <th>Solicitacion</th>
            <th>Resistente</th>
            <th>Calculada</th>
            <th>Luz</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="constructiva in metaldeck.etapaConstructiva">
            <td>{{constructiva.solicitacion}} ({{constructiva.magnitud}})</td>
            <td>{{constructiva.resistente}}</td>
            <td>{{constructiva.calculada}}</td>
            <td>{{constructiva.luz}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <!-- / constructiva -->

      <!-- servicio -->
      <div ng-if="metaldeck.etapaServicio.length > 0">
        <h4 style="margin-left: 10px; " class="box-header with-border">Etapa Servicio</h4>
        <table class="table table-hover table-striped">
          <thead>
          <tr>
            <th>Solicitacion</th>
            <th>Resistente</th>
            <th>Calculada</th>
            <th>Luz</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="servicio in metaldeck.etapaServicio">
            <td>{{servicio.solicitacion}} ({{servicio.magnitud}})</td>
            <td>{{servicio.resistente}}</td>
            <td>{{servicio.calculada}}</td>
            <td>{{servicio.luz}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- / servicio -->

      <!-- calculos -->
      <div ng-if="metaldeck.calculos.length > 0">
        <h4 style="margin-left: 10px; " class="box-header with-border">Calculos</h4>
        <table class="table table-hover table-striped">
          <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="calculo in metaldeck.calculos">
            <td>{{calculo.key}}</td>
            <td>{{calculo.magnitud}}</td>
            <td>{{calculo.valor}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- / calculos -->

    </div>
    <!-- / content tables -->

    <!-- urls draw -->
    <div class="box-body" uib-collapse="typeacabado.isCollapsed" ng-init="isCollapsed = false">
      <div ng-repeat="url in metaldeck.urls">
        <h3 class="box-header">{{url.key}}</h3>
        <img src="{{url.valor}}" width="100%" /></span>
      </div>
    </div>
    <!-- / urls draw -->
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-sm btn-primary" type="button" ng-click="vm.ok()">OK</button>
  <button class="btn btn-sm btn-primary" type="button" ng-click="vm.downloadPDF()">Descarga PDF</button>
</div>

