<!-- Main content -->
<section class="nav-tabs-header">
  <div class="row design-header">
    <div class="col-md-12" ui-view="design"></div>
  </div>
</section>
<section class="nav-tabs-content">
  <div class="row">
    <div class="col-md-12" ui-view="results"></div>
  </div>
</section>
