<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Parametros de diseño</h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="form-group">
    <div class="nav-tabs-custom" ng-init="parametros = true; construccion = false; voladizos = false;">
      <ul class="nav nav-tabs">
        <li ng-class="{active: parametros}"><a ng-click="parametros = true; construccion = false; voladizos = false; "
                                               data-toggle="tab">Parametros</a></li>
        <li ng-class="{active: construccion}"><a ng-click="parametros = false; construccion = true; voladizos = false; "
                                                 data-toggle="tab">Construcci&oacute;n</a></li>
        <li ng-class="{active: voladizos}"><a ng-click="parametros = false; construccion = false; voladizos = true; "
                                              data-toggle="tab">Voladizos</a></li>

      </ul>
      <div class="tab-content">
        <div class="tab-pane" ng-class="{active: parametros}">
          <div class="row">
            <div class="col-md-8">
              <h5>Deflexi&oacute;n instantanea en la construcci&oacute;n en (m):</h5>
            </div>
            <div class="col-md-4">
              <input type="number" ng-model="vm.dataMetaldeck.defInstConstLong" class="form-control" min="0"
                     step="0.01"/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <h5>Carga viva distribuida de construcci&oacute;n en (Kgf/m<sup>2</sup>):</h5>
            </div>
            <div class="col-md-4">
              <input type="number" ng-model="vm.dataMetaldeck.cargaVivaDistConst" class="form-control" min="0"
                     step="0.01"/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <h5>Deflexi&oacute;n en etapa constructiva (L/??):</h5>
            </div>
            <div class="col-md-4">
              <input type="number" ng-model="vm.dataMetaldeck.defInstConstCarg" class="form-control" min="0"
                     step="0.01"/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <h5>Deflexi&oacute;n en etapa de servicio (L/??):</h5>
            </div>
            <div class="col-md-4">
              <input type="number" ng-model="vm.dataMetaldeck.defSistLosaComp" class="form-control" min="0"
                     step="0.01"/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <h5>f´c (Kgf/m<sup>2</sup>)</h5>
            </div>
            <div class="col-md-4">
              <input type="number" ng-model="vm.dataMetaldeck.parametroFc" ng-blur="vm.chngFc()" class="form-control"
                     min="0" step="0.01"/>
            </div>
          </div>
        </div>
        <div class="tab-pane" ng-class="{active: construccion}">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <h5>
                    <toggle-switch
                      class="optionSwitch"
                      ng-model="vm.dataMetaldeck.soloFormaleta"
                      ng-change="vm.chngSoloFormaleta()"
                      on-label="Sí"
                      off-label="No">
                    </toggle-switch>
                    Solo formaleta
                  </h5>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <h5>
                    <toggle-switch
                      class="optionSwitch"
                      ng-model="vm.dataMetaldeck.momentosNegativos"
                      ng-change="vm.chngMomentosNegativos()"
                      on-label="Sí"
                      off-label="No">
                    </toggle-switch>
                    Momentos Negativos
                  </h5>
                </div>
              </div>
              <div class="row" ng-if="vm.dataMetaldeck.momentosNegativos">
                <div class="col-md-5">
                  <h5>Fy (Kgf/m<sup>2</sup>):</h5>
                </div>
                <div class="col-md-7">
                  <input type="number" ng-model="vm.dataMetaldeck.fy"
                         class="form-control" min="0" step="0.01"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" ng-class="{active: voladizos}">

          <div class="row">
            <div class="col-md-6">

              <div class="row">
                <div class="col-md-12">
                  <h5>
                    <toggle-switch
                      class="optionSwitch"
                      ng-model="vm.dataMetaldeck.firstSupport"
                      ng-change="vm.chngFirstSupport()"
                      on-label="Sí"
                      off-label="No">
                    </toggle-switch>
                    Primer Extremo
                  </h5>
                </div>
              </div>

            </div>
            <div class="col-md-6">

              <div class="row">
                <div class="col-md-12">
                  <h5>
                    <toggle-switch
                      class="optionSwitch"
                      ng-model="vm.dataMetaldeck.lastSupport"
                      ng-change="vm.chngLastSupport()"
                      on-label="Sí"
                      off-label="No">
                    </toggle-switch>
                    Último Extremo
                  </h5>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-sm btn-primary" type="button" ng-click="vm.ok(vm.metalZ)">OK</button>
  <button class="btn btn-sm btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>

