.nav-tabs-header{
  position: fixed;
  width: 100%;
  height: 160px;
  z-index: 100;
  top: 50px;
}

.row.design-header > .col-md-12 > .nav-tabs-custom > .tab-content{
  position: relative;
  height: 80px;
}

div.btns-group-menu{
  white-space: nowrap;
}

div.btns-group-menu.scroll-horizontal{
  overflow-x: scroll;
  white-space: nowrap;
}

.nav-tabs-content{
  margin-top: 135px;
  padding: 10px;
}

.carousel-indicators{
  display: none;
}

.vertical-sliders {
  height: 20vh;
}

.ident-left-1{
  margin-left: 15px
}

.ident-left-2{
  margin-left: 30px
}

.ident-left-3{
  margin-left: 45px
}

.ident-left-4{
  margin-left: 60px
}

.ident-left-5{
  margin-left: 75px
}

ul.nav-tabs li{
  cursor: pointer;
}

