@font-face {
  font-family: 'icomoon';
  src:  url('../../../assets/fonts/icomoon.eot?ee7oom');
  src:  url('../../../assets/fonts/icomoon.eot?ee7oom#iefix') format('embedded-opentype'),
    url('../../../assets/fonts/icomoon.ttf?ee7oom') format('truetype'),
    url('../../../assets/fonts/icomoon.woff?ee7oom') format('woff'),
    url('../../../assets/fonts/icomoon.svg?ee7oom#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-btn_separation:before {
  content: "\e900";
}
.icon-btn_geometry:before {
  content: "\e90f";
}
.icon-btn_speed_map:before {
  content: "\e922";
}
.icon-btn_excel:before {
  content: "\e92f";
}
.icon-btn_modal:before {
  content: "\e92e";
}
.icon-btn_tuboredondocomp2:before {
  content: "\e901";
}
.icon-btn_tuborectcomp2:before {
  content: "\e902";
}
.icon-btn_building_type:before {
  content: "\e903";
}
.icon-btn_c:before {
  content: "\e904";
}
.icon-btn_cajon:before {
  content: "\e905";
}
.icon-btn_calculate:before {
  content: "\e906";
}
.icon-btn_config:before {
  content: "\e907";
}
.icon-btn_cover_type:before {
  content: "\e908";
}
.icon-btn_del_light:before {
  content: "\e909";
}
.icon-btn_design:before {
  content: "\e90a";
}
.icon-btn_distributed:before {
  content: "\e90b";
}
.icon-btn_element_length:before {
  content: "\e90c";
}
.icon-btn_europeo:before {
  content: "\e90d";
}
.icon-btn_exposure:before {
  content: "\e90e";
}
.icon-btn_help:before {
  content: "\e910";
}
.icon-btn_i:before {
  content: "\e911";
}
.icon-btn_joists_des:before {
  content: "\e912";
}
.icon-btn_load_combination:before {
  content: "\e913";
}
.icon-btn_mechanical_prop:before {
  content: "\e914";
}
.icon-btn_mesh:before {
  content: "\e915";
}
.icon-btn_metaldeck_des:before {
  content: "\e916";
}
.icon-btn_occupation:before {
  content: "\e917";
}
.icon-btn_open:before {
  content: "\e918";
}
.icon-btn_plant_width:before {
  content: "\e919";
}
.icon-btn_print_academic:before {
  content: "\e91a";
}
.icon-btn_print_technical:before {
  content: "\e91b";
}
.icon-btn_profiles:before {
  content: "\e91c";
}
.icon-btn_region:before {
  content: "\e91d";
}
.icon-btn_report:before {
  content: "\e91e";
}
.icon-btn_save:before {
  content: "\e91f";
}
.icon-btn_save_as:before {
  content: "\e920";
}
.icon-btn_settings:before {
  content: "\e921";
}
.icon-btn_spot:before {
  content: "\e923";
}
.icon-btn_straps_des:before {
  content: "\e924";
}
.icon-btn_structural_analysis:before {
  content: "\e925";
}
.icon-btn_tuborect:before {
  content: "\e926";
}
.icon-btn_tuboredondo:before {
  content: "\e927";
}
.icon-btn_vibrations:before {
  content: "\e928";
}
.icon-btn_visualization:before {
  content: "\e929";
}
.icon-btn_w:before {
  content: "\e92a";
}
.icon-btn_wind_analysis:before {
  content: "\e92b";
}
.icon-btn_wind_direction:before {
  content: "\e92c";
}
.icon-btn_z:before {
  content: "\e92d";
}
.icon-btn_add_light:before {
  content: "\e930";
}

