@media (min-width: 768px) {

  .nav-tabs-header{
    top: 50px;
  }

  .nav-tabs-header .nav-tabs-custom .tab-content{
    height: 80px !important;
  }

  .nav-tabs-content{
    margin-top: 142px;
    padding: 0 20px 0 20px;
  }

  div.btns-group-menu a.btn.link-app{
    width: 70px;
    height: 60px;
    padding: 10px 2px 10px 2px;
  }

  div.btns-group-menu .fa{
    font-size: 30px;
  }

  div.btns-group-menu .fa.icon-btn_w{
    font-size: 22px;
  }

  .link-app > .icon_btn_w_text {
    font-size: 11px;
    display: block;
  }

  div.btns-group-menu .margin-left-2{
    margin-left: 10px;
  }

  div.btns-group-menu i.fa{
    margin-top: 5px;
  }


  .vertical-sliders {
    height: 12vh;
  }

  .legendWrap.nvd3-svg{
    display: block;
  }

}
