@media (min-width: 360px) {

  .nav-tabs-header{
    top: 100px;
    height: 80px;
  }

  .nav-tabs-header .nav-tabs-custom .tab-content{
    height: 63px !important;
  }

  .nav-tabs-content{
    margin-top: 115px;
    padding: 10px;
  }

  div.btns-group-menu a.btn.link-app{
    height: 40px;
    width: 33px;
    padding: 5px 2px 5px 2px;
  }

  div.btns-group-menu .fa{
    font-size: 13px;
  }

  div.btns-group-menu .fa.icon-btn_w{
    font-size: 10px;
  }

  .link-app > .icon_btn_w_text {
    font-size: 5px;
    display: block;
  }

  div.btns-group-menu .margin-left-2{
    margin-left: 2px;
  }

  div.btns-group-menu i.fa{
    margin-top: 7px;
  }

  .vertical-sliders {
    height: 10vh;
  }


}
