
/* Orientation indicator for the 3D scene view */
#x3domAxisSceneView {
    position: absolute;
    width: 15%;
    height: 15%;
    left: 1%;
    bottom: 5%;
    border: none;
    z-index: 98;
}

/* Orientation box for the 3D scene view */
#x3domOrientationSceneView {
    width: 20%;
    height: 15%;
    position: absolute;
    right: 20px;
    top: 70px;
    border: none;
    float: left;
    z-index: 98;
}

.btn-group-vertical.btn-group-sm {
  position: absolute;
  right: 8%;
  top: 50%;
  float: left;
  z-index: 1000;
}

.btn-sm{
  background-color: #00a4b2 !important;
  color: #ffffff !important;
}
