<div class="nav-tabs-custom" ng-init="perfileria = true">
  <ul class="nav nav-tabs">
    <li ng-class="{active: perfileria}"><a ng-click="perfileria = true; seleccionados=false; resultados = false" data-toggle="tab">Perfiles</a></li>
    <li ng-class="{active: seleccionados}"><a ng-click="perfileria = false;  seleccionados=true; resultados = false" data-toggle="tab">Seleccionados</a></li>
    <li ng-class="{active: resultados}"><a ng-click="perfileria = false; seleccionados=false;  resultados = true" data-toggle="tab">Resultados</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane" ng-class="{active: perfileria}" id="perfileria">
      <div class="row">
        <div class="col-md-12">
          <br />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <br />
        </div>
      </div>
      <div class="row">
       <!-- tabla para perfil uniforme -->
        <div class="col-md-12" ng-show="vm.perfileria.perfilDiseno==1">
          <div class="box box-primary box-solid perfileria-galvanizado" ng-repeat="acabado in vm.perfileria.list">
            <div class="box-header with-border">
              <h3 class="box-title">Acabado {{acabado.acabado}}</h3>
              <div class="box-tools">
                <button type="button" class="btn btn-box-tool" ng-click="vm.isCollapsed($index)" data-widget="collapse"><i class="fa" ng-class="{'fa-plus': acabado.isCollapsed, 'fa-minus': !acabado.isCollapsed}"></i></button>
              </div>
            </div>
            <div class="box-body no-padding" uib-collapse="acabado.isCollapsed" ng-init="acabado.isCollapsed = true">
              <table class="table table-hover table-striped">
                <thead>
                  <tr ng-init="acabado.isCheckAll = false">
                    <th>
                      <input type="checkbox" ng-model="acabado.isCheckAll" ng-checked="vm.content(vm.perfileria.selecteds, acabado.perfiles)" ng-click="vm.isCheckAll(acabado)">
                    </th>
                    <th ng-if="vm.perfileria.currentPerfilType ==1
                     || vm.perfileria.currentPerfilType == 3
                     || vm.perfileria.currentPerfilType == 5
                     || vm.perfileria.currentPerfilType == 7
                     || vm.perfileria.currentPerfilType == 9
                     || vm.perfileria.currentPerfilType == 14">A</th>
                    <th ng-if="vm.perfileria.currentPerfilType ==10 || vm.perfileria.currentPerfilType == 15">D</th>
                    <th ng-if="vm.perfileria.currentPerfilType ==1
                     || vm.perfileria.currentPerfilType == 3
                     || vm.perfileria.currentPerfilType == 5
                     || vm.perfileria.currentPerfilType == 7
                     || vm.perfileria.currentPerfilType == 9
                     || vm.perfileria.currentPerfilType == 14">B</th>
                    <th ng-if="vm.perfileria.currentPerfilType ==1
                     || vm.perfileria.currentPerfilType == 3
                     || vm.perfileria.currentPerfilType == 5
                     || vm.perfileria.currentPerfilType == 7">C</th>
                    <th ng-if="vm.perfileria.currentPerfilType ==1
                     || vm.perfileria.currentPerfilType == 3
                     || vm.perfileria.currentPerfilType == 5
                     || vm.perfileria.currentPerfilType == 7
                     || vm.perfileria.currentPerfilType == 9
                     || vm.perfileria.currentPerfilType == 10
                     || vm.perfileria.currentPerfilType == 14
                     || vm.perfileria.currentPerfilType == 15">e</th>
                    <th ng-if="vm.perfileria.currentPerfilType ==11
                     || vm.perfileria.currentPerfilType == 12">Nombre</th>
                    <th>Gr</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="perfil in acabado.perfiles">
                    <td>
                      <input type="checkbox" ng-disabled="vm.atLeasOne(perfil, vm.perfileria.selecteds)" ng-checked="vm.exists(perfil, vm.perfileria.selecteds);" ng-click="vm.toggleSelectPerfil(perfil, $event)">
                    </td>
                    <td ng-if="vm.perfileria.currentPerfilType ==1
                     || vm.perfileria.currentPerfilType == 3
                     || vm.perfileria.currentPerfilType == 5
                     || vm.perfileria.currentPerfilType == 7
                     || vm.perfileria.currentPerfilType == 9
                     || vm.perfileria.currentPerfilType == 10
                     || vm.perfileria.currentPerfilType == 14
                     || vm.perfileria.currentPerfilType == 15">{{perfil.a}}</td>
                    <td ng-if="vm.perfileria.currentPerfilType ==1
                     || vm.perfileria.currentPerfilType == 3
                     || vm.perfileria.currentPerfilType == 5
                     || vm.perfileria.currentPerfilType == 7
                     || vm.perfileria.currentPerfilType == 9
                     || vm.perfileria.currentPerfilType == 14
                     && acabado.perfiles[0].b !== 0">{{perfil.b}}</td>
                    <td ng-if="vm.perfileria.currentPerfilType ==1
                     || vm.perfileria.currentPerfilType == 3
                     || vm.perfileria.currentPerfilType == 5
                     || vm.perfileria.currentPerfilType == 7
                     && acabado.perfiles[0].c !== 0">{{perfil.c}}</td>
                    <td ng-if="vm.perfileria.currentPerfilType ==1
                     || vm.perfileria.currentPerfilType == 3
                     || vm.perfileria.currentPerfilType == 5
                     || vm.perfileria.currentPerfilType == 7
                     || vm.perfileria.currentPerfilType == 9
                     || vm.perfileria.currentPerfilType == 10
                     || vm.perfileria.currentPerfilType == 14
                     || vm.perfileria.currentPerfilType == 15">{{perfil.espesorFinal}}</td>
                    <td ng-if="vm.perfileria.currentPerfilType ==11
                     || vm.perfileria.currentPerfilType == 12">{{perfil.nombre}}</td>
                    <td>{{perfil.material.grado}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- listado de perfil variable -->
        <div class="col-md-12" ng-show="vm.perfileria.perfilDiseno==2">
          <div class="box box-primary box-solid perfileria-galvanizado" ng-repeat="acabado in vm.perfileria.list ">
            <div class="box-header with-border">
              <h3 class="box-title">Acabado {{acabado.acabado}}</h3>
              <div class="box-tools">
                <button type="button" class="btn btn-box-tool" ng-click="vm.isCollapsed($index)" data-widget="collapse"><i class="fa" ng-class="{'fa-plus': acabado.isCollapsed, 'fa-minus': !acabado.isCollapsed}"></i></button>
              </div>
            </div>
            <div class="box-body no-padding" uib-collapse="acabado.isCollapsed" ng-init="acabado.isCollapsed = true">
              <table class="table table-hover table-striped">
                <thead>
                  <tr ng-init="acabado.isCheckAll = false">
                    <th>
                      <input type="checkbox" ng-disabled="vm.perfileria.perfilDiseno==2">
                    </th>
                    <th ng-if="vm.perfileria.currentPerfilType ==1
                     || vm.perfileria.currentPerfilType == 3
                     || vm.perfileria.currentPerfilType == 5
                     || vm.perfileria.currentPerfilType == 7
                     || vm.perfileria.currentPerfilType == 9
                     || vm.perfileria.currentPerfilType == 14">A</th>
                    <th ng-if="vm.perfileria.currentPerfilType ==10 || vm.perfileria.currentPerfilType == 15">D</th>
                    <th ng-if="vm.perfileria.currentPerfilType ==1
                     || vm.perfileria.currentPerfilType == 3
                     || vm.perfileria.currentPerfilType == 5
                     || vm.perfileria.currentPerfilType == 7
                     || vm.perfileria.currentPerfilType == 9
                     || vm.perfileria.currentPerfilType == 14">B</th>
                    <th ng-if="vm.perfileria.currentPerfilType ==1
                     || vm.perfileria.currentPerfilType == 3
                     || vm.perfileria.currentPerfilType == 5
                     || vm.perfileria.currentPerfilType == 7">C</th>
                    <th>Gr</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="grupo in acabado.perfiles | groupBy: '[a,b,c,material.grado]' track by $index">
                    <td>
                      <input type="checkbox" ng-disabled="vm.atLeasOne(grupo[0], vm.perfileria.selecteds)" ng-checked="grupo[0].checked" ng-click="vm.updateSelection(grupo, $event, $index, acabado.perfiles)">
                    </td>
                    <td ng-if="vm.perfileria.currentPerfilType == 1
                     || vm.perfileria.currentPerfilType == 3
                     || vm.perfileria.currentPerfilType == 5
                     || vm.perfileria.currentPerfilType == 7
                     || vm.perfileria.currentPerfilType == 9
                     || vm.perfileria.currentPerfilType == 10
                     || vm.perfileria.currentPerfilType == 14
                     || vm.perfileria.currentPerfilType == 15">{{grupo[0].a}}</td>
                    <td ng-if="vm.perfileria.currentPerfilType ==1
                     || vm.perfileria.currentPerfilType == 3
                     || vm.perfileria.currentPerfilType == 5
                     || vm.perfileria.currentPerfilType == 7
                     || vm.perfileria.currentPerfilType == 9
                     || vm.perfileria.currentPerfilType == 14
                     && acabado.perfiles[0].b !== 0">{{grupo[0].b}}</td>
                    <td ng-if="vm.perfileria.currentPerfilType ==1
                     || vm.perfileria.currentPerfilType == 3
                     || vm.perfileria.currentPerfilType == 5
                     || vm.perfileria.currentPerfilType == 7
                     && acabado.perfiles[0].c !== 0">{{grupo[0].c}}</td>
                    <td>{{grupo[0].material.grado}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- optimizacion de acabados -->
        <div class="col-md-12" ng-show="vm.perfileria.perfilDiseno==3">
          <div class="box box-primary box-solid perfileria-galvanizado" ng-repeat="acabado in vm.perfileria.list ">
            <div class="box-header with-border">
              <h3 class="box-title">Acabado {{acabado.acabado}}</h3>
              <div class="box-tools">
                <button type="button" class="btn btn-box-tool" ng-click="vm.isCollapsed($index)" data-widget="collapse"><i class="fa" ng-class="{'fa-plus': acabado.isCollapsed, 'fa-minus': !acabado.isCollapsed}"></i></button>
              </div>
            </div>
            <div class="box-body no-padding" uib-collapse="acabado.isCollapsed" ng-init="acabado.isCollapsed = true">
              <table class="table table-hover table-striped">
                <thead>
                  <tr ng-init="acabado.isCheckAll = false">
                    <th>
                      <input type="checkbox" ng-model="acabado.isCheckAll" ng-checked="vm.content(vm.perfileria.selecteds, acabado.perfiles)" ng-click="vm.isCheckAll(acabado)">
                    </th>
                    <th ng-if="vm.perfileria.currentPerfilType ==1
                     || vm.perfileria.currentPerfilType == 3
                     || vm.perfileria.currentPerfilType == 5
                     || vm.perfileria.currentPerfilType == 7
                     || vm.perfileria.currentPerfilType == 9
                     || vm.perfileria.currentPerfilType == 14">A</th>
                    <th ng-if="vm.perfileria.currentPerfilType ==10 || vm.perfileria.currentPerfilType == 15">D</th>
                    <th ng-if="vm.perfileria.currentPerfilType ==1
                     || vm.perfileria.currentPerfilType == 3
                     || vm.perfileria.currentPerfilType == 5
                     || vm.perfileria.currentPerfilType == 7
                     || vm.perfileria.currentPerfilType == 9
                     || vm.perfileria.currentPerfilType == 14">B</th>
                    <th ng-if="vm.perfileria.currentPerfilType ==1
                     || vm.perfileria.currentPerfilType == 3
                     || vm.perfileria.currentPerfilType == 5
                     || vm.perfileria.currentPerfilType == 7">C</th>
                    <th>Gr</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="grupo in acabado.perfiles | groupBy: '[a,b,c,material.grado]' track by $index">
                    <td>
                      <input type="checkbox" ng-disabled="vm.atLeasOne(grupo[0], vm.perfileria.selecteds)" ng-checked="vm.exists(grupo[0], vm.perfileria.selecteds);" ng-click="vm.toggleSelectPerfil(grupo[0], $event)">
                    </td>
                    <td ng-if="vm.perfileria.currentPerfilType == 1
                     || vm.perfileria.currentPerfilType == 3
                     || vm.perfileria.currentPerfilType == 5
                     || vm.perfileria.currentPerfilType == 7
                     || vm.perfileria.currentPerfilType == 9
                     || vm.perfileria.currentPerfilType == 10
                     || vm.perfileria.currentPerfilType == 14
                     || vm.perfileria.currentPerfilType == 15">{{grupo[0].a}}</td>
                    <td ng-if="vm.perfileria.currentPerfilType ==1
                     || vm.perfileria.currentPerfilType == 3
                     || vm.perfileria.currentPerfilType == 5
                     || vm.perfileria.currentPerfilType == 7
                     || vm.perfileria.currentPerfilType == 9
                     || vm.perfileria.currentPerfilType == 14
                     && acabado.perfiles[0].b !== 0">{{grupo[0].b}}</td>
                    <td ng-if="vm.perfileria.currentPerfilType ==1
                     || vm.perfileria.currentPerfilType == 3
                     || vm.perfileria.currentPerfilType == 5
                     || vm.perfileria.currentPerfilType == 7
                     && acabado.perfiles[0].c !== 0">{{grupo[0].c}}</td>
                    <td>{{grupo[0].material.grado}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" ng-class="{active: seleccionados}" id="seleccionados">
      <div class="row">
        <div class="col-md-12" style="padding-bottom: 20px">
          <div ng-show="vm.perfileria.perfilDiseno == 1  || vm.perfileria.perfilDiseno == 3">
            <button type="button" class="btn btn-block btn-primary" ng-disabled="vm.perfileria.selecteds.length==1" ng-click="vm.eliminarSeleccionados(vm.perfileria.selecteds)">Eliminar los marcados en la lista de selección</button>
          </div>
          <div ng-show="vm.perfileria.perfilDiseno == 2">
            <button type="button" class="btn btn-block btn-primary" ng-click="vm.openModalChangeEspesor()">Modificar espesores de los perfiles en los vanos</button>
          </div>
        </div>
        <!-- perfil C -->
        <div class="col-md-12" ng-show="(vm.perfileria.selecteds | selectedsByTipoP: 1).length > 0">
          <div class="box box-primary box-solid perfileria-galvanizado">
            <div class="box-header with-border">
              <h3 class="box-title">Perfil C </h3>
              <div class="box-tools">
                <button type="button" class="btn btn-box-tool" ng-model="vm.collapsePerfilC" ng-click="vm.collapsePerfilC=!vm.collapsePerfilC" data-widget="collapse"><i class="fa" ng-class="{'fa-plus': vm.collapsePerfilC, 'fa-minus': !vm.collapsePerfilC}"></i></button>
              </div>
            </div>
            <div class="box-body no-padding" uib-collapse="vm.collapsePerfilC" ng-init="vm.collapsePerfilC = false">
              <div class="box box-primary box-solid perfileria-galvanizado" ng-show="(vm.perfileria.selecteds | selectedsByTipoP: 1 | selectedsByAcabadoP:'N').length > 0 ">
                <div class="box-header with-border">
                  <h3 class="box-title">Acabado Negro</h3>
                  <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" ng-model="vm.anPerfilC" ng-click="vm.anPerfilC = !vm.anPerfilC " data-widget="collapse"><i class="fa" ng-class="{'fa-plus': vm.anPerfilC, 'fa-minus': !vm.anPerfilC}"></i></button>
                  </div>
                </div>
                <!-- construccion tablas de acabados -->
                <div class="box-body no-padding" uib-collapse="vm.anPerfilC" ng-init="vm.anPerfilC = false">
                  <!-- tabla para diseño uniforme  en perfil c-->
                  <table class="table table-hover table-striped" ng-show="vm.perfileria.perfilDiseno==1 && (vm.perfileria.selecteds | selectedsByTipoP: 1 | selectedsByAcabadoP:'N').length > 0">
                    <tr>
                      <td>
                        <input type="checkbox" ng-click="vm.checkDeletePerfil(1,'N',vm.perfileria.selecteds, $event)">
                      </td>
                      <th>Geometría</th>
                      <th>Grado</th>
                      <th>Peso</th>
                    </tr>
                    <tr ng-repeat="perfil in vm.perfileria.selecteds | selectedsByTipoP: 1 | selectedsByAcabadoP:'N' track by $index">
                      <td>
                        <input type="checkbox" ng-model="perfil.checked">
                      </td>
                      <td>{{perfil.nombre}}</td>
                      <td>{{perfil.material.grado}}</td>
                      <td>{{perfil.peso | round:2}}</td>
                    </tr>
                  </table>
                  <!-- tabla para diseño variable y optimizacion de acabados en perfil c-->
                  <table class="table table-hover table-striped" ng-show="(vm.perfileria.perfilDiseno==2 || vm.perfileria.perfilDiseno==3) && (vm.perfileria.selecteds | selectedsByTipoP: 1 | selectedsByAcabadoP:'N').length > 0">
                    <tr>
                      <td ng-hide="vm.perfileria.perfilDiseno==2">
                        <input type="checkbox" ng-click="vm.checkDeletePerfil(1,'N',vm.perfileria.selecteds, $event)">
                      </td>
                      <th ng-show="vm.perfileria.perfilDiseno==2">Vano</th>
                      <th>Geometría</th>
                      <th>Grado</th>
                      <th ng-hide="vm.perfileria.perfilDiseno==3">Peso</th>
                      <th ng-show="vm.perfileria.perfilDiseno==2">Espesor</th>
                    </tr>
                    <tr ng-repeat="perfil in vm.perfileria.selecteds | selectedsByTipoP: 1 | selectedsByAcabadoP:'N'| groupBy: '[a,b,c,material.grado]' track by $index">
                      <td ng-hide="vm.perfileria.perfilDiseno==2">
                        <input type="checkbox" ng-model="perfil[0].checked">
                      </td>
                      <td ng-show="vm.perfileria.perfilDiseno==2">{{}}</td>
                      <td>{{perfil[0].nombre}}</td>
                      <td>{{perfil[0].material.grado}}</td>
                      <td ng-hide="vm.perfileria.perfilDiseno==3">{{perfil[0].peso | round:2}}</td>
                      <td ng-show="vm.perfileria.perfilDiseno==2">{{perfil[0].espesorFinal}}</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="box box-primary box-solid perfileria-galvanizado" ng-show="(vm.perfileria.selecteds | selectedsByTipoP: 1 | selectedsByAcabadoP:'G').length > 0 ">
                <div class="box-header with-border">
                  <h3 class="box-title">Acabado Galvanizado</h3>
                  <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" ng-model="vm.agPerfilC" ng-click="vm.agPerfilC = !vm.agPerfilC" data-widget="collapse"><i class="fa" ng-class="{'fa-plus': vm.agPerfilC, 'fa-minus': !vm.agPerfilC}"></i></button>
                  </div>
                </div>
                <!-- construccion tablas de acabados -->
                <div class="box-body no-padding" uib-collapse="vm.agPerfilC" ng-init="vm.agPerfilC = false">
                  <table class="table table-hover table-striped" ng-show="vm.perfileria.perfilDiseno==1 && (vm.perfileria.selecteds | selectedsByTipoP: 1 | selectedsByAcabadoP:'G').length > 0">
                    <tr>
                      <td>
                        <input type="checkbox" ng-click="vm.checkDeletePerfil(1,'G',vm.perfileria.selecteds, $event)">
                      </td>
                      <th>Geometría</th>
                      <th>Grado</th>
                      <th>Peso</th>
                    </tr>
                    <tr ng-repeat="perfil in vm.perfileria.selecteds | selectedsByTipoP: 1 | selectedsByAcabadoP:'G' track by $index">
                      <td>
                        <input type="checkbox" ng-model="perfil.checked">
                      </td>
                      <td>{{perfil.nombre}}</td>
                      <td>{{perfil.material.grado}}</td>
                      <td>{{perfil.peso | round:2}}</td>
                    </tr>
                  </table>
                  <table class="table table-hover table-striped" ng-show="(vm.perfileria.perfilDiseno==2 || vm.perfileria.perfilDiseno==3) && (vm.perfileria.selecteds | selectedsByTipoP: 1 | selectedsByAcabadoP:'G').length > 0">
                    <tr>
                      <td ng-hide="vm.perfileria.perfilDiseno==2">
                        <input type="checkbox" ng-click="vm.checkDeletePerfil(1,'G',vm.perfileria.selecteds, $event)">
                      </td>
                      <th ng-show="vm.perfileria.perfilDiseno==2">Vano</th>
                      <th>Geometría</th>
                      <th>Grado</th>
                      <th ng-hide="vm.perfileria.perfilDiseno==3">Peso</th>
                      <th ng-show="vm.perfileria.perfilDiseno==2">Espesor</th>
                    </tr>
                    <tr ng-repeat="perfil in vm.perfileria.selecteds | selectedsByTipoP: 1 | selectedsByAcabadoP:'G'| groupBy: '[a,b,c,material.grado]' track by $index">
                      <td ng-hide="vm.perfileria.perfilDiseno==2">
                        <input type="checkbox" ng-model="perfil[0].checked">
                      </td>
                      <th ng-show="vm.perfileria.perfilDiseno==2">{{}}</th>
                      <td>{{perfil[0].nombre}}</td>
                      <td>{{perfil[0].material.grado}}</td>
                      <td ng-hide="vm.perfileria.perfilDiseno==3">{{perfil[0].peso | round:2}}</td>
                      <td ng-show="vm.perfileria.perfilDiseno==2">{{perfil[0].espesorFinal}}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- perfil Z -->
        <div class="col-md-12" ng-show="(vm.perfileria.selecteds | selectedsByTipoP: 3).length > 0 ">
          <div class="box box-primary box-solid perfileria-galvanizado">
            <div class="box-header with-border">
              <h3 class="box-title">Perfil Z </h3>
              <div class="box-tools">
                <button type="button" class="btn btn-box-tool" ng-click="vm.collapsePerfilZ=!vm.collapsePerfilZ " data-widget="collapse"><i class="fa" ng-class="{'fa-plus': vm.collapsePerfilZ, 'fa-minus': !vm.collapsePerfilZ}"></i></button>
              </div>
            </div>
            <!-- construccion tablas de acabados -->
            <div class="box-body no-padding" uib-collapse="vm.collapsePerfilZ" ng-init="vm.collapsePerfilZ = false">
              <div class="box box-primary box-solid perfileria-galvanizado" ng-show="(vm.perfileria.selecteds | selectedsByTipoP: 3 | selectedsByAcabadoP:'N').length > 0 ">
                <div class="box-header with-border">
                  <h3 class="box-title">Acabado Negro</h3>
                  <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" ng-model="vm.anPerfilZ" ng-click="vm.anPerfilZ =! vm.anPerfilZ" data-widget="collapse"><i class="fa" ng-class="{'fa-plus': vm.anPerfilZ, 'fa-minus': !vm.anPerfilZ}"></i></button>
                  </div>
                </div>
                <!-- construccion tablas de diseños uniformes-->
                <div class="box-body no-padding" uib-collapse="vm.anPerfilZ" ng-init="vm.anPerfilZ = false">
                  <!-- tabla para diseños d -->
                  <table class="table table-hover table-striped" ng-show="vm.perfileria.perfilDiseno==1 && (vm.perfileria.selecteds | selectedsByTipoP: 3 | selectedsByAcabadoP:'N').length > 0">
                    <tr>
                      <td>
                        <input type="checkbox" ng-model="perfil.checked" ng-click="vm.checkDeletePerfil(3,'N',vm.perfileria.selecteds, $event)">
                      </td>
                      <th>Geometría</th>
                      <th>Grado</th>
                      <th>Peso</th>
                    </tr>
                    <tr ng-repeat="perfil in vm.perfileria.selecteds | selectedsByTipoP: 3 | selectedsByAcabadoP:'N' track by $index">
                      <td>
                        <input type="checkbox" ng-model="perfil.checked">
                      </td>
                      <td>{{perfil.nombre}}</td>
                      <td>{{perfil.material.grado}}</td>
                      <td>{{perfil.peso | round:2}}</td>
                    </tr>
                  </table>
                  <!-- tabla para diseños variables y optimizacion de acabados -->
                  <table class="table table-hover table-striped" ng-show="(vm.perfileria.perfilDiseno==2 || vm.perfileria.perfilDiseno==3) && (vm.perfileria.selecteds | selectedsByTipoP: 3 | selectedsByAcabadoP:'N').length > 0">
                    <tr>
                      <td ng-hide="vm.perfileria.perfilDiseno==2">
                        <input type="checkbox" ng-model="perfil.checked" ng-click="vm.checkDeletePerfil(3,'N',vm.perfileria.selecteds, $event)">
                      </td>
                      <th ng-show="vm.perfileria.perfilDiseno==2">Vano</th>
                      <th>Geometría</th>
                      <th>Grado</th>
                      <th ng-hide="vm.perfileria.perfilDiseno==3">Peso</th>
                      <th ng-show="vm.perfileria.perfilDiseno==2">Espesor</th>
                    </tr>
                    <tr ng-repeat="perfil in vm.perfileria.selecteds | selectedsByTipoP: 3 | selectedsByAcabadoP:'N' | groupBy: '[a,b,c,material.grado]' track by $index">
                      <td ng-hide="vm.perfileria.perfilDiseno==2">
                        <input type="checkbox" ng-model="perfil[0].checked">
                      </td>
                      <td ng-show="vm.perfileria.perfilDiseno==2"></td>
                      <td>{{perfil[0].nombre}}</td>
                      <td>{{perfil[0].material.grado}}</td>
                      <td ng-hide="vm.perfileria.perfilDiseno==3">{{perfil[0].peso | round:2}}</td>
                      <td ng-show="vm.perfileria.perfilDiseno==2">{{perfil[0].espesorFinal}}</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="box box-primary box-solid perfileria-galvanizado" ng-show="(vm.perfileria.selecteds | selectedsByTipoP: 3 | selectedsByAcabadoP:'G').length > 0 ">
                <div class="box-header with-border">
                  <h3 class="box-title">Acabado Galvanizado</h3>
                  <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" ng-model="vm.agPerfilZ" ng-click="vm.agPerfilZ=!vm.agPerfilZ" data-widget="collapse"><i class="fa" ng-class="{'fa-plus': vm.agPerfilZ, 'fa-minus': !vm.agPerfilZ}"></i></button>
                  </div>
                </div>
                <!-- construccion tablas de acabados -->
                <div class="box-body no-padding" uib-collapse="vm.agPerfilZ" ng-init="vm.agPerfilZ = false">
                  <table class="table table-hover table-striped" ng-show="vm.perfileria.perfilDiseno==1 && (vm.perfileria.selecteds | selectedsByTipoP: 3 | selectedsByAcabadoP:'G').length > 0">
                    <tr>
                      <td>
                        <input type="checkbox" ng-click="vm.checkDeletePerfil(3,'G',vm.perfileria.selecteds, $event)">
                      </td>
                      <th>Geometría</th>
                      <th>Grado</th>
                      <th>Peso</th>
                    </tr>
                    <tr ng-repeat="perfil in vm.perfileria.selecteds | selectedsByTipoP: 3 | selectedsByAcabadoP:'G' track by $index">
                      <td>
                        <input type="checkbox" ng-model="perfil.checked">
                      </td>
                      <td>{{perfil.nombre}}</td>
                      <td>{{perfil.material.grado}}</td>
                      <td>{{perfil.peso | round:2}}</td>
                    </tr>
                  </table>
                  <table class="table table-hover table-striped" ng-show="(vm.perfileria.perfilDiseno==2 || vm.perfileria.perfilDiseno==3) && (vm.perfileria.selecteds | selectedsByTipoP: 3 | selectedsByAcabadoP:'G').length > 0">
                    <tr>
                      <td ng-hide="vm.perfileria.perfilDiseno==2">
                        <input type="checkbox" ng-click="vm.checkDeletePerfil(3,'G',vm.perfileria.selecteds, $event)">
                      </td>
                      <td ng-show="vm.perfileria.perfilDiseno==2"></td>
                      <th>Geometría</th>
                      <th>Grado</th>
                      <th ng-hide="vm.perfileria.perfilDiseno==3">Peso</th>
                      <th ng-show="vm.perfileria.perfilDiseno==2">Espesor</th>
                    </tr>
                    <tr ng-repeat="perfil in vm.perfileria.selecteds | selectedsByTipoP: 3 | selectedsByAcabadoP:'G'| groupBy: '[a,b,c,material.grado]' track by $index">
                      <td ng-hide="vm.perfileria.perfilDiseno==2">
                        <input type="checkbox" ng-model="perfil[0].checked">
                      </td>
                      <td ng-show="vm.perfileria.perfilDiseno==2"></td>
                      <td>{{perfil[0].nombre}}</td>
                      <td>{{perfil[0].material.grado}}</td>
                      <td ng-hide="vm.perfileria.perfilDiseno==3">{{perfil[0].peso | round:2}}</td>
                      <td ng-show="vm.perfileria.perfilDiseno==2">{{perfil[0].espesorFinal}}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- perfil I-->
        <div class="col-md-12" ng-show="(vm.perfileria.selecteds | selectedsByTipoP: 5 ).length > 0 ">
          <div class="box box-primary box-solid perfileria-galvanizado">
            <div class="box-header with-border">
              <h3 class="box-title">Perfil I </h3>
              <div class="box-tools">
                <button type="button" class="btn btn-box-tool" ng-model="vm.collapsePerfilI" ng-click="vm.collapsePerfilI=!vm.collapsePerfilI" data-widget="collapse"><i class="fa" ng-class="{'fa-plus': vm.collapsePerfilI, 'fa-minus': !vm.collapsePerfilI}"></i></button>
              </div>
            </div>
            <!-- construccion tablas de acabados -->
            <div class="box-body no-padding" uib-collapse="vm.collapsePerfilI" ng-init="vm.collapsePerfilI= false">
              <div class="box box-primary box-solid perfileria-galvanizado" ng-show="vm.perfileria.perfilDiseno==1 && (vm.perfileria.selecteds | selectedsByTipoP: 5 | selectedsByAcabadoP:'N').length > 0">
                <div class="box-header with-border">
                  <h3 class="box-title">Acabado Negro</h3>
                  <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" ng-model="vm.anPerfilI" ng-click="vm.anPerfilI=!vm.anPerfilI" data-widget="collapse"><i class="fa" ng-class="{'fa-plus': vm.anPerfilI, 'fa-minus': !vm.anPerfilI}"></i></button>
                  </div>
                </div>
                <!-- construccion tablas de acabados -->
                <div class="box-body no-padding" uib-collapse="vm.anPerfilI" ng-init="vm.anPerfilI = false">
                  <!-- tabla para diseño uniforme -->
                  <table class="table table-hover table-striped" ng-show="vm.perfileria.perfilDiseno==1 && (vm.perfileria.selecteds | selectedsByTipoP: 5 | selectedsByAcabadoP:'N').length > 0">
                    <tr>
                      <td>
                        <input type="checkbox" ng-click="vm.checkDeletePerfil(5,'N',vm.perfileria.selecteds, $event)">
                      </td>
                      <th>Geometría</th>
                      <th>Grado</th>
                      <th>Peso</th>
                    </tr>
                    <tr ng-repeat="perfil in vm.perfileria.selecteds | selectedsByTipoP: 5 | selectedsByAcabadoP:'N' track by $index">
                      <td>
                        <input type="checkbox" ng-model="perfil.checked">
                      </td>
                      <td>{{perfil.nombre}}</td>
                      <td>{{perfil.material.grado}}</td>
                      <td>{{perfil.peso | round:2}}</td>
                    </tr>
                  </table>
                  <!-- tabla para diseño variable y optimizacion de acabados -->
                  <table class="table table-hover table-striped" ng-show="(vm.perfileria.perfilDiseno==2 || vm.perfileria.perfilDiseno==3) && (vm.perfileria.selecteds | selectedsByTipoP: 5 | selectedsByAcabadoP:'N').length > 0">
                    <tr>
                      <td ng-hide="vm.perfileria.perfilDiseno==2">
                        <input type="checkbox" ng-click="vm.checkDeletePerfil(5,'N',vm.perfileria.selecteds, $event)">
                      </td>
                      <th ng-show="vm.perfileria.perfilDiseno==2">Vano</th>
                      <th>Geometría</th>
                      <th>Grado</th>
                      <th ng-hide="vm.perfileria.perfilDiseno==3">Peso</th>
                      <th ng-show="vm.perfileria.perfilDiseno==2">Espesor</th>
                    </tr>
                    <tr ng-repeat="perfil in vm.perfileria.selecteds | selectedsByTipoP: 5 | selectedsByAcabadoP:'N'| groupBy: '[a,b,c,material.grado]' track by $index">
                      <td ng-hide="vm.perfileria.perfilDiseno==2">
                        <input type="checkbox" ng-model="perfil[0].checked">
                      </td>
                      <td ng-show="vm.perfileria.perfilDiseno==2"></td>
                      <td>{{perfil[0].nombre}}</td>
                      <td>{{perfil[0].material.grado}}</td>
                      <td ng-hide="vm.perfileria.perfilDiseno==3">{{perfil[0].peso | round:2}}</td>
                      <td ng-show="vm.perfileria.perfilDiseno==2">{{perfil[0].espesorFinal}}</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="box box-primary box-solid perfileria-galvanizado" ng-show="(vm.perfileria.selecteds | selectedsByTipoP: 5 | selectedsByAcabadoP:'G').length > 0 ">
                <div class="box-header with-border">
                  <h3 class="box-title">Acabado Galvanizado</h3>
                  <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" ng-model="vm.agPerfilI" ng-click="vm.agPerfilI=!vm.agPerfilI" data-widget="collapse"><i class="fa" ng-class="{'fa-plus': vm.agPerfilI, 'fa-minus': !vm.agPerfilI}"></i></button>
                  </div>
                </div>
                <!-- construccion tablas de acabados -->
                <div class="box-body no-padding" uib-collapse="vm.agPerfilI" ng-init="vm.agPerfilI = false">
                  <!-- tabla para el diseño de perfil uniforme -->
                  <table class="table table-hover table-striped" ng-show="vm.perfileria.perfilDiseno==1 && (vm.perfileria.selecteds | selectedsByTipoP: 5 | selectedsByAcabadoP:'G').length > 0">
                    <tr>
                      <td>
                        <input type="checkbox" ng-click="vm.checkDeletePerfil(5,'G',vm.perfileria.selecteds, $event)">
                      </td>
                      <th>Geometría</th>
                      <th>Grado</th>
                      <th>Peso</th>
                    </tr>
                    <tr ng-repeat="perfil in vm.perfileria.selecteds | selectedsByTipoP: 5 | selectedsByAcabadoP:'G' track by $index">
                      <td>
                        <input type="checkbox" ng-model="perfil.checked">
                      </td>
                      <td ng-show="vm.perfileria.perfilDiseno==2"></td>
                      <td>{{perfil.nombre}}</td>
                      <td>{{perfil.material.grado}}</td>
                      <td>{{perfil.peso | round:2}}</td>
                    </tr>
                  </table>
                  <!-- tabla para el diseño variable y optimizacion de acabados -->
                  <table class="table table-hover table-striped" ng-show="(vm.perfileria.perfilDiseno==2 || vm.perfileria.perfilDiseno==3) && (vm.perfileria.selecteds | selectedsByTipoP: 5 | selectedsByAcabadoP:'G').length > 0">
                    <tr>
                      <td ng-hide="vm.perfileria.perfilDiseno==2">
                        <input type="checkbox" ng-click="vm.checkDeletePerfil(5,'G',vm.perfileria.selecteds, $event)">
                      </td>
                      <th ng-show="vm.perfileria.perfilDiseno==2">Vano</th>
                      <th>Geometría</th>
                      <th>Grado</th>
                      <th ng-hide="vm.perfileria.perfilDiseno==3">Peso</th>
                      <th ng-show="vm.perfileria.perfilDiseno==2">Espesor</th>
                    </tr>
                    <tr ng-repeat="perfil in vm.perfileria.selecteds | selectedsByTipoP: 5 | selectedsByAcabadoP:'G'| groupBy: '[a,b,c,material.grado]' track by $index">
                      <td ng-hide="vm.perfileria.perfilDiseno==2">
                        <input type="checkbox" ng-model="perfil[0].checked">
                      </td>
                      <td ng-show="vm.perfileria.perfilDiseno==2"></td>
                      <td>{{perfil[0].nombre}}</td>
                      <td>{{perfil[0].material.grado}}</td>
                      <td ng-hide="vm.perfileria.perfilDiseno==3">{{perfil[0].peso | round:2}}</td>
                      <td ng-show="vm.perfileria.perfilDiseno==2">{{perfil[0].espesorFinal}}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--perfil Cajon  -->
        <div class="col-md-12" ng-show="(vm.perfileria.selecteds | selectedsByTipoP: 7 ).length > 0 ">
          <div class="box box-primary box-solid perfileria-galvanizado">
            <div class="box-header with-border">
              <h3 class="box-title">Perfil Cajón </h3>
              <div class="box-tools">
                <button type="button" class="btn btn-box-tool" ng-model="vm.collapsePerfilCajon" ng-click="vm.collapsePerfilCajon = !vm.collapsePerfilCajon" data-widget="collapse"><i class="fa" ng-class="{'fa-plus': vm.collapsePerfilCajon, 'fa-minus': !vm.collapsePerfilCajon}"></i></button>
              </div>
            </div>
            <!-- construccion tablas de acabados -->
            <div class="box-body no-padding" uib-collapse="vm.collapsePerfilCajon" ng-init="vm.collapsePerfilCajon = false">
              <div class="box box-primary box-solid perfileria-galvanizado" ng-show="(vm.perfileria.selecteds | selectedsByTipoP: 7 | selectedsByAcabadoP:'N').length > 0 ">
                <div class="box-header with-border">
                  <h3 class="box-title">Acabado Negro</h3>
                  <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" ng-model="vm.anPerfilCajon" ng-click="vm.anPerfilCajon=!vm.anPerfilCajon" data-widget="collapse"><i class="fa" ng-class="{'fa-plus': vm.anPerfilCajon, 'fa-minus': !vm.anPerfilCajon}"></i></button>
                  </div>
                </div>
                <!-- construccion tablas de acabados -->
                <div class="box-body no-padding" uib-collapse="vm.anPerfilCajon" ng-init="vm.anPerfilCajon = false">
                  <!-- tabla de diseño con perfil uniforme -->
                  <table class="table table-hover table-striped" ng-show="vm.perfileria.perfilDiseno==1 && (vm.perfileria.selecteds | selectedsByTipoP: 7 | selectedsByAcabadoP:'N').length > 0">
                    <tr>
                      <td>
                        <input type="checkbox" ng-click="vm.checkDeletePerfil(7,'N',vm.perfileria.selecteds, $event)">
                      </td>
                      <th>Geometría</th>
                      <th>Grado</th>
                      <th>Peso</th>
                    </tr>
                    <tr ng-repeat="perfil in vm.perfileria.selecteds | selectedsByTipoP: 7 | selectedsByAcabadoP:'N' track by $index">
                      <td>
                        <input type="checkbox" ng-model="perfil.checked">
                      </td>
                      <td>{{perfil.nombre}}</td>
                      <td>{{perfil.material.grado}}</td>
                      <td>{{perfil.peso | round:2}}</td>
                    </tr>
                  </table>
                  <!-- tabla de diseño con perfil uniforme -->
                  <table class="table table-hover table-striped" ng-show="(vm.perfileria.perfilDiseno==2 || vm.perfileria.perfilDiseno==3) && (vm.perfileria.selecteds | selectedsByTipoP: 7 | selectedsByAcabadoP:'N').length > 0">
                    <tr>
                      <td ng-hide="vm.perfileria.perfilDiseno==2">
                        <input type="checkbox" ng-click="vm.checkDeletePerfil(7,'N',vm.perfileria.selecteds, $event)">
                      </td>
                      <th ng-hide="vm.perfileria.perfilDiseno==2">Vano</th>
                      <th>Geometría</th>
                      <th>Grado</th>
                      <th ng-hide="vm.perfileria.perfilDiseno==3">Peso</th>
                      <th ng-hide="vm.perfileria.perfilDiseno==2">Espesor</th>
                    </tr>
                    <tr ng-repeat="perfil in vm.perfileria.selecteds | selectedsByTipoP: 7 | selectedsByAcabadoP:'N'| groupBy: '[a,b,c,material.grado]' track by $index">
                      <td ng-hide="vm.perfileria.perfilDiseno==2">
                        <input type="checkbox" ng-model="perfil[0].checked">
                      </td>
                      <td ng-hide="vm.perfileria.perfilDiseno==2"></td>
                      <td>{{perfil[0].nombre}}</td>
                      <td>{{perfil[0].material.grado}}</td>
                      <td ng-hide="vm.perfileria.perfilDiseno==3">{{perfil[0].peso | round:2}}</td>
                      <td ng-hide="vm.perfileria.perfilDiseno==2">{{perfil[0].espesorFinal}}</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="box box-primary box-solid perfileria-galvanizado" ng-show="(vm.perfileria.selecteds | selectedsByTipoP: 7 | selectedsByAcabadoP:'G').length > 0 ">
                <div class="box-header with-border">
                  <h3 class="box-title">Acabado Galvanizado</h3>
                  <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" ng-model="vm.agPerfilCajon" ng-click="vm.agPerfilCajon=!vm.agPerfilCajon" data-widget="collapse"><i class="fa" ng-class="{'fa-plus': vm.agPerfilCajon, 'fa-minus': !vm.agPerfilCajon}"></i></button>
                  </div>
                </div>
                <!-- construccion tablas de acabados -->
                <div class="box-body no-padding" uib-collapse="vm.agPerfilCajon" ng-init="vm.agPerfilCajon = false">
                  <!-- tabla para diseño de perfil uniforme en acabado galvanizado-->
                  <table class="table table-hover table-striped" ng-show="vm.perfileria.perfilDiseno==1 && (vm.perfileria.selecteds | selectedsByTipoP: 7 | selectedsByAcabadoP:'G').length > 0">
                    <tr>
                      <td>
                        <input type="checkbox" ng-click="vm.checkDeletePerfil(7,'G',vm.perfileria.selecteds, $event)">
                      </td>
                      <th>Geometría</th>
                      <th>Grado</th>
                      <th>Peso</th>
                    </tr>
                    <tr ng-repeat="perfil in vm.perfileria.selecteds | selectedsByTipoP: 7 | selectedsByAcabadoP:'G' track by $index">
                      <td>
                        <input type="checkbox" ng-model="perfil.checked">
                      </td>
                      <td>{{perfil.nombre}}</td>
                      <td>{{perfil.material.grado}}</td>
                      <td>{{perfil.peso | round:2}}</td>
                    </tr>
                  </table>
                  <!-- tabla para diseño de perfil variable en acabado galvanizado-->
                  <table class="table table-hover table-striped" ng-show="(vm.perfileria.perfilDiseno==2 || vm.perfileria.perfilDiseno==3) && (vm.perfileria.selecteds | selectedsByTipoP: 7 | selectedsByAcabadoP:'G').length > 0">
                    <tr>
                      <td ng-hide="vm.perfileria.perfilDiseno==2">
                        <input type="checkbox" ng-click="vm.checkDeletePerfil(7,'G',vm.perfileria.selecteds, $event)">
                      </td>
                      <th ng-show="vm.perfileria.perfilDiseno==2">Vano</th>
                      <th>Geometría</th>
                      <th>Grado</th>
                      <th ng-hide="vm.perfileria.perfilDiseno==3">Peso</th>
                      <th ng-show="vm.perfileria.perfilDiseno==2">Espesor</th>
                    </tr>
                    <tr ng-repeat="perfil in vm.perfileria.selecteds | selectedsByTipoP: 7 | selectedsByAcabadoP:'G'| groupBy: '[a,b,c,material.grado]' track by $index">
                      <td ng-hide="vm.perfileria.perfilDiseno==2">
                        <input type="checkbox" ng-model="perfil[0].checked">
                      </td>
                      <td ng-show="vm.perfileria.perfilDiseno==2"></td>
                      <td>{{perfil[0].nombre}}</td>
                      <td>{{perfil[0].material.grado}}</td>
                      <td ng-hide="vm.perfileria.perfilDiseno==3">{{perfil[0].peso | round:2}}</td>
                      <td ng-show="vm.perfileria.perfilDiseno==2">{{perfil[0].espesorFinal}}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Tuberia Rectangular -->
        <div class="col-md-12" ng-show="(vm.perfileria.selecteds | selectedsByTipoP: 9 ).length > 0 ">
          <div class="box box-primary box-solid perfileria-galvanizado">
            <div class="box-header with-border">
              <h3 class="box-title">Tubería Rectangular</h3>
              <div class="box-tools">
                <button type="button" class="btn btn-box-tool" ng-model="vm.collapseRectangular" ng-click="vm.collapseRectangular=!vm.collapseRectangular" data-widget="collapse"><i class="fa" ng-class="{'fa-plus': vm.collapseRectangular, 'fa-minus': !vm.collapseRectangular}"></i></button>
              </div>
            </div>
            <!-- construccion tablas de acabados -->
            <div class="box-body no-padding" uib-collapse="vm.collapseRectangular" ng-init="vm.collapseRectangular = false">
              <div class="box box-primary box-solid perfileria-galvanizado" ng-show="(vm.perfileria.selecteds | selectedsByTipoP: 9 | selectedsByAcabadoP:'N').length > 0 ">
                <div class="box-header with-border">
                  <h3 class="box-title">Acabado Negro</h3>
                  <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" ng-model="vm.anTuberiaRectangular" ng-click="vm.anTuberiaRectangular=!vm.anTuberiaRectangular" data-widget="collapse"><i class="fa" ng-class="{'fa-plus': vm.anTuberiaRectangular, 'fa-minus': !vm.anTuberiaRectangular}"></i></button>
                  </div>
                </div>
                <!-- construccion tablas de acabados -->
                <div class="box-body no-padding" uib-collapse="vm.anTuberiaRectangular" ng-init="vm.anTuberiaRectangular = false">
                  <!-- perfil uniforme en acabado galvanizado -->
                  <table class="table table-hover table-striped" ng-show="vm.perfileria.perfilDiseno==1 && (vm.perfileria.selecteds | selectedsByTipoP: 9 | selectedsByAcabadoP:'N').length > 0">
                    <tr>
                      <td>
                        <input type="checkbox" ng-click="vm.checkDeletePerfil(9,'N',vm.perfileria.selecteds, $event)">
                      </td>
                      <th>Geometría</th>
                      <th>Grado</th>
                      <th>Peso</th>
                    </tr>
                    <tr ng-repeat="perfil in vm.perfileria.selecteds | selectedsByTipoP: 9 | selectedsByAcabadoP:'N' track by $index">
                      <td>
                        <input type="checkbox" ng-model="perfil.checked">
                      </td>
                      <td>{{perfil.nombre}}</td>
                      <td>{{perfil.material.grado}}</td>
                      <td>{{perfil.peso | round:2}}</td>
                    </tr>
                  </table>
                  <!-- tabla en perfil variable en acabado negro -->
                  <table class="table table-hover table-striped" ng-show="(vm.perfileria.perfilDiseno==2 || vm.perfileria.perfilDiseno==3) && (vm.perfileria.selecteds | selectedsByTipoP: 9 | selectedsByAcabadoP:'N').length > 0">
                    <tr>
                      <td ng-hide="vm.perfileria.perfilDiseno==2">
                        <input type="checkbox" ng-click="vm.checkDeletePerfil(9,'N',vm.perfileria.selecteds, $event)">
                      </td>
                      <th ng-show="vm.perfileria.perfilDiseno==2">Vano</th>
                      <th>Geometría</th>
                      <th>Grado</th>
                      <th ng-hide="vm.perfileria.perfilDiseno==3">Peso</th>
                      <td ng-show="vm.perfileria.perfilDiseno==2">Espesor</td>
                    </tr>
                    <tr ng-repeat="perfil in vm.perfileria.selecteds | selectedsByTipoP: 9 | selectedsByAcabadoP:'N'| groupBy: '[a,b,c,material.grado]' track by $index">
                      <td ng-hide="vm.perfileria.perfilDiseno==2">
                        <input type="checkbox" ng-model="perfil[0].checked">
                      </td>
                      <td ng-show="vm.perfileria.perfilDiseno==2"></td>
                      <td>{{perfil[0].nombre}}</td>
                      <td>{{perfil[0].material.grado}}</td>
                      <td ng-hide="vm.perfileria.perfilDiseno==3">{{perfil[0].peso | round:2}}</td>
                      <td ng-show="vm.perfileria.perfilDiseno==2">{{perfil[0].espesorFinal}}</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="box box-primary box-solid perfileria-galvanizado" ng-show="(vm.perfileria.selecteds | selectedsByTipoP: 9 | selectedsByAcabadoP:'G').length > 0 ">
                <div class="box-header with-border">
                  <h3 class="box-title">Acabado Galvanizado</h3>
                  <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" ng-model="vm.agTuberiaRectangular" ng-click="vm.agTuberiaRectangular=!vm.agTuberiaRectangular" data-widget="collapse"><i class="fa" ng-class="{'fa-plus': vm.agTuberiaRectangular, 'fa-minus': !vm.agTuberiaRectangular}"></i></button>
                  </div>
                </div>
                <!-- construccion tablas de acabados -->
                <div class="box-body no-padding" uib-collapse="vm.agTuberiaRectangular" ng-init="vm.agTuberiaRectangular = false">
                  <!-- tabla de diseño con perfil uniforme -->
                  <table class="table table-hover table-striped" ng-show="vm.perfileria.perfilDiseno==1 && (vm.perfileria.selecteds | selectedsByTipoP: 9 | selectedsByAcabadoP:'G').length > 0">
                    <tr>
                      <td>
                        <input type="checkbox" ng-click="vm.checkDeletePerfil(9,'G',vm.perfileria.selecteds, $event)">
                      </td>
                      <th>Geometría</th>
                      <th>Grado</th>
                      <th>Peso</th>
                    </tr>
                    <tr ng-repeat="perfil in vm.perfileria.selecteds | selectedsByTipoP: 9 | selectedsByAcabadoP:'G' track by $index">
                      <td>
                        <input type="checkbox" ng-model="perfil.checked">
                      </td>
                      <td>{{perfil.nombre}}</td>
                      <td>{{perfil.material.grado}}</td>
                      <td>{{perfil.peso | round:2}}</td>
                    </tr>
                  </table>
                  <!-- tabla de diseño con perfil variable -->
                  <table class="table table-hover table-striped" ng-show="(vm.perfileria.perfilDiseno==2 || vm.perfileria.perfilDiseno==3) && (vm.perfileria.selecteds | selectedsByTipoP: 9 | selectedsByAcabadoP:'G').length > 0">
                    <tr>
                      <td ng-hide="vm.perfileria.perfilDiseno==2">
                        <input type="checkbox" ng-click="vm.checkDeletePerfil(9,'G',vm.perfileria.selecteds, $event)">
                      </td>
                      <th ng-show="vm.perfileria.perfilDiseno==2">Vano</th>
                      <th>Geometría</th>
                      <th>Grado</th>
                      <th ng-hide="vm.perfileria.perfilDiseno==3">Peso</th>
                      <th ng-show="vm.perfileria.perfilDiseno==2">Espesor</th>
                    </tr>
                    <tr ng-repeat="perfil in vm.perfileria.selecteds | selectedsByTipoP: 9 | selectedsByAcabadoP:'G'| groupBy: '[a,b,c,material.grado]' track by $index">
                      <td ng-hide="vm.perfileria.perfilDiseno==2">
                        <input type="checkbox" ng-model="perfil[0].checked">
                      </td>
                      <th ng-show="vm.perfileria.perfilDiseno==2"></th>
                      <td>{{perfil[0].nombre}}</td>
                      <td>{{perfil[0].material.grado}}</td>
                      <td ng-hide="vm.perfileria.perfilDiseno==3">{{perfil[0].peso | round:2}}</td>
                      <td ng-show="vm.perfileria.perfilDiseno==2">{{perfil[0].espesorFinal}}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- tuberia circular -->
        <div class="col-md-12" ng-show="(vm.perfileria.selecteds | selectedsByTipoP: 10 ).length > 0 ">
          <div class="box box-primary box-solid perfileria-galvanizado">
            <div class="box-header with-border">
              <h3 class="box-title">Tubería Circular</h3>
              <div class="box-tools">
                <button type="button" class="btn btn-box-tool" ng-model="vm.collapseTuberiaCircular" ng-click="vm.collapseTuberiaCircular = !vm.collapseTuberiaCircular" data-widget="collapse"><i class="fa" ng-class="{'fa-plus': vm.collapseTuberiaCircular, 'fa-minus': !vm.collapseTuberiaCircular}"></i></button>
              </div>
            </div>
            <div class="box-body no-padding" uib-collapse="vm.collapseTuberiaCircular" ng-init="vm.collapseTuberiaCircular = false">
              <div class="box box-primary box-solid perfileria-galvanizado" ng-show="(vm.perfileria.selecteds | selectedsByTipoP: 10 | selectedsByAcabadoP:'N').length > 0 ">
                <div class="box-header with-border">
                  <h3 class="box-title">Acabado Negro</h3>
                  <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" ng-model="vm.anTuberiaCircular" ng-click="vm.anTuberiaCircular=!vm.anTuberiaCircular" data-widget="collapse"><i class="fa" ng-class="{'fa-plus': vm.anTuberiaCircular, 'fa-minus': !vm.anTuberiaCircular}"></i></button>
                  </div>
                </div>
                <!-- construccion tablas de acabados -->
                <div class="box-body no-padding" uib-collapse="vm.anTuberiaCircular" ng-init="vm.anTuberiaCircular = false">
                  <!-- tabla para diseño uniforme -->
                  <table class="table table-hover table-striped" ng-show="vm.perfileria.perfilDiseno==1 && (vm.perfileria.selecteds | selectedsByTipoP: 10 | selectedsByAcabadoP:'N').length > 0">
                    <tr>
                      <td>
                        <input type="checkbox" ng-click="vm.checkDeletePerfil(10,'N',vm.perfileria.selecteds, $event)">
                      </td>
                      <th>Geometría</th>
                      <th>Grado</th>
                      <th>Peso</th>
                    </tr>
                    <tr ng-repeat="perfil in vm.perfileria.selecteds | selectedsByTipoP: 10 | selectedsByAcabadoP:'N' track by $index">
                      <td>
                        <input type="checkbox" ng-model="perfil.checked">
                      </td>
                      <td>{{perfil.nombre}}</td>
                      <td>{{perfil.material.grado}}</td>
                      <td>{{perfil.peso | round:2}}</td>
                    </tr>
                  </table>
                  <!-- tabla para diseño variable  -->
                  <table class="table table-hover table-striped" ng-show="(vm.perfileria.perfilDiseno==2 || vm.perfileria.perfilDiseno==3) && (vm.perfileria.selecteds | selectedsByTipoP: 10 | selectedsByAcabadoP:'N').length > 0">
                    <tr>
                      <td ng-hide="vm.perfileria.perfilDiseno==2">
                        <input type="checkbox" ng-click="vm.checkDeletePerfil(10,'N',vm.perfileria.selecteds, $event)">
                      </td>
                      <th ng-show="vm.perfileria.perfilDiseno==2">Vano</th>
                      <th>Geometría</th>
                      <th>Grado</th>
                      <th ng-hide="vm.perfileria.perfilDiseno==3">Peso</th>
                      <th ng-show="vm.perfileria.perfilDiseno==2">Espesor</th>
                    </tr>
                    <tr ng-repeat="perfil in vm.perfileria.selecteds | selectedsByTipoP: 10 | selectedsByAcabadoP:'N'| groupBy: '[a,b,c,material.grado]' track by $index">
                      <td ng-hide="vm.perfileria.perfilDiseno==2">
                        <input type="checkbox" ng-model="perfil[0].checked">
                      </td>
                      <td ng-show="vm.perfileria.perfilDiseno==2"></td>
                      <td>{{perfil[0].nombre}}</td>
                      <td>{{perfil[0].material.grado}}</td>
                      <td ng-hide="vm.perfileria.perfilDiseno==3">{{perfil[0].peso | round:2}}</td>
                      <td ng-show="vm.perfileria.perfilDiseno==2">{{perfil[0].espesorFinal}}</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="box box-primary box-solid perfileria-galvanizado" ng-show="(vm.perfileria.selecteds | selectedsByTipoP: 10 | selectedsByAcabadoP:'G').length > 0 ">
                <div class="box-header with-border">
                  <h3 class="box-title">Acabado Galvanizado</h3>
                  <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" ng-model="vm.agTuberiaCircular" ng-click="vm.agTuberiaCircular=!vm.agTuberiaCircular" data-widget="collapse"><i class="fa" ng-class="{'fa-plus': vm.agTuberiaCircular, 'fa-minus': !vm.agTuberiaCircular}"></i></button>
                  </div>
                </div>
                <!-- construccion tablas de acabados -->
                <div class="box-body no-padding" uib-collapse="vm.agTuberiaCircular" ng-init="vm.agTuberiaCircular = false">
                  <!-- tabla para diseño uniforme -->
                  <table class="table table-hover table-striped" ng-show="vm.perfileria.perfilDiseno==1 && (vm.perfileria.selecteds | selectedsByTipoP: 10 | selectedsByAcabadoP:'G').length > 0">
                    <tr>
                      <td>
                        <input type="checkbox" ng-click="vm.checkDeletePerfil(10,'G',vm.perfileria.selecteds, $event)">
                      </td>
                      <th>Geometría</th>
                      <th>Grado</th>
                      <th>Peso</th>
                    </tr>
                    <tr ng-repeat="perfil in vm.perfileria.selecteds | selectedsByTipoP: 10 | selectedsByAcabadoP:'G' track by $index">
                      <td>
                        <input type="checkbox" ng-model="perfil.checked">
                      </td>
                      <td>{{perfil.nombre}}</td>
                      <td>{{perfil.material.grado}}</td>
                      <td>{{perfil.peso | round:2}}</td>
                    </tr>
                  </table>
                  <!-- tabla para diseño variable -->
                  <table class="table table-hover table-striped" ng-show="(vm.perfileria.perfilDiseno==2 || vm.perfileria.perfilDiseno==3) && (vm.perfileria.selecteds | selectedsByTipoP: 10 | selectedsByAcabadoP:'G').length > 0">
                    <tr>
                      <td ng-hide="vm.perfileria.perfilDiseno==2">
                        <input type="checkbox" ng-click="vm.checkDeletePerfil(10,'G',vm.perfileria.selecteds, $event)">
                      </td>
                      <th ng-show="vm.perfileria.perfilDiseno==2">Vano</th>
                      <th>Geometría</th>
                      <th>Grado</th>
                      <th ng-hide="vm.perfileria.perfilDiseno==3">Peso</th>
                      <th ng-show="vm.perfileria.perfilDiseno==2">Espesor</th>
                    </tr>
                    <tr ng-repeat="perfil in vm.perfileria.selecteds | selectedsByTipoP: 10 | selectedsByAcabadoP:'G'| groupBy: '[a,b,c,material.grado]' track by $index">
                      <td ng-hide="vm.perfileria.perfilDiseno==2">
                        <input type="checkbox" ng-model="perfil[0].checked">
                      </td>
                      <td ng-show="vm.perfileria.perfilDiseno==2"></td>
                      <td>{{perfil[0].nombre}}</td>
                      <td>{{perfil[0].material.grado}}</td>
                      <td ng-hide="vm.perfileria.perfilDiseno==3">{{perfil[0].peso | round:2}}</td>
                      <td ng-show="vm.perfileria.perfilDiseno==2">{{perfil[0].espesorFinal}}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" ng-class="{active: resultados}" id="resultados">
      <div class="row">
        <div class="col-md-12">
          <div class="content-overflow-full">
            <table class="table table-hover table-striped">
              <tr>
                <th>Altenativas para construir placa</th>
                <th>Cumple</th>
                <th>Razón</th>
              </tr>
              <tr ng-repeat="resultado in vm.dataMetaldeck.report.resultado">
                <td>{{resultado.metaldeck}}</td>
                <td ng-if="resultado.cumplimiento" class="text-green"><i class="fa fa-check"></i>Sí</td>
                <td ng-if="!resultado.cumplimiento" class="text-red"><i class="fa fa-times"></i>No</td>
                <td>{{resultado.razon}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
