<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg style="width: 100%"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:cc="http://creativecommons.org/ns#"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:svg="http://www.w3.org/2000/svg"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
  xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
  height="250"
  version="1.1"
  viewBox="0 0 206 151"
  width="350"
  id="svg9"
  sodipodi:docname="profile.7.2.svg"
  inkscape:version="0.92.1 r15371">
  <metadata
    id="metadata13">
    <rdf:RDF>
      <cc:Work
        rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
          rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title />
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <sodipodi:namedview
    pagecolor="#ffffff"
    bordercolor="#666666"
    borderopacity="1"
    objecttolerance="10"
    gridtolerance="10"
    guidetolerance="10"
    inkscape:pageopacity="0"
    inkscape:pageshadow="2"
    inkscape:window-width="1366"
    inkscape:window-height="746"
    id="namedview11"
    showgrid="false"
    inkscape:zoom="0.99999999"
    inkscape:cx="-152.2252"
    inkscape:cy="148.82466"
    inkscape:window-x="1358"
    inkscape:window-y="-8"
    inkscape:window-maximized="1"
    inkscape:current-layer="svg9" />
  <defs
    id="defs4">
    <pattern
      y="0"
      x="0"
      height="6"
      width="6"
      patternUnits="userSpaceOnUse"
      id="EMFhbasepattern" />
  </defs>
  <g
    transform="matrix(3.7795275,0,0,3.7795275,-224.53476,228.42483)"
    style="display:inline;opacity:1;fill:#ffffff"
    id="g8730">
    <g
      style="fill:#ffffff"
      transform="translate(60.864842,-79.375007)"
      id="g4874">
      <text
         id="text4868"
         y="52.305744"
         x="11.3595"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:3.52777767px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         xml:space="preserve"><tspan
           class="text-svg"
           y="52.305744"
           x="11.3595"
           id="tspan4866"
           sodipodi:role="line">A={{propiedades.a}}</tspan></text>
      <text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:3.52777767px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         x="11.517975"
         y="56.374924"
         id="text4872"><tspan
           sodipodi:role="line"
           id="tspan4870"
           x="11.517975"
           y="56.374924"
           class="text-svg">C={{propiedades.c}}</tspan></text>
    </g>
    <g
      style="fill:#ffffff"
      transform="translate(60.870607,-79.375007)"
      id="g4884">
      <text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:3.52777767px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         x="29.807297"
         y="52.305744"
         id="text4878"><tspan
           sodipodi:role="line"
           id="tspan4876"
           x="29.807297"
           y="52.305744"
           class="text-svg">B={{propiedades.b}}</tspan></text>
      <text
         id="text4882"
         y="56.374924"
         x="30.110466"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:3.52777767px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         xml:space="preserve"><tspan
           class="text-svg"
           y="56.374924"
           x="30.110466"
           id="tspan4880"
           sodipodi:role="line">e={{propiedades.espesor}}</tspan></text>
    </g>
    <path
      id="path4890"
      d="m 97.657253,-52.893637 c 0,-0.4827 -0.388437,-0.87153 -0.871137,-0.87153 H 75.850323 c -0.4827,0 -0.871138,0.38883 -0.871138,0.87153 v 7.25278 c 0,0.4827 0.388438,0.87153 0.871138,0.87153 h 6.6222 v -2.41301 h -4.89985 v -4.16982 h 17.491094 v 4.16982 h -4.89946 v 2.41301 h 6.621809 c 0.4827,0 0.871137,-0.38883 0.871137,-0.87153 z"
      style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.49534428;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
      inkscape:connector-curvature="0"
      sodipodi:nodetypes="ssssssccccccccsss" />
    <rect
      transform="matrix(0,1,1,0,0,0)"
      y="88.940727"
      x="-57.135326"
      height="9.260417"
      width="0.26458332"
      id="rect4892"
      style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.35712183;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
    <g
      style="fill:#ffffff"
      transform="rotate(90,97.004804,24.881755)"
      id="g4900">
      <g
        style="fill:#ffffff"
        id="g4898">
        <rect
          transform="scale(1,-1)"
          y="-24.501154"
          x="14.200633"
          height="0.26458332"
          width="2.6458333"
          id="rect4894"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
        <rect
          transform="scale(1,-1)"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect4896"
          width="0.52916664"
          height="0.52916664"
          x="14.855443"
          y="-24.633446" />
      </g>
    </g>
    <text
       id="text4904"
       y="-56.264233"
       x="85.602951"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:2.46944451px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       xml:space="preserve"><tspan
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:2.46944451px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;stroke-width:0.06624397px"
         y="-56.264233"
         x="85.602951"
         id="tspan4902"
         sodipodi:role="line">A</tspan></text>
    <rect
      transform="rotate(90)"
      style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.35712183;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
      id="rect4906"
      width="0.26458332"
      height="9.260417"
      x="-57.135326"
      y="-83.788002" />
    <g
      style="fill:#ffffff"
      transform="matrix(0,1,1,0,50.84216,-72.123057)"
      id="g4914">
      <g
        style="fill:#ffffff"
        id="g4912">
        <rect
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect4908"
          width="2.6458333"
          height="0.26458332"
          x="14.200633"
          y="-24.501154"
          transform="scale(1,-1)" />
        <rect
          y="-24.633446"
          x="14.855443"
          height="0.52916664"
          width="0.52916664"
          id="rect4910"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          transform="scale(1,-1)" />
      </g>
    </g>
    <rect
      style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.82682037;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
      id="rect4916"
      width="0.26458332"
      height="3.4372823"
      x="-100.29139"
      y="-38.134258"
      transform="scale(-1,1)" />
    <g
      style="fill:#ffffff"
      id="g4924"
      transform="rotate(180,57.639561,-5.5057736)">
      <g
        style="fill:#ffffff"
        id="g4922">
        <rect
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect4918"
          width="2.6458333"
          height="0.26458332"
          x="14.200633"
          y="-24.501154"
          transform="scale(1,-1)" />
        <rect
          y="-24.633446"
          x="14.855443"
          height="0.52916664"
          width="0.52916664"
          id="rect4920"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          transform="scale(1,-1)" />
      </g>
    </g>
    <rect
      transform="scale(-1)"
      y="41.339748"
      x="-100.29139"
      height="3.6243711"
      width="0.26458332"
      id="rect4926"
      style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.84902388;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
    <g
      style="fill:#ffffff"
      transform="matrix(-1,0,0,1,115.27913,-68.649527)"
      id="g4934">
      <g
        style="fill:#ffffff"
        id="g4932">
        <rect
          transform="scale(1,-1)"
          y="-24.501154"
          x="14.200633"
          height="0.26458332"
          width="2.6458333"
          id="rect4928"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
        <rect
          transform="scale(1,-1)"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect4930"
          width="0.52916664"
          height="0.52916664"
          x="14.855443"
          y="-24.633446" />
      </g>
    </g>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:2.46944451px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="99.317802"
       y="-38.786999"
       id="text4938"><tspan
         sodipodi:role="line"
         id="tspan4936"
         x="99.317802"
         y="-38.786999"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:2.46944451px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;stroke-width:0.06624397px">B</tspan></text>
    <rect
      style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.7216925;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
      id="rect4940"
      width="0.26458332"
      height="2.6187692"
      x="32.654232"
      y="95.417007"
      transform="rotate(-90)" />
    <g
      style="fill:#ffffff"
      id="g4948"
      transform="matrix(0,-1,-1,0,121.7212,-17.666477)">
      <g
        style="fill:#ffffff"
        id="g4946">
        <rect
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect4942"
          width="2.6458333"
          height="0.26458332"
          x="14.200633"
          y="-24.501154"
          transform="scale(1,-1)" />
        <rect
          y="-24.633446"
          x="14.855443"
          height="0.52916664"
          width="0.52916664"
          id="rect4944"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          transform="scale(1,-1)" />
      </g>
    </g>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:2.46944451px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="92.805389"
       y="-32.149548"
       id="text4952"><tspan
         sodipodi:role="line"
         id="tspan4950"
         x="92.805389"
         y="-32.149548"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:2.46944451px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;stroke-width:0.06624397px">C</tspan></text>
    <rect
      transform="matrix(0,-1,-1,0,0,0)"
      y="-92.040428"
      x="32.654232"
      height="2.6187692"
      width="0.26458332"
      id="rect4954"
      style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.7216925;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
    <g
      style="fill:#ffffff"
      transform="rotate(-90,24.03488,-41.701367)"
      id="g4962">
      <g
        style="fill:#ffffff"
        id="g4960">
        <rect
          transform="scale(1,-1)"
          y="-24.501154"
          x="14.200633"
          height="0.26458332"
          width="2.6458333"
          id="rect4956"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
        <rect
          transform="scale(1,-1)"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect4958"
          width="0.52916664"
          height="0.52916664"
          x="14.855443"
          y="-24.633446" />
      </g>
    </g>
    <rect
      style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.86261088;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
      id="rect4964"
      width="0.26458332"
      height="3.7413013"
      x="-85.043655"
      y="41.086102"
      transform="scale(-1)" />
    <g
      style="fill:#ffffff"
      id="g4970"
      transform="rotate(90,98.935524,22.97276)">
      <rect
        transform="rotate(90)"
        y="-31.705564"
        x="36.346466"
        height="0.26458332"
        width="1.8623993"
        id="rect4966"
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.86867487;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
      <rect
        transform="rotate(90)"
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        id="rect4968"
        width="0.52916664"
        height="0.52916664"
        x="36.732334"
        y="-31.837856" />
    </g>
    <g
      style="fill:#ffffff"
      transform="rotate(90,97.529924,24.378359)"
      id="g4976">
      <rect
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.86867487;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        id="rect4972"
        width="1.8623993"
        height="0.26458332"
        x="36.346466"
        y="-31.705564"
        transform="rotate(90)" />
      <rect
        y="-31.837856"
        x="36.732334"
        height="0.52916664"
        width="0.52916664"
        id="rect4974"
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        transform="rotate(90)" />
    </g>
    <text
       id="text4980"
       y="-42.380322"
       x="85.75927"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:2.46944451px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       xml:space="preserve"><tspan
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:2.46944451px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;stroke-width:0.06624397px"
         y="-42.380322"
         x="85.75927"
         id="tspan4978"
         sodipodi:role="line">e</tspan></text>
    <path
      sodipodi:nodetypes="ssssssccccccccsss"
      inkscape:connector-curvature="0"
      style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.49534428;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
      d="m 97.657253,-36.115857 c 0,0.4827 -0.388437,0.87153 -0.871137,0.87153 H 75.850323 c -0.4827,0 -0.871138,-0.38883 -0.871138,-0.87153 v -7.25278 c 0,-0.4827 0.388438,-0.87153 0.871138,-0.87153 h 6.6222 v 2.41301 h -4.89985 v 4.16982 h 17.491094 v -4.16982 h -4.89946 v -2.41301 h 6.621809 c 0.4827,0 0.871137,0.38883 0.871137,0.87153 z"
      id="path4982" />
  </g>
</svg>
