<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg style="width: 100%"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:cc="http://creativecommons.org/ns#"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:svg="http://www.w3.org/2000/svg"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
  xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
  height="250"
  version="1.1"
  viewBox="0 0 206 151"
  width="350"
  id="svg9"
  sodipodi:docname="profile.10.1.svg"
  inkscape:version="0.92.1 r15371">
  <metadata
    id="metadata13">
    <rdf:RDF>
      <cc:Work
        rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
          rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title />
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <sodipodi:namedview
    pagecolor="#ffffff"
    bordercolor="#666666"
    borderopacity="1"
    objecttolerance="10"
    gridtolerance="10"
    guidetolerance="10"
    inkscape:pageopacity="0"
    inkscape:pageshadow="2"
    inkscape:window-width="1366"
    inkscape:window-height="746"
    id="namedview11"
    showgrid="false"
    inkscape:zoom="1.4142136"
    inkscape:cx="140.1465"
    inkscape:cy="81.916447"
    inkscape:window-x="1358"
    inkscape:window-y="-8"
    inkscape:window-maximized="1"
    inkscape:current-layer="svg9" />
  <defs
    id="defs4">
    <pattern
      y="0"
      x="0"
      height="6"
      width="6"
      patternUnits="userSpaceOnUse"
      id="EMFhbasepattern" />
  </defs>
  <g
    id="g8570">
    <path
      inkscape:connector-curvature="0"
      id="path6711"
      d="m 103.09421,24.24955 a 47.000002,47.000002 0 0 0 -46.999996,47 47.000002,47.000002 0 0 0 46.999996,47 47.000002,47.000002 0 0 0 47,-47 47.000002,47.000002 0 0 0 -47,-47 z m 0,9.40039 A 37.600001,37.600001 0 0 1 140.69382,71.24955 37.600001,37.600001 0 0 1 103.09421,108.84916 37.600001,37.600001 0 0 1 65.494604,71.24955 37.600001,37.600001 0 0 1 103.09421,33.64994 Z"
      style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:8.30939198;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
    <rect
      style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:5.48343039;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
      id="rect4703-4"
      width="0.99999994"
      height="40"
      x="12.26707"
      y="113.2157"
      transform="matrix(0,1,1,0,0,0)" />
    <g
      transform="matrix(0,3.7795275,-3.7795275,0,242.75106,-44.379435)"
      style="fill:#ffffff"
      id="g4709-8">
      <rect
        transform="scale(1,-1)"
        y="-24.501154"
        x="14.200633"
        height="0.26458332"
        width="2.6458333"
        id="rect4705-9"
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
      <rect
        transform="scale(1,-1)"
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        id="rect4707-0"
        width="0.52916664"
        height="0.52916664"
        x="14.855443"
        y="-24.633446" />
    </g>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:9.33333302px;line-height:6.25927305px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.25037089px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;"
       x="99.25367"
       y="15.559451"
       id="text4715-2"><tspan
         sodipodi:role="line"
         id="tspan4713-7"
         x="99.25367"
         y="15.559451"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:9.33333302px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;stroke-width:0.25037089px;">D</tspan></text>
    <rect
      transform="rotate(90)"
      y="-92.631439"
      x="12.26707"
      height="40"
      width="0.99999994"
      id="rect4717-4"
      style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:5.48343039;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
    <g
      transform="matrix(0,3.7795275,3.7795275,0,-36.888265,-44.379469)"
      style="fill:#ffffff"
      id="g4724-8">
      <rect
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        id="rect4719-7"
        width="2.6458333"
        height="0.26458332"
        x="14.200633"
        y="-24.501154"
        transform="scale(1,-1)" />
      <rect
        y="-24.633446"
        x="14.855443"
        height="0.52916664"
        width="0.52916664"
        id="rect4722-3"
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        transform="scale(1,-1)" />
    </g>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:13.33333302px;line-height:6.25927305px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.25037089px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;"
       x="44.99519"
       y="141.80055"
       id="text4802-3"><tspan
         sodipodi:role="line"
         id="tspan4800-0"
         x="44.99519"
         y="141.80055"
         class="text-svg">D={{propiedades.diametro}}</tspan></text>
    <text
       id="text4812-0"
       y="141.80055"
       x="116.45969"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:13.33333302px;line-height:6.25927305px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.25037089px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;"
       xml:space="preserve"><tspan
         class="text-svg"
         y="141.80055"
         x="116.45969"
         id="tspan4810-6"
         sodipodi:role="line">e={{propiedades.espesor}}</tspan></text>
    <g
      style="fill:#808080"
      id="g8543">
      <rect
        transform="rotate(90)"
        y="-157.03421"
        x="71.658699"
        height="23.597904"
        width="0.99999994"
        id="rect5262-1-4-4"
        style="display:inline;opacity:1;fill:#808080;fill-opacity:1;stroke:none;stroke-width:4.21171474;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
      <g
        transform="matrix(3.7795275,0,0,3.7795275,20.797426,-67.672167)"
        id="g5268-8-5-9"
        style="display:inline;opacity:1;fill:#808080;fill-opacity:1">
        <rect
          style="opacity:1;fill:#808080;fill-opacity:1;stroke:none;stroke-width:1.86867487;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect5264-0-6-3"
          width="1.8623993"
          height="0.26458332"
          x="36.346466"
          y="-31.705564"
          transform="rotate(90)" />
        <rect
          y="-31.837856"
          x="36.732334"
          height="0.52916664"
          width="0.52916664"
          id="rect5266-0-9-7"
          style="opacity:1;fill:#808080;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          transform="rotate(90)" />
      </g>
      <g
        id="g5274-3-3-1"
        transform="matrix(3.7795275,0,0,3.7795275,31.289834,-67.672167)"
        style="display:inline;opacity:1;fill:#808080;fill-opacity:1">
        <rect
          transform="rotate(90)"
          y="-31.705564"
          x="36.346466"
          height="0.26458332"
          width="1.8623993"
          id="rect5270-7-4-7"
          style="opacity:1;fill:#808080;fill-opacity:1;stroke:none;stroke-width:1.86867487;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
        <rect
          transform="rotate(90)"
          style="opacity:1;fill:#808080;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect5272-2-1-6"
          width="0.52916664"
          height="0.52916664"
          x="36.732334"
          y="-31.837856" />
      </g>
    </g>
    <text
       id="text5278-6-0-5"
       y="68.567245"
       x="155.04482"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:9.33333302px;line-height:6.25927305px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.25037083px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;"
       xml:space="preserve"><tspan
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:9.33333302px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke-width:0.25037083px;"
         y="68.567245"
         x="155.04482"
         id="tspan5276-6-5-1"
         sodipodi:role="line">e</tspan></text>
  </g>
</svg>
