<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg style="width: 100%"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:cc="http://creativecommons.org/ns#"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:svg="http://www.w3.org/2000/svg"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
  xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
  height="250"
  version="1.1"
  viewBox="0 0 206 151"
  width="350"
  id="svg9"
  sodipodi:docname="profile.1.2.svg"
  inkscape:version="0.92.1 r15371">
  <metadata
    id="metadata13">
    <rdf:RDF>
      <cc:Work
        rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
          rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title />
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <sodipodi:namedview
    pagecolor="#ffffff"
    bordercolor="#666666"
    borderopacity="1"
    objecttolerance="10"
    gridtolerance="10"
    guidetolerance="10"
    inkscape:pageopacity="0"
    inkscape:pageshadow="2"
    inkscape:window-width="1366"
    inkscape:window-height="746"
    id="namedview11"
    showgrid="false"
    inkscape:zoom="0.99999999"
    inkscape:cx="-64.713691"
    inkscape:cy="148.82466"
    inkscape:window-x="1358"
    inkscape:window-y="-8"
    inkscape:window-maximized="1"
    inkscape:current-layer="svg9" />
  <defs
    id="defs4">
    <pattern
      y="0"
      x="0"
      height="6"
      width="6"
      patternUnits="userSpaceOnUse"
      id="EMFhbasepattern" />
  </defs>
  <g
    transform="matrix(3.7795275,0,0,3.7795275,-223.75641,426.56266)"
    id="g8671"
    style="display:inline;opacity:1;fill:#ffffff">
    <g
      transform="translate(0,-132.29167)"
      id="g5159"
      style="fill:#ffffff">
      <path
        id="path4701"
        d="m 100.12273,27.466748 c 0,-0.482699 -0.38844,-0.871527 -0.87114,-0.871527 H 78.315797 c -0.4827,0 -0.871138,0.388828 -0.871138,0.871527 v 14.131943 c 0,0.4827 0.388438,0.87153 0.871138,0.87153 h 6.6222 V 40.05721 h -4.89985 V 29.008229 H 97.529241 V 40.05721 h -4.89946 v 2.413011 h 6.621809 c 0.4827,0 0.87114,-0.38883 0.87114,-0.87153 z"
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.49534428;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        inkscape:connector-curvature="0" />
      <rect
        transform="matrix(0,1,1,0,0,0)"
        y="91.406204"
        x="23.225065"
        height="9.260417"
        width="0.26458332"
        id="rect4703"
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.35712183;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
      <g
        style="fill:#ffffff"
        transform="rotate(90,58.057354,66.294685)"
        id="g4711">
        <g
          style="fill:#ffffff"
          id="g4709">
          <rect
            transform="scale(1,-1)"
            y="-24.501154"
            x="14.200633"
            height="0.26458332"
            width="2.6458333"
            id="rect4705"
            style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
          <rect
            transform="scale(1,-1)"
            style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
            id="rect4707"
            width="0.52916664"
            height="0.52916664"
            x="14.855443"
            y="-24.633446" />
        </g>
      </g>
      <text
         id="text4715"
         y="24.096163"
         x="88.068428"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:2.46944451px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         xml:space="preserve"><tspan
           style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:2.46944451px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;stroke-width:0.06624397px"
           y="24.096163"
           x="88.068428"
           id="tspan4713"
           sodipodi:role="line">A</tspan></text>
      <rect
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.35712183;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        id="rect4717"
        width="0.26458332"
        height="9.260417"
        x="23.225065"
        y="-86.253471"
        transform="rotate(90)" />
      <g
        style="fill:#ffffff"
        transform="matrix(0,1,1,0,53.307635,8.237331)"
        id="g4726">
        <g
          style="fill:#ffffff"
          id="g4724">
          <rect
            style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
            id="rect4719"
            width="2.6458333"
            height="0.26458332"
            x="14.200633"
            y="-24.501154"
            transform="scale(1,-1)" />
          <rect
            y="-24.633446"
            x="14.855443"
            height="0.52916664"
            width="0.52916664"
            id="rect4722"
            style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
            transform="scale(1,-1)" />
        </g>
      </g>
      <rect
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.12680197;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        id="rect4728"
        width="0.26458332"
        height="6.3839288"
        x="74.838173"
        y="36.567513" />
      <g
        style="fill:#ffffff"
        id="g4736"
        transform="matrix(1,0,0,-1,59.85044,66.636858)">
        <g
          style="fill:#ffffff"
          id="g4734">
          <rect
            style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
            id="rect4730"
            width="2.6458333"
            height="0.26458332"
            x="14.200633"
            y="-24.501154"
            transform="scale(1,-1)" />
          <rect
            y="-24.633446"
            x="14.855443"
            height="0.52916664"
            width="0.52916664"
            id="rect4732"
            style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
            transform="scale(1,-1)" />
        </g>
      </g>
      <rect
        transform="scale(1,-1)"
        y="-32.333027"
        x="74.838173"
        height="6.3839288"
        width="0.26458332"
        id="rect4738"
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.12680197;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
      <g
        style="fill:#ffffff"
        transform="translate(59.850441,2.2636838)"
        id="g4746">
        <g
          style="fill:#ffffff"
          id="g4744">
          <rect
            transform="scale(1,-1)"
            y="-24.501154"
            x="14.200633"
            height="0.26458332"
            width="2.6458333"
            id="rect4740"
            style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
          <rect
            transform="scale(1,-1)"
            style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
            id="rect4742"
            width="0.52916664"
            height="0.52916664"
            x="14.855443"
            y="-24.633446" />
        </g>
      </g>
      <text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:2.46944451px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         x="74.208618"
         y="34.955948"
         id="text4750"><tspan
           sodipodi:role="line"
           id="tspan4748"
           x="74.208618"
           y="34.955948"
           style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:2.46944451px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;stroke-width:0.06624397px">B</tspan></text>
      <rect
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.7216925;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        id="rect4752"
        width="0.26458332"
        height="2.6187692"
        x="-44.948956"
        y="98.047852"
        transform="rotate(-90)" />
      <g
        style="fill:#ffffff"
        id="g4760"
        transform="matrix(0,-1,-1,0,124.35204,59.936693)">
        <g
          style="fill:#ffffff"
          id="g4758">
          <rect
            style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
            id="rect4754"
            width="2.6458333"
            height="0.26458332"
            x="14.200633"
            y="-24.501154"
            transform="scale(1,-1)" />
          <rect
            y="-24.633446"
            x="14.855443"
            height="0.52916664"
            width="0.52916664"
            id="rect4756"
            style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
            transform="scale(1,-1)" />
        </g>
      </g>
      <text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:2.46944451px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         x="95.436234"
         y="45.45364"
         id="text4764"><tspan
           sodipodi:role="line"
           id="tspan4762"
           x="95.436234"
           y="45.45364"
           style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:2.46944451px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;stroke-width:0.06624397px">C</tspan></text>
      <rect
        transform="matrix(0,-1,-1,0,0,0)"
        y="-94.671272"
        x="-44.948956"
        height="2.6187692"
        width="0.26458332"
        id="rect4766"
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.7216925;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
      <g
        style="fill:#ffffff"
        transform="rotate(-90,64.15189,-4.2151972)"
        id="g4774">
        <g
          style="fill:#ffffff"
          id="g4772">
          <rect
            transform="scale(1,-1)"
            y="-24.501154"
            x="14.200633"
            height="0.26458332"
            width="2.6458333"
            id="rect4768"
            style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
          <rect
            transform="scale(1,-1)"
            style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
            id="rect4770"
            width="0.52916664"
            height="0.52916664"
            x="14.855443"
            y="-24.633446" />
        </g>
      </g>
      <rect
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.86261088;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        id="rect4776"
        width="0.26458332"
        height="3.7413013"
        x="-87.6745"
        y="-43.114014"
        transform="scale(-1)" />
      <g
        style="fill:#ffffff"
        id="g4782"
        transform="rotate(90,58.150898,66.388229)">
        <rect
          transform="rotate(90)"
          y="-31.705564"
          x="36.346466"
          height="0.26458332"
          width="1.8623993"
          id="rect4778"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.86867487;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
        <rect
          transform="rotate(90)"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect4780"
          width="0.52916664"
          height="0.52916664"
          x="36.732334"
          y="-31.837856" />
      </g>
      <g
        style="fill:#ffffff"
        transform="rotate(90,56.745299,67.793828)"
        id="g4788">
        <rect
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.86867487;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect4784"
          width="1.8623993"
          height="0.26458332"
          x="36.346466"
          y="-31.705564"
          transform="rotate(90)" />
        <rect
          y="-31.837856"
          x="36.732334"
          height="0.52916664"
          width="0.52916664"
          id="rect4786"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          transform="rotate(90)" />
      </g>
      <text
         id="text4792"
         y="41.819786"
         x="88.390106"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:2.46944451px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         xml:space="preserve"><tspan
           style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:2.46944451px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;stroke-width:0.06624397px"
           y="41.819786"
           x="88.390106"
           id="tspan4790"
           sodipodi:role="line">e</tspan></text>
      <g
        transform="translate(60.864843)"
        id="g4804"
        style="fill:#ffffff">
        <text
           id="text4798"
           y="52.305744"
           x="11.3595"
           style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:3.52777767px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
           xml:space="preserve"><tspan
             class="text-svg"
             y="52.305744"
             x="11.3595"
             id="tspan4796"
             sodipodi:role="line">A={{propiedades.a}}</tspan></text>
        <text
           xml:space="preserve"
           style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:3.52777767px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
           x="11.517975"
           y="56.374924"
           id="text4802"><tspan
             sodipodi:role="line"
             id="tspan4800"
             x="11.517975"
             y="56.374924"
             class="text-svg">C={{propiedades.c}}</tspan></text>
      </g>
      <g
        transform="translate(60.870608)"
        id="g4814"
        style="fill:#ffffff">
        <text
           xml:space="preserve"
           style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:3.52777767px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
           x="29.807297"
           y="52.305744"
           id="text4808"><tspan
             sodipodi:role="line"
             id="tspan4806"
             x="29.807297"
             y="52.305744"
             class="text-svg">B={{propiedades.b}}</tspan></text>
        <text
           id="text4812"
           y="56.374924"
           x="30.110466"
           style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:3.52777767px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
           xml:space="preserve"><tspan
             class="text-svg"
             y="56.374924"
             x="30.110466"
             id="tspan4810"
             sodipodi:role="line">e={{propiedades.espesor}}</tspan></text>
      </g>
    </g>
  </g>
</svg>
