<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg style="width: 100%"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:cc="http://creativecommons.org/ns#"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:svg="http://www.w3.org/2000/svg"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
  xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
  height="250"
  version="1.1"
  viewBox="0 0 206 151"
  width="350"
  id="svg9"
  sodipodi:docname="profile.5.1.svg"
  inkscape:version="0.92.1 r15371">
  <metadata
    id="metadata13">
    <rdf:RDF>
      <cc:Work
        rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
          rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title />
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <sodipodi:namedview
    pagecolor="#ffffff"
    bordercolor="#666666"
    borderopacity="1"
    objecttolerance="10"
    gridtolerance="10"
    guidetolerance="10"
    inkscape:pageopacity="0"
    inkscape:pageshadow="2"
    inkscape:window-width="1366"
    inkscape:window-height="746"
    id="namedview11"
    showgrid="false"
    inkscape:zoom="0.99999999"
    inkscape:cx="-171.45553"
    inkscape:cy="148.82466"
    inkscape:window-x="1358"
    inkscape:window-y="-8"
    inkscape:window-maximized="1"
    inkscape:current-layer="svg9" />
  <defs
    id="defs4">
    <pattern
      y="0"
      x="0"
      height="6"
      width="6"
      patternUnits="userSpaceOnUse"
      id="EMFhbasepattern" />
  </defs>
  <g
    transform="matrix(3.7795275,0,0,3.7795275,6.9055135,29.445701)"
    id="g8848"
    style="display:inline;opacity:1;fill:#ffffff">
    <g
      style="fill:#ffffff"
      transform="translate(0.01067515,-26.458334)"
      id="g5172">
      <text
         id="text5166"
         y="52.305744"
         x="11.3595"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:3.52777767px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         xml:space="preserve"><tspan
           class="text-svg"
           y="52.305744"
           x="11.3595"
           id="tspan5164"
           sodipodi:role="line">A={{propiedades.a}}</tspan></text>
      <text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:3.52777767px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         x="11.517975"
         y="56.374924"
         id="text5170"><tspan
           sodipodi:role="line"
           id="tspan5168"
           x="11.517975"
           y="56.374924"
           class="text-svg">C={{propiedades.c}}</tspan></text>
    </g>
    <g
      style="fill:#ffffff"
      transform="translate(0.01644011,-26.458334)"
      id="g5182">
      <text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:3.52777767px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         x="29.807297"
         y="52.305744"
         id="text5176"><tspan
           sodipodi:role="line"
           id="tspan5174"
           x="29.807297"
           y="52.305744"
           class="text-svg">B={{propiedades.b}}</tspan></text>
      <text
         id="text5180"
         y="56.374924"
         x="30.110466"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:3.52777767px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         xml:space="preserve"><tspan
           class="text-svg"
           y="56.374924"
           x="30.110466"
           id="tspan5178"
           sodipodi:role="line">e={{propiedades.espesor}}</tspan></text>
    </g>
    <path
      id="path5188"
      d="m 25.688446,-2.1778645 c 0.482699,0 0.871527,0.38843 0.871527,0.87113 V 19.629066 c 0,0.4827 -0.388828,0.87113 -0.871527,0.87113 H 18.43567 c -0.4827,0 -0.87153,-0.38843 -0.87153,-0.87113 v -6.6222 h 2.413011 v 4.89985 h 4.169814 V 0.41561546 H 19.977151 V 5.3150755 H 17.56414 v -6.62181 c 0,-0.4827 0.38883,-0.87113 0.87153,-0.87113 z"
      style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.49534428;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
      inkscape:connector-curvature="0"
      sodipodi:nodetypes="ssssssccccccccsss" />
    <rect
      transform="scale(1,-1)"
      y="-6.5386548"
      x="14.193985"
      height="9.260417"
      width="0.26458332"
      id="rect5190"
      style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.35712183;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
    <g
      style="fill:#ffffff"
      transform="translate(-0.79374998,-26.407184)"
      id="g5198">
      <g
        style="fill:#ffffff"
        id="g5196">
        <rect
          transform="scale(1,-1)"
          y="-24.501154"
          x="14.200633"
          height="0.26458332"
          width="2.6458333"
          id="rect5192"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
        <rect
          transform="scale(1,-1)"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect5194"
          width="0.52916664"
          height="0.52916664"
          x="14.855443"
          y="-24.633446" />
      </g>
    </g>
    <text
       id="text5202"
       y="9.8875475"
       x="13.36487"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:2.46944451px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       xml:space="preserve"><tspan
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:2.46944451px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;stroke-width:0.06624397px"
         y="9.8875475"
         x="13.36487"
         id="tspan5200"
         sodipodi:role="line">A</tspan></text>
    <rect
      style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.35712183;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
      id="rect5204"
      width="0.26458332"
      height="9.260417"
      x="14.193985"
      y="11.691381" />
    <g
      style="fill:#ffffff"
      transform="matrix(1,0,0,-1,-0.79374998,44.637226)"
      id="g5212">
      <g
        style="fill:#ffffff"
        id="g5210">
        <rect
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect5206"
          width="2.6458333"
          height="0.26458332"
          x="14.200633"
          y="-24.501154"
          transform="scale(1,-1)" />
        <rect
          y="-24.633446"
          x="14.855443"
          height="0.52916664"
          width="0.52916664"
          id="rect5208"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          transform="scale(1,-1)" />
      </g>
    </g>
    <rect
      style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.82682037;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
      id="rect5214"
      width="0.26458332"
      height="3.4372823"
      x="-4.8120074"
      y="33.195057"
      transform="matrix(0,1,1,0,0,0)" />
    <g
      style="fill:#ffffff"
      id="g5222"
      transform="rotate(90,40.058748,20.259009)">
      <g
        style="fill:#ffffff"
        id="g5220">
        <rect
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect5216"
          width="2.6458333"
          height="0.26458332"
          x="14.200633"
          y="-24.501154"
          transform="scale(1,-1)" />
        <rect
          y="-24.633446"
          x="14.855443"
          height="0.52916664"
          width="0.52916664"
          id="rect5218"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          transform="scale(1,-1)" />
      </g>
    </g>
    <rect
      transform="rotate(90)"
      y="-29.989561"
      x="-4.8120074"
      height="3.6243711"
      width="0.26458332"
      id="rect5224"
      style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.84902388;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
    <g
      style="fill:#ffffff"
      transform="matrix(0,1,1,0,2.6797738,-19.799734)"
      id="g5232">
      <g
        style="fill:#ffffff"
        id="g5230">
        <rect
          transform="scale(1,-1)"
          y="-24.501154"
          x="14.200633"
          height="0.26458332"
          width="2.6458333"
          id="rect5226"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
        <rect
          transform="scale(1,-1)"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect5228"
          width="0.52916664"
          height="0.52916664"
          x="14.855443"
          y="-24.633446" />
      </g>
    </g>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:2.46944451px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="30.833466"
       y="-3.8384204"
       id="text5236"><tspan
         sodipodi:role="line"
         id="tspan5234"
         x="30.833466"
         y="-3.8384204"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:2.46944451px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;stroke-width:0.06624397px">B</tspan></text>
    <rect
      style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.7216925;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
      id="rect5238"
      width="0.26458332"
      height="2.6187692"
      x="-38.675079"
      y="-0.062367205"
      transform="scale(-1)" />
    <g
      style="fill:#ffffff"
      id="g5246"
      transform="matrix(-1,0,0,1,53.662819,-26.241814)">
      <g
        style="fill:#ffffff"
        id="g5244">
        <rect
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect5240"
          width="2.6458333"
          height="0.26458332"
          x="14.200633"
          y="-24.501154"
          transform="scale(1,-1)" />
        <rect
          y="-24.633446"
          x="14.855443"
          height="0.52916664"
          width="0.52916664"
          id="rect5242"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          transform="scale(1,-1)" />
      </g>
    </g>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:2.46944451px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="37.499306"
       y="2.7073257"
       id="text5250"><tspan
         sodipodi:role="line"
         id="tspan5248"
         x="37.499306"
         y="2.7073257"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:2.46944451px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;stroke-width:0.06624397px">C</tspan></text>
    <rect
      transform="scale(-1,1)"
      y="3.4389541"
      x="-38.675079"
      height="2.6187692"
      width="0.26458332"
      id="rect5252"
      style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.7216925;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
    <g
      style="fill:#ffffff"
      transform="rotate(-180,26.831409,14.871567)"
      id="g5260">
      <g
        style="fill:#ffffff"
        id="g5258">
        <rect
          transform="scale(1,-1)"
          y="-24.501154"
          x="14.200633"
          height="0.26458332"
          width="2.6458333"
          id="rect5254"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
        <rect
          transform="scale(1,-1)"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect5256"
          width="0.52916664"
          height="0.52916664"
          x="14.855443"
          y="-24.633446" />
      </g>
    </g>
    <rect
      style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.86261088;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
      id="rect5262"
      width="0.26458332"
      height="3.7413013"
      x="10.435719"
      y="-36.76685"
      transform="rotate(90)" />
    <g
      style="fill:#ffffff"
      id="g5268"
      transform="translate(1.8901698,-26.428904)">
      <rect
        transform="rotate(90)"
        y="-31.705564"
        x="36.346466"
        height="0.26458332"
        width="1.8623993"
        id="rect5264"
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.86867487;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
      <rect
        transform="rotate(90)"
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        id="rect5266"
        width="0.52916664"
        height="0.52916664"
        x="36.732334"
        y="-31.837856" />
    </g>
    <g
      style="fill:#ffffff"
      transform="translate(4.7013676,-26.428904)"
      id="g5274">
      <rect
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.86867487;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        id="rect5270"
        width="1.8623993"
        height="0.26458332"
        x="36.346466"
        y="-31.705564"
        transform="rotate(90)" />
      <rect
        y="-31.837856"
        x="36.732334"
        height="0.52916664"
        width="0.52916664"
        id="rect5272"
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        transform="rotate(90)" />
    </g>
    <text
       id="text5278"
       y="9.6645403"
       x="34.125542"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:2.46944451px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       xml:space="preserve"><tspan
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:2.46944451px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;stroke-width:0.06624397px"
         y="9.6645403"
         x="34.125542"
         id="tspan5276"
         sodipodi:role="line">e</tspan></text>
    <path
      sodipodi:nodetypes="ssssssccccccccsss"
      inkscape:connector-curvature="0"
      style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.49534428;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
      d="m 27.960667,-2.1778645 c -0.482699,0 -0.871527,0.38843 -0.871527,0.87113 V 19.629066 c 0,0.4827 0.388828,0.87113 0.871527,0.87113 h 7.252776 c 0.4827,0 0.87153,-0.38843 0.87153,-0.87113 v -6.6222 h -2.413011 v 4.89985 H 29.502148 V 0.41561546 h 4.169814 V 5.3150755 h 2.413011 v -6.62181 c 0,-0.4827 -0.38883,-0.87113 -0.87153,-0.87113 z"
      id="path5280" />
  </g>
</svg>
