<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg style="width: 100%"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:cc="http://creativecommons.org/ns#"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:svg="http://www.w3.org/2000/svg"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
  xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
  height="250"
  version="1.1"
  viewBox="0 0 206 151"
  width="350"
  id="svg9"
  sodipodi:docname="profile.3.2.svg"
  inkscape:version="0.92.1 r15371">
  <metadata
    id="metadata13">
    <rdf:RDF>
      <cc:Work
        rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
          rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title />
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <sodipodi:namedview
    pagecolor="#ffffff"
    bordercolor="#666666"
    borderopacity="1"
    objecttolerance="10"
    gridtolerance="10"
    guidetolerance="10"
    inkscape:pageopacity="0"
    inkscape:pageshadow="2"
    inkscape:window-width="1366"
    inkscape:window-height="746"
    id="namedview11"
    showgrid="false"
    inkscape:zoom="0.99999999"
    inkscape:cx="31.544473"
    inkscape:cy="148.82466"
    inkscape:window-x="1358"
    inkscape:window-y="-8"
    inkscape:window-maximized="1"
    inkscape:current-layer="svg9" />
  <defs
    id="defs4">
    <pattern
      y="0"
      x="0"
      height="6"
      width="6"
      patternUnits="userSpaceOnUse"
      id="EMFhbasepattern" />
  </defs>
  <g
    transform="matrix(3.7795275,0,0,3.7795275,-224.24983,-974.64347)"
    style="display:inline;opacity:1;fill:#ffffff"
    id="g9467">
    <rect
      style="display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.23400044;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
      id="rect7625"
      width="0.26458332"
      height="7.6563807"
      x="-284.73035"
      y="-85.830238"
      transform="matrix(0,-1,-1,0,0,0)" />
    <g
      style="display:inline;opacity:1;fill:#ffffff"
      id="g7633"
      transform="rotate(-90,177.10325,122.61481)">
      <g
        id="g7631"
        style="fill:#ffffff">
        <rect
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect7627"
          width="2.6458333"
          height="0.26458332"
          x="14.200633"
          y="-24.501154"
          transform="scale(1,-1)" />
        <rect
          y="-24.633446"
          x="14.855443"
          height="0.52916664"
          width="0.52916664"
          id="rect7629"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          transform="scale(1,-1)" />
      </g>
    </g>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:2.46944427px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624396px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="87.396233"
       y="285.42172"
       id="text7637"><tspan
         sodipodi:role="line"
         id="tspan7635"
         x="87.396233"
         y="285.42172"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:2.46944427px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;stroke-width:0.06624396px">A</tspan></text>
    <rect
      style="display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.76524055;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
      id="rect7639"
      width="0.26458332"
      height="2.9443455"
      x="75.653664"
      y="277.68942" />
    <g
      style="display:inline;opacity:1;fill:#ffffff"
      id="g7647"
      transform="matrix(0.99999999,0,0,-0.99999999,60.665922,304.31919)">
      <g
        id="g7645"
        style="fill:#ffffff">
        <rect
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect7641"
          width="2.6458333"
          height="0.26458332"
          x="14.200633"
          y="-24.501154"
          transform="scale(1,-1)" />
        <rect
          y="-24.633446"
          x="14.855443"
          height="0.52916664"
          width="0.52916664"
          id="rect7643"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          transform="scale(1,-1)" />
      </g>
    </g>
    <text
       id="text7651"
       y="276.94073"
       x="74.753036"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:2.46944427px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624396px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       xml:space="preserve"><tspan
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:2.46944427px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;stroke-width:0.06624396px"
         y="276.94073"
         x="74.753036"
         id="tspan7649"
         sodipodi:role="line">B</tspan></text>
    <text
       id="text7655"
       y="263.33167"
       x="99.421364"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:2.46944427px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624396px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       xml:space="preserve"><tspan
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:2.46944427px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;stroke-width:0.06624396px"
         y="263.33167"
         x="99.421364"
         id="tspan7653"
         sodipodi:role="line">C</tspan></text>
    <rect
      transform="rotate(45)"
      y="118.88711"
      x="252.00159"
      height="3.1800354"
      width="0.26458332"
      id="rect7657"
      style="display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.79527909;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
    <g
      style="display:inline;opacity:1;fill:#ffffff"
      id="g7663"
      transform="rotate(-45,336.29457,77.363277)">
      <rect
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.86867487;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        id="rect7659"
        width="1.8623993"
        height="0.26458332"
        x="36.346466"
        y="-31.705564"
        transform="rotate(90)" />
      <rect
        y="-31.837856"
        x="36.732334"
        height="0.52916664"
        width="0.52916664"
        id="rect7661"
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        transform="rotate(90)" />
    </g>
    <g
      style="display:inline;opacity:1;fill:#ffffff"
      id="g7669"
      transform="rotate(-45,335.21636,74.760283)">
      <rect
        transform="rotate(90)"
        y="-31.705564"
        x="36.346466"
        height="0.26458332"
        width="1.8623993"
        id="rect7665"
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.86867487;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
      <rect
        transform="rotate(90)"
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        id="rect7667"
        width="0.52916664"
        height="0.52916664"
        x="36.732334"
        y="-31.837856" />
    </g>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:2.46944427px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624396px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="90.481995"
       y="262.47171"
       id="text7673"><tspan
         sodipodi:role="line"
         id="tspan7671"
         x="90.481995"
         y="262.47171"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:2.46944427px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;stroke-width:0.06624396px">e</tspan></text>
    <g
      style="display:inline;opacity:1;fill:#ffffff"
      id="g7683"
      transform="translate(60.864839,238.125)">
      <text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:3.52777767px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         x="11.3595"
         y="52.305744"
         id="text7677"><tspan
           sodipodi:role="line"
           id="tspan7675"
           x="11.3595"
           y="52.305744"
           class="text-svg">A={{propiedades.a}}</tspan></text>
      <text
         id="text7681"
         y="56.374924"
         x="11.517975"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:3.52777767px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         xml:space="preserve"><tspan
           class="text-svg"
           y="56.374924"
           x="11.517975"
           id="tspan7679"
           sodipodi:role="line">C={{propiedades.c}}</tspan></text>
    </g>
    <g
      style="display:inline;opacity:1;fill:#ffffff"
      id="g7693"
      transform="translate(60.870604,238.125)">
      <text
         id="text7687"
         y="52.305744"
         x="29.807297"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:3.52777767px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         xml:space="preserve"><tspan
           class="text-svg"
           y="52.305744"
           x="29.807297"
           id="tspan7685"
           sodipodi:role="line">B={{propiedades.b}}</tspan></text>
      <text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:3.52777767px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         x="30.110466"
         y="56.374924"
         id="text7691"><tspan
           sodipodi:role="line"
           id="tspan7689"
           x="30.110466"
           y="56.374924"
           class="text-svg">e={{propiedades.espesor}}</tspan></text>
    </g>
    <rect
      transform="rotate(-90)"
      y="90.956551"
      x="-284.73035"
      height="7.6563807"
      width="0.26458332"
      id="rect7699"
      style="display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.23400044;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
    <g
      transform="matrix(0,-1,-1,0,122.29833,299.71807)"
      id="g7707"
      style="display:inline;opacity:1;fill:#ffffff">
      <g
        style="fill:#ffffff"
        id="g7705">
        <rect
          transform="scale(1,-1)"
          y="-24.501154"
          x="14.200633"
          height="0.26458332"
          width="2.6458333"
          id="rect7701"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
        <rect
          transform="scale(1,-1)"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect7703"
          width="0.52916664"
          height="0.52916664"
          x="14.855443"
          y="-24.633446" />
      </g>
    </g>
    <rect
      transform="scale(1,-1)"
      y="-274.71069"
      x="75.653664"
      height="2.9443455"
      width="0.26458332"
      id="rect7709"
      style="display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.76524055;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
    <g
      transform="translate(60.665916,248.08092)"
      id="g7717"
      style="display:inline;opacity:1;fill:#ffffff">
      <g
        style="fill:#ffffff"
        id="g7715">
        <rect
          transform="scale(1,-1)"
          y="-24.501154"
          x="14.200633"
          height="0.26458332"
          width="2.6458333"
          id="rect7711"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
        <rect
          transform="scale(1,-1)"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect7713"
          width="0.52916664"
          height="0.52916664"
          x="14.855443"
          y="-24.633446" />
      </g>
    </g>
    <rect
      style="display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.86261088;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
      id="rect7719"
      width="0.26458332"
      height="3.7413013"
      x="116.95849"
      y="-258.34274"
      transform="rotate(135)" />
    <g
      transform="rotate(45,-208.41483,229.70046)"
      id="g7725"
      style="display:inline;opacity:1;fill:#ffffff">
      <rect
        transform="rotate(90)"
        y="-31.705564"
        x="36.346466"
        height="0.26458332"
        width="1.8623993"
        id="rect7721"
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.86867487;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
      <rect
        transform="rotate(90)"
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        id="rect7723"
        width="0.52916664"
        height="0.52916664"
        x="36.732334"
        y="-31.837856" />
    </g>
    <g
      transform="rotate(45,-209.82042,233.09388)"
      id="g7731"
      style="display:inline;opacity:1;fill:#ffffff">
      <rect
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.86867487;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        id="rect7727"
        width="1.8623993"
        height="0.26458332"
        x="36.346466"
        y="-31.705564"
        transform="rotate(90)" />
      <rect
        y="-31.837856"
        x="36.732334"
        height="0.52916664"
        width="0.52916664"
        id="rect7729"
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        transform="rotate(90)" />
    </g>
    <path
      inkscape:connector-curvature="0"
      style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.29928851;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
      d="m 78.348452,280.14045 2.32235,2.14406 1.62986,-1.61644 -1.47174,-1.35599 v -4.50257 h 3.175 8.5018 4.25815 c 0.77415,0 1.39732,-0.62321 1.39732,-1.39733 v -6.54637 l -2.32233,-2.14405 -1.62988,1.61644 1.47174,1.35599 v 4.50256 h -3.175 -8.5018 -4.25813 c -0.77415,0 -1.39734,0.62321 -1.39734,1.39733 z"
      id="path7733" />
  </g>
</svg>
