<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg style="width: 100%;"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:cc="http://creativecommons.org/ns#"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:svg="http://www.w3.org/2000/svg"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
  xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
  height="250"
  version="1.1"
  viewBox="0 0 206 151"
  width="350"
  id="svg9"
  sodipodi:docname="profile.9.1.svg"
  inkscape:version="0.92.1 r15371">
  <metadata
    id="metadata13">
    <rdf:RDF>
      <cc:Work
        rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
          rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title />
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <sodipodi:namedview
    pagecolor="#ffffff"
    bordercolor="#666666"
    borderopacity="1"
    objecttolerance="10"
    gridtolerance="10"
    guidetolerance="10"
    inkscape:pageopacity="0"
    inkscape:pageshadow="2"
    inkscape:window-width="1366"
    inkscape:window-height="746"
    id="namedview11"
    showgrid="false"
    inkscape:zoom="2"
    inkscape:cx="166.081"
    inkscape:cy="107.16164"
    inkscape:window-x="1358"
    inkscape:window-y="-8"
    inkscape:window-maximized="1"
    inkscape:current-layer="svg9" />
  <defs
    id="defs4">
    <pattern
      y="0"
      x="0"
      height="6"
      width="6"
      patternUnits="userSpaceOnUse"
      id="EMFhbasepattern" />
  </defs>
  <g
    id="g8654"
    transform="translate(-2.8600892e-7,1.8892495e-6)">
    <g
      transform="matrix(3.7795275,0,0,3.7795275,11.043122,-370.24172)"
      style="fill:#ffffff"
      id="g5989">
      <text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:3.52777767px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         x="11.370175"
         y="131.68074"
         id="text5815"><tspan
           sodipodi:role="line"
           id="tspan5813"
           x="11.370175"
           y="131.68074"
           class="text-svg">A={{propiedades.a}}</tspan></text>
      <text
         id="text5819"
         y="135.74992"
         x="11.769807"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:3.52777767px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         xml:space="preserve"><tspan
           class="text-svg"
           y="135.74992"
           x="11.769807"
           id="tspan5817"
           sodipodi:role="line">e={{propiedades.espesor}}</tspan></text>
    </g>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:13.33333302px;line-height:6.25927305px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.25037089px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="123.76276"
       y="127.44926"
       id="text5825"><tspan
         sodipodi:role="line"
         id="tspan5823"
         x="123.76276"
         y="127.44926"
         class="text-svg">B={{propiedades.b}}</tspan></text>
    <path
      inkscape:connector-curvature="0"
      id="rect5837"
      d="m 86.547028,22.57469 c -2.142312,0 -3.867187,1.72487 -3.867187,3.86718 v 75.52735 c 0,2.14231 1.724875,3.86718 3.867187,3.86718 h 52.332032 c 2.14231,0 3.86718,-1.72487 3.86718,-3.86718 V 26.44187 c 0,-2.14231 -1.72487,-3.86718 -3.86718,-3.86718 z m 5.142578,9.1582 H 133.73648 V 96.67625 H 91.689606 Z"
      style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:11.980937;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
    <rect
      transform="scale(1,-1)"
      y="-53.995277"
      x="69.708466"
      height="35"
      width="0.99999994"
      id="rect5190-0"
      style="display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:5.12927914;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
    <g
      style="display:inline;fill:#ffffff"
      transform="matrix(3.7795275,0,0,3.7795275,13.061906,-70.524407)"
      id="g5198-5">
      <g
        style="fill:#ffffff"
        id="g5196-6">
        <rect
          transform="scale(1,-1)"
          y="-24.501154"
          x="14.200633"
          height="0.26458332"
          width="2.6458333"
          id="rect5192-8"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
        <rect
          transform="scale(1,-1)"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect5194-5"
          width="0.52916664"
          height="0.52916664"
          x="14.855443"
          y="-24.633446" />
      </g>
    </g>
    <text
       id="text5202-9"
       y="66.652565"
       x="66.574799"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:9.33333302px;line-height:6.25927305px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.25037086px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       xml:space="preserve"><tspan
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:9.33333302px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;stroke-width:0.25037086px"
         y="66.652565"
         x="66.574799"
         id="tspan5200-0"
         sodipodi:role="line">A</tspan></text>
    <rect
      style="display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:5.12927914;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
      id="rect5204-9"
      width="0.99999994"
      height="35"
      x="69.708466"
      y="73.470169" />
    <g
      style="display:inline;fill:#ffffff"
      transform="matrix(3.7795275,0,0,-3.7795275,13.061906,197.98991)"
      id="g5212-3">
      <g
        style="fill:#ffffff"
        id="g5210-0">
        <rect
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect5206-2"
          width="2.6458333"
          height="0.26458332"
          x="14.200633"
          y="-24.501154"
          transform="scale(1,-1)" />
        <rect
          y="-24.633446"
          x="14.855443"
          height="0.52916664"
          width="0.52916664"
          id="rect5208-3"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          transform="scale(1,-1)" />
      </g>
    </g>
    <rect
      style="display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:4.25877905;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
      id="rect4731-66"
      width="0.99999994"
      height="24.128235"
      x="10.97273"
      y="121.04545"
      transform="matrix(0,1,1,0,0,0)" />
    <g
      id="g4739-3"
      transform="matrix(0,3.7795275,-3.7795275,0,234.69336,-45.673847)"
      style="display:inline;fill:#ffffff">
      <g
        style="fill:#ffffff"
        id="g4737-4">
        <rect
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect4733-26"
          width="2.6458333"
          height="0.26458332"
          x="14.200633"
          y="-24.501154"
          transform="scale(1,-1)" />
        <rect
          y="-24.633446"
          x="14.855443"
          height="0.52916664"
          width="0.52916664"
          id="rect4735-2"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          transform="scale(1,-1)" />
      </g>
    </g>
    <rect
      transform="rotate(90)"
      y="-105.0411"
      x="10.97273"
      height="24.128235"
      width="0.99999994"
      id="rect4777-3"
      style="display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:4.25877905;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
    <g
      transform="matrix(0,3.7795275,3.7795275,0,-8.6068168,-45.67387)"
      id="g4785-16"
      style="display:inline;fill:#ffffff">
      <g
        style="fill:#ffffff"
        id="g4783-9">
        <rect
          transform="scale(1,-1)"
          y="-24.501154"
          x="14.200633"
          height="0.26458332"
          width="2.6458333"
          id="rect4779-7"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
        <rect
          transform="scale(1,-1)"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect4781-4"
          width="0.52916664"
          height="0.52916664"
          x="14.855443"
          y="-24.633446" />
      </g>
    </g>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:9.33333302px;line-height:6.25927305px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.25037086px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="108.49583"
       y="14.6524"
       id="text4799-6"><tspan
         sodipodi:role="line"
         id="tspan4797-9"
         x="108.49583"
         y="14.6524"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:9.33333302px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;stroke-width:0.25037086px">B</tspan></text>
    <g
      style="fill:#808080"
      id="g8610">
      <rect
        transform="rotate(90)"
        y="-149.67111"
        x="72.850006"
        height="23.597904"
        width="0.99999994"
        id="rect5262-1-4"
        style="display:inline;opacity:1;fill:#808080;fill-opacity:1;stroke:none;stroke-width:4.21171522;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
      <g
        transform="matrix(3.7795275,0,0,3.7795275,13.876273,-66.48083)"
        id="g5268-8-5"
        style="display:inline;fill:#808080;fill-opacity:1">
        <rect
          style="opacity:1;fill:#808080;fill-opacity:1;stroke:none;stroke-width:1.86867487;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect5264-0-6"
          width="1.8623993"
          height="0.26458332"
          x="36.346466"
          y="-31.705564"
          transform="rotate(90)" />
        <rect
          y="-31.837856"
          x="36.732334"
          height="0.52916664"
          width="0.52916664"
          id="rect5266-0-9"
          style="opacity:1;fill:#808080;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          transform="rotate(90)" />
      </g>
      <g
        id="g5274-3-3"
        transform="matrix(3.7795275,0,0,3.7795275,23.926747,-66.48083)"
        style="display:inline;fill:#808080;fill-opacity:1">
        <rect
          transform="rotate(90)"
          y="-31.705564"
          x="36.346466"
          height="0.26458332"
          width="1.8623993"
          id="rect5270-7-4"
          style="opacity:1;fill:#808080;fill-opacity:1;stroke:none;stroke-width:1.86867487;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
        <rect
          transform="rotate(90)"
          style="opacity:1;fill:#808080;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect5272-2-1"
          width="0.52916664"
          height="0.52916664"
          x="36.732334"
          y="-31.837856" />
      </g>
    </g>
    <text
       id="text5278-6-0"
       y="70.288895"
       x="147.06299"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:9.33333302px;line-height:6.25927305px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.25037083px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       xml:space="preserve"><tspan
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:9.33333302px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke-width:0.25037083px"
         y="70.288895"
         x="147.06299"
         id="tspan5276-6-5"
         sodipodi:role="line">e</tspan></text>
  </g>
</svg>
