<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg style="width: 100%"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:cc="http://creativecommons.org/ns#"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:svg="http://www.w3.org/2000/svg"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
  xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
  height="250"
  version="1.1"
  viewBox="0 0 206 151"
  width="350"
  id="svg9"
  sodipodi:docname="profile.9.2.svg"
  inkscape:version="0.92.1 r15371">
  <metadata
    id="metadata13">
    <rdf:RDF>
      <cc:Work
        rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
          rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title />
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <sodipodi:namedview
    pagecolor="#ffffff"
    bordercolor="#666666"
    borderopacity="1"
    objecttolerance="10"
    gridtolerance="10"
    guidetolerance="10"
    inkscape:pageopacity="0"
    inkscape:pageshadow="2"
    inkscape:window-width="1366"
    inkscape:window-height="746"
    id="namedview11"
    showgrid="false"
    inkscape:zoom="2"
    inkscape:cx="64.581"
    inkscape:cy="28.3786"
    inkscape:window-x="1358"
    inkscape:window-y="-8"
    inkscape:window-maximized="1"
    inkscape:current-layer="svg9" />
  <defs
    id="defs4">
    <pattern
      y="0"
      x="0"
      height="6"
      width="6"
      patternUnits="userSpaceOnUse"
      id="EMFhbasepattern" />
  </defs>
  <g
    id="g8638"
    transform="translate(143,-13.999995)">
    <g
      transform="matrix(3.7795275,0,0,3.7795275,-138.20748,-360.52209)"
      id="g6093"
      style="fill:#ffffff">
      <text
         id="text6087"
         y="131.68074"
         x="11.370175"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:3.52777767px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         xml:space="preserve"><tspan
           class="text-svg"
           y="131.68074"
           x="11.370175"
           id="tspan6085"
           sodipodi:role="line">A={{propiedades.a}}</tspan></text>
      <text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:3.52777767px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         x="11.769807"
         y="135.74992"
         id="text6091"><tspan
           sodipodi:role="line"
           id="tspan6089"
           x="11.769807"
           y="135.74992"
           class="text-svg">e={{propiedades.espesor}}</tspan></text>
    </g>
    <text
       id="text6097"
       y="137.16888"
       x="-25.487844"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:13.33333302px;line-height:6.25927305px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.25037089px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       xml:space="preserve"><tspan
         class="text-svg"
         y="137.16888"
         x="-25.487844"
         id="tspan6095"
         sodipodi:role="line">B={{propiedades.b}}</tspan></text>
    <path
      style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:11.980937;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
      d="m 11.587497,46.292417 c 0,-2.142312 -1.7249005,-3.867175 -3.8671971,-3.867175 H -67.807019 c -2.142311,0 -3.867174,1.724863 -3.867174,3.867175 v 52.332018 c 0,2.142315 1.724863,3.867215 3.867174,3.867215 H 7.7202999 c 2.1422966,0 3.8671971,-1.7249 3.8671971,-3.867215 z M 2.4293015,51.434993 V 93.481859 H -62.514055 V 51.434993 Z"
      id="path6103"
      inkscape:connector-curvature="0" />
    <rect
      style="display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:5.12927914;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
      id="rect6105"
      width="0.99999994"
      height="35"
      x="29.453856"
      y="-19.833086"
      transform="matrix(0,1,1,0,0,0)" />
    <g
      id="g6113"
      transform="matrix(0,3.7795275,-3.7795275,0,104.68656,-27.192713)"
      style="display:inline;fill:#ffffff">
      <g
        id="g6111"
        style="fill:#ffffff">
        <rect
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect6107"
          width="2.6458333"
          height="0.26458332"
          x="14.200633"
          y="-24.501154"
          transform="scale(1,-1)" />
        <rect
          y="-24.633446"
          x="14.855443"
          height="0.52916664"
          width="0.52916664"
          id="rect6109"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          transform="scale(1,-1)" />
      </g>
    </g>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:9.33333302px;line-height:6.25927305px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.25037086px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="-32.44836"
       y="32.746178"
       id="text6117"><tspan
         sodipodi:role="line"
         id="tspan6115"
         x="-32.44836"
         y="32.746178"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:9.33333302px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;stroke-width:0.25037086px">A</tspan></text>
    <rect
      transform="rotate(90)"
      y="39.307983"
      x="29.453856"
      height="35"
      width="0.99999994"
      id="rect6119"
      style="display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:5.12927914;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
    <g
      id="g6127"
      transform="matrix(0,3.7795275,3.7795275,0,-163.82773,-27.192694)"
      style="display:inline;fill:#ffffff">
      <g
        id="g6125"
        style="fill:#ffffff">
        <rect
          transform="scale(1,-1)"
          y="-24.501154"
          x="14.200633"
          height="0.26458332"
          width="2.6458333"
          id="rect6121"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
        <rect
          transform="scale(1,-1)"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect6123"
          width="0.52916664"
          height="0.52916664"
          x="14.855443"
          y="-24.633446" />
      </g>
    </g>
    <rect
      y="80.790863"
      x="-83.03772"
      height="24.128235"
      width="0.99999994"
      id="rect6129"
      style="display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:4.25877905;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
    <g
      style="display:inline;fill:#ffffff"
      transform="matrix(3.7795275,0,0,-3.7795275,-139.68424,194.43875)"
      id="g6137">
      <g
        id="g6135"
        style="fill:#ffffff">
        <rect
          transform="scale(1,-1)"
          y="-24.501154"
          x="14.200633"
          height="0.26458332"
          width="2.6458333"
          id="rect6131"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
        <rect
          transform="scale(1,-1)"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect6133"
          width="0.52916664"
          height="0.52916664"
          x="14.855443"
          y="-24.633446" />
      </g>
    </g>
    <rect
      transform="scale(1,-1)"
      style="display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:4.25877905;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
      id="rect6139"
      width="0.99999994"
      height="24.128235"
      x="-83.03772"
      y="-64.786461" />
    <g
      style="display:inline;fill:#ffffff"
      id="g6147"
      transform="matrix(3.7795275,0,0,3.7795275,-139.68425,-48.861417)">
      <g
        id="g6145"
        style="fill:#ffffff">
        <rect
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect6141"
          width="2.6458333"
          height="0.26458332"
          x="14.200633"
          y="-24.501154"
          transform="scale(1,-1)" />
        <rect
          y="-24.633446"
          x="14.855443"
          height="0.52916664"
          width="0.52916664"
          id="rect6143"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          transform="scale(1,-1)" />
      </g>
    </g>
    <text
       id="text6151"
       y="74.699852"
       x="-85.816681"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:9.33333302px;line-height:6.25927305px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.25037086px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       xml:space="preserve"><tspan
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:9.33333302px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;stroke-width:0.25037086px"
         y="74.699852"
         x="-85.816681"
         id="tspan6149"
         sodipodi:role="line">B</tspan></text>
    <g
      style="fill:#808080"
      id="g8594">
      <rect
        style="display:inline;opacity:1;fill:#808080;fill-opacity:1;stroke:none;stroke-width:4.21171522;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        id="rect6153"
        width="0.99999994"
        height="23.597904"
        x="38.687817"
        y="-109.4165"
        transform="scale(-1)" />
      <g
        style="display:inline;fill:#808080;fill-opacity:1"
        id="g6159"
        transform="matrix(0,3.7795275,-3.7795275,0,100.64298,-26.378357)">
        <rect
          transform="rotate(90)"
          y="-31.705564"
          x="36.346466"
          height="0.26458332"
          width="1.8623993"
          id="rect6155"
          style="opacity:1;fill:#808080;fill-opacity:1;stroke:none;stroke-width:1.86867487;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
        <rect
          transform="rotate(90)"
          style="opacity:1;fill:#808080;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect6157"
          width="0.52916664"
          height="0.52916664"
          x="36.732334"
          y="-31.837856" />
      </g>
      <g
        style="display:inline;fill:#808080;fill-opacity:1"
        transform="matrix(0,3.7795275,-3.7795275,0,100.643,-16.32786)"
        id="g6165">
        <rect
          style="opacity:1;fill:#808080;fill-opacity:1;stroke:none;stroke-width:1.86867487;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect6161"
          width="1.8623993"
          height="0.26458332"
          x="36.346466"
          y="-31.705564"
          transform="rotate(90)" />
        <rect
          y="-31.837856"
          x="36.732334"
          height="0.52916664"
          width="0.52916664"
          id="rect6163"
          style="opacity:1;fill:#808080;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          transform="rotate(90)" />
      </g>
    </g>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:9.33333302px;line-height:6.25927305px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.25037083px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="-48.534306"
       y="114.02099"
       id="text6169"><tspan
         sodipodi:role="line"
         id="tspan6167"
         x="-48.534306"
         y="114.02099"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:9.33333302px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke-width:0.25037083px">e</tspan></text>
  </g>
</svg>
