<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg style="width: 100%"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:cc="http://creativecommons.org/ns#"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:svg="http://www.w3.org/2000/svg"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
  xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
  height="250"
  version="1.1"
  viewBox="0 0 206 151"
  width="350"
  id="svg9"
  sodipodi:docname="profile.3.1.svg"
  inkscape:version="0.92.1 r15371">
  <metadata
    id="metadata13">
    <rdf:RDF>
      <cc:Work
        rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
          rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title />
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <sodipodi:namedview
    pagecolor="#ffffff"
    bordercolor="#666666"
    borderopacity="1"
    objecttolerance="10"
    gridtolerance="10"
    guidetolerance="10"
    inkscape:pageopacity="0"
    inkscape:pageshadow="2"
    inkscape:window-width="1366"
    inkscape:window-height="746"
    id="namedview11"
    showgrid="false"
    inkscape:zoom="0.99999999"
    inkscape:cx="-11.545093"
    inkscape:cy="148.82466"
    inkscape:window-x="1358"
    inkscape:window-y="-8"
    inkscape:window-maximized="1"
    inkscape:current-layer="svg9" />
  <defs
    id="defs4">
    <pattern
      y="0"
      x="0"
      height="6"
      width="6"
      patternUnits="userSpaceOnUse"
      id="EMFhbasepattern" />
  </defs>
  <g
    transform="matrix(3.7795275,0,0,3.7795275,6.1150043,-971.8093)"
    id="g9412"
    style="display:inline;opacity:1;fill:#ffffff">
    <rect
      transform="scale(1,-1)"
      y="-270.7453"
      x="16.393332"
      height="7.6563807"
      width="0.26458332"
      id="rect4559-9"
      style="display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.23400044;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
    <g
      transform="translate(1.4055982,239.4035)"
      id="g4719-0"
      style="display:inline;opacity:1;fill:#ffffff">
      <g
        style="fill:#ffffff"
        id="g4714-0">
        <rect
          transform="scale(1,-1)"
          y="-24.501154"
          x="14.200633"
          height="0.26458332"
          width="2.6458333"
          id="rect4561-1"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
        <rect
          transform="scale(1,-1)"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect4563-2"
          width="0.52916664"
          height="0.52916664"
          x="14.855443"
          y="-24.633446" />
      </g>
    </g>
    <text
       id="text4593-3"
       y="274.01151"
       x="15.713047"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:2.46944427px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624396px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       xml:space="preserve"><tspan
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:2.46944427px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;stroke-width:0.06624396px"
         y="274.01151"
         x="15.713047"
         id="tspan4591-5"
         sodipodi:role="line">A</tspan></text>
    <rect
      transform="rotate(90)"
      y="-23.43424"
      x="260.56873"
      height="2.9443455"
      width="0.26458332"
      id="rect4777-31"
      style="display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.76524055;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
    <g
      transform="matrix(0,0.99999999,0.99999999,0,-3.1955227,245.58098)"
      id="g4785-9"
      style="display:inline;opacity:1;fill:#ffffff">
      <g
        style="fill:#ffffff"
        id="g4783-5">
        <rect
          transform="scale(1,-1)"
          y="-24.501154"
          x="14.200633"
          height="0.26458332"
          width="2.6458333"
          id="rect4779-5"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
        <rect
          transform="scale(1,-1)"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect4781-6"
          width="0.52916664"
          height="0.52916664"
          x="14.855443"
          y="-24.633446" />
      </g>
    </g>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:2.46944427px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624396px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="24.182938"
       y="261.37695"
       id="text4799-1"><tspan
         sodipodi:role="line"
         id="tspan4797-5"
         x="24.182938"
         y="261.37695"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:2.46944427px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;stroke-width:0.06624396px">B</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:2.46944427px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624396px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="37.825329"
       y="286.01688"
       id="text4813-1"><tspan
         sodipodi:role="line"
         id="tspan4811-2"
         x="37.825329"
         y="286.01688"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:2.46944427px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;stroke-width:0.06624396px">C</tspan></text>
    <rect
      style="display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.79527909;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
      id="rect4825-6"
      width="0.26458332"
      height="3.1800354"
      x="169.82971"
      y="-224.79419"
      transform="rotate(135)" />
    <g
      transform="rotate(45,-255.74246,163.44568)"
      id="g4851-3"
      style="display:inline;opacity:1;fill:#ffffff">
      <rect
        transform="rotate(90)"
        y="-31.705564"
        x="36.346466"
        height="0.26458332"
        width="1.8623993"
        id="rect4827-9"
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.86867487;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
      <rect
        transform="rotate(90)"
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        id="rect4829-4"
        width="0.52916664"
        height="0.52916664"
        x="36.732334"
        y="-31.837856" />
    </g>
    <g
      transform="rotate(45,-256.82065,166.04868)"
      id="g4857-8"
      style="display:inline;opacity:1;fill:#ffffff">
      <rect
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.86867487;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        id="rect4853-7"
        width="1.8623993"
        height="0.26458332"
        x="36.346466"
        y="-31.705564"
        transform="rotate(90)" />
      <rect
        y="-31.837856"
        x="36.732334"
        height="0.52916664"
        width="0.52916664"
        id="rect4855-0"
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        transform="rotate(90)" />
    </g>
    <text
       id="text4861-9"
       y="276.74414"
       x="38.596386"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:2.46944427px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624396px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       xml:space="preserve"><tspan
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:2.46944427px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;stroke-width:0.06624396px"
         y="276.74414"
         x="38.596386"
         id="tspan4859-2"
         sodipodi:role="line">e</tspan></text>
    <g
      transform="translate(0.01067523,238.125)"
      id="g4556-8"
      style="display:inline;opacity:1;fill:#ffffff">
      <text
         id="text4865-8"
         y="52.305744"
         x="11.3595"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:3.52777767px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         xml:space="preserve"><tspan
           class="text-svg"
           y="52.305744"
           x="11.3595"
           id="tspan4863-6"
           sodipodi:role="line">A={{propiedades.a}}</tspan></text>
      <text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:3.52777767px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         x="11.517975"
         y="56.374924"
         id="text4869-5"><tspan
           sodipodi:role="line"
           id="tspan4867-5"
           x="11.517975"
           y="56.374924"
           class="text-svg">C={{propiedades.c}}</tspan></text>
    </g>
    <g
      transform="translate(0.01644023,238.125)"
      id="g4550-5"
      style="display:inline;opacity:1;fill:#ffffff">
      <text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:3.52777767px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         x="29.807297"
         y="52.305744"
         id="text4873-8"><tspan
           sodipodi:role="line"
           id="tspan4871-4"
           x="29.807297"
           y="52.305744"
           class="text-svg">B={{propiedades.b}}</tspan></text>
      <text
         id="text4877-9"
         y="56.374924"
         x="30.110466"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:3.52777767px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         xml:space="preserve"><tspan
           class="text-svg"
           y="56.374924"
           x="30.110466"
           id="tspan4875-2"
           sodipodi:role="line">e={{propiedades.espesor}}</tspan></text>
    </g>
    <rect
      style="display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.23400044;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
      id="rect7570"
      width="0.26458332"
      height="7.6563807"
      x="16.393332"
      y="275.87161" />
    <g
      style="display:inline;opacity:1;fill:#ffffff"
      id="g7578"
      transform="matrix(1,0,0,-1,1.4055982,307.21339)">
      <g
        id="g7576"
        style="fill:#ffffff">
        <rect
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect7572"
          width="2.6458333"
          height="0.26458332"
          x="14.200633"
          y="-24.501154"
          transform="scale(1,-1)" />
        <rect
          y="-24.633446"
          x="14.855443"
          height="0.52916664"
          width="0.52916664"
          id="rect7574"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          transform="scale(1,-1)" />
      </g>
    </g>
    <rect
      style="display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.76524055;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
      id="rect7580"
      width="0.26458332"
      height="2.9443455"
      x="260.56873"
      y="26.412985"
      transform="matrix(0,1,1,0,0,0)" />
    <g
      style="display:inline;opacity:1;fill:#ffffff"
      id="g7588"
      transform="rotate(90,-96.269116,149.31186)">
      <g
        id="g7586"
        style="fill:#ffffff">
        <rect
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect7582"
          width="2.6458333"
          height="0.26458332"
          x="14.200633"
          y="-24.501154"
          transform="scale(1,-1)" />
        <rect
          y="-24.633446"
          x="14.855443"
          height="0.52916664"
          width="0.52916664"
          id="rect7584"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          transform="scale(1,-1)" />
      </g>
    </g>
    <rect
      transform="rotate(-135)"
      y="-176.17084"
      x="-226.72281"
      height="3.7413013"
      width="0.26458332"
      id="rect7590"
      style="display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.86261088;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
    <g
      style="display:inline;opacity:1;fill:#ffffff"
      id="g7596"
      transform="rotate(135,-16.056329,161.0567)">
      <rect
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.86867487;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        id="rect7592"
        width="1.8623993"
        height="0.26458332"
        x="36.346466"
        y="-31.705564"
        transform="rotate(90)" />
      <rect
        y="-31.837856"
        x="36.732334"
        height="0.52916664"
        width="0.52916664"
        id="rect7594"
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        transform="rotate(90)" />
    </g>
    <g
      style="display:inline;opacity:1;fill:#ffffff"
      id="g7602"
      transform="rotate(135,-17.461928,161.63892)">
      <rect
        transform="rotate(90)"
        y="-31.705564"
        x="36.346466"
        height="0.26458332"
        width="1.8623993"
        id="rect7598"
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.86867487;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
      <rect
        transform="rotate(90)"
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        id="rect7600"
        width="0.52916664"
        height="0.52916664"
        x="36.732334"
        y="-31.837856" />
    </g>
    <path
      inkscape:connector-curvature="0"
      id="rect7604"
      transform="scale(0.26458333)"
      d="m 79.306641,995.01172 -8.103516,8.77738 6.109375,6.1601 5.125,-5.5625 h 17.017578 v 12 32.1328 16.0938 c 0,2.9259 2.355442,5.2812 5.281252,5.2812 h 24.74219 l 8.10351,-8.7773 -6.10937,-6.1602 -5.125,5.5625 h -17.01758 v -12 -32.1328 -16.0937 c 0,-2.92593 -2.35544,-5.28128 -5.28125,-5.28128 z"
      style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:8.69022465;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
  </g>
</svg>
