<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg style="width: 100%"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:cc="http://creativecommons.org/ns#"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:svg="http://www.w3.org/2000/svg"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
  xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
  height="250"
  version="1.1"
  viewBox="0 0 206 151"
  width="350"
  id="svg9"
  sodipodi:docname="profile.15.1.svg"
  inkscape:version="0.92.1 r15371">
  <metadata
    id="metadata13">
    <rdf:RDF>
      <cc:Work
        rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
          rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title />
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <sodipodi:namedview
    pagecolor="#ffffff"
    bordercolor="#666666"
    borderopacity="1"
    objecttolerance="10"
    gridtolerance="10"
    guidetolerance="10"
    inkscape:pageopacity="0"
    inkscape:pageshadow="2"
    inkscape:window-width="1366"
    inkscape:window-height="746"
    id="namedview11"
    showgrid="false"
    inkscape:zoom="1.0000001"
    inkscape:cx="-114.76621"
    inkscape:cy="137.82798"
    inkscape:window-x="1358"
    inkscape:window-y="-8"
    inkscape:window-maximized="1"
    inkscape:current-layer="svg9" />
  <defs
    id="defs4">
    <pattern
      y="0"
      x="0"
      height="6"
      width="6"
      patternUnits="userSpaceOnUse"
      id="EMFhbasepattern" />
    <pattern
      y="0"
      x="0"
      height="6"
      width="6"
      patternUnits="userSpaceOnUse"
      id="EMFhbasepattern-2" />
  </defs>
  <g
    id="g8570"
    transform="translate(252.90663,-62.77208)">
    <g
      transform="matrix(3.7795275,0,0,3.7795275,-480.31243,-508.4979)"
      id="g6816">
      <circle
        r="10.44575"
        cy="170.00002"
        cx="87.444794"
        id="circle6811"
        style="opacity:1;fill:#aeafb3;fill-opacity:1;stroke:none;stroke-width:1.8467623;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
      <path
        inkscape:connector-curvature="0"
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:8.30939198;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        d="m 330.5,595.51953 a 47.000002,47.000002 0 0 0 -47,47 47.000002,47.000002 0 0 0 47,47 47.000002,47.000002 0 0 0 47,-47 47.000002,47.000002 0 0 0 -47,-47 z m 0,9.40039 A 37.600001,37.600001 0 0 1 368.09961,642.51953 37.600001,37.600001 0 0 1 330.5,680.11914 37.600001,37.600001 0 0 1 292.90039,642.51953 37.600001,37.600001 0 0 1 330.5,604.91992 Z"
        transform="scale(0.26458333)"
        id="circle6754" />
    </g>
    <rect
      transform="matrix(0,1,1,0,0,0)"
      y="-139.69093"
      x="75.039154"
      height="40"
      width="0.99999994"
      id="rect6758"
      style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:5.48343039;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
    <g
      id="g6764"
      style="fill:#ffffff"
      transform="matrix(0,3.7795275,-3.7795275,0,-10.155594,18.392631)">
      <rect
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        id="rect6760"
        width="2.6458333"
        height="0.26458332"
        x="14.200633"
        y="-24.501154"
        transform="scale(1,-1)" />
      <rect
        y="-24.633446"
        x="14.855443"
        height="0.52916664"
        width="0.52916664"
        id="rect6762"
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        transform="scale(1,-1)" />
    </g>
    <text
       id="text6768"
       y="78.331528"
       x="-153.65297"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:9.33333302px;line-height:6.25927305px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.25037089px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       xml:space="preserve"><tspan
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:9.33333302px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;stroke-width:0.25037089px"
         y="78.331528"
         x="-153.65297"
         id="tspan6766"
         sodipodi:role="line">D</tspan></text>
    <rect
      style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:5.48343039;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
      id="rect6770"
      width="0.99999994"
      height="40"
      x="75.039154"
      y="160.27519"
      transform="rotate(90)" />
    <g
      id="g6776"
      style="fill:#ffffff"
      transform="matrix(0,3.7795275,3.7795275,0,-289.79491,18.392611)">
      <rect
        transform="scale(1,-1)"
        y="-24.501154"
        x="14.200633"
        height="0.26458332"
        width="2.6458333"
        id="rect6772"
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
      <rect
        transform="scale(1,-1)"
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        id="rect6774"
        width="0.52916664"
        height="0.52916664"
        x="14.855443"
        y="-24.633446" />
    </g>
    <text
       id="text6780"
       y="204.57263"
       x="-207.91145"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:13.33333302px;line-height:6.25927305px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.25037089px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       xml:space="preserve"><tspan
         class="text-svg"
         y="204.57263"
         x="-207.91145"
         id="tspan6778"
         sodipodi:role="line">D={{propiedades.diametro}}</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:13.33333302px;line-height:6.25927305px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.25037089px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="-136.44695"
       y="204.57263"
       id="text6784"><tspan
         sodipodi:role="line"
         id="tspan6782"
         x="-136.44695"
         y="204.57263"
         class="text-svg">e={{propiedades.espesor}}</tspan></text>
    <rect
      transform="rotate(90)"
      y="95.872414"
      x="134.43077"
      height="23.597904"
      width="0.99999994"
      id="rect6790"
      style="display:inline;opacity:1;fill:#808080;fill-opacity:1;stroke:none;stroke-width:4.21171474;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
    <g
      transform="matrix(3.7795275,0,0,3.7795275,-232.10922,-4.9000874)"
      id="g6796"
      style="display:inline;opacity:1;fill:#808080;fill-opacity:1">
      <rect
        style="opacity:1;fill:#808080;fill-opacity:1;stroke:none;stroke-width:1.86867487;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        id="rect6792"
        width="1.8623993"
        height="0.26458332"
        x="36.346466"
        y="-31.705564"
        transform="rotate(90)" />
      <rect
        y="-31.837856"
        x="36.732334"
        height="0.52916664"
        width="0.52916664"
        id="rect6794"
        style="opacity:1;fill:#808080;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        transform="rotate(90)" />
    </g>
    <g
      id="g6802"
      transform="matrix(3.7795275,0,0,3.7795275,-221.61681,-4.9000874)"
      style="display:inline;opacity:1;fill:#808080;fill-opacity:1">
      <rect
        transform="rotate(90)"
        y="-31.705564"
        x="36.346466"
        height="0.26458332"
        width="1.8623993"
        id="rect6798"
        style="opacity:1;fill:#808080;fill-opacity:1;stroke:none;stroke-width:1.86867487;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
      <rect
        transform="rotate(90)"
        style="opacity:1;fill:#808080;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        id="rect6800"
        width="0.52916664"
        height="0.52916664"
        x="36.732334"
        y="-31.837856" />
    </g>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:9.33333302px;line-height:6.25927305px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.25037083px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="-97.861801"
       y="131.33932"
       id="text6806"><tspan
         sodipodi:role="line"
         id="tspan6804"
         x="-97.861801"
         y="131.33932"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:9.33333302px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke-width:0.25037083px">e</tspan></text>
  </g>
</svg>
