<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg style="width: 100%"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:cc="http://creativecommons.org/ns#"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:svg="http://www.w3.org/2000/svg"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
  xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
  height="250"
  version="1.1"
  viewBox="0 0 206 151"
  width="350"
  id="svg9"
  sodipodi:docname="profile.14.2.svg"
  inkscape:version="0.92.1 r15371">
  <metadata
    id="metadata13">
    <rdf:RDF>
      <cc:Work
        rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
          rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title />
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <sodipodi:namedview
    pagecolor="#ffffff"
    bordercolor="#666666"
    borderopacity="1"
    objecttolerance="10"
    gridtolerance="10"
    guidetolerance="10"
    inkscape:pageopacity="0"
    inkscape:pageshadow="2"
    inkscape:window-width="1366"
    inkscape:window-height="746"
    id="namedview11"
    showgrid="false"
    inkscape:zoom="1.4142137"
    inkscape:cx="-3.7595479"
    inkscape:cy="11.931148"
    inkscape:window-x="1358"
    inkscape:window-y="-8"
    inkscape:window-maximized="1"
    inkscape:current-layer="svg9" />
  <defs
    id="defs4">
    <pattern
      y="0"
      x="0"
      height="6"
      width="6"
      patternUnits="userSpaceOnUse"
      id="EMFhbasepattern" />
    <pattern
      y="0"
      x="0"
      height="6"
      width="6"
      patternUnits="userSpaceOnUse"
      id="EMFhbasepattern-2" />
  </defs>
  <g
    id="g8638"
    transform="translate(323.99995,-82.499995)">
    <g
      style="fill:#ffffff"
      id="g6183"
      transform="matrix(3.7795275,0,0,3.7795275,-319.20741,-292.02209)">
      <text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:3.52777767px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         x="11.370175"
         y="131.68074"
         id="text6177"><tspan
           sodipodi:role="line"
           id="tspan6175"
           x="11.370175"
           y="131.68074"
           class="text-svg">A={{propiedades.a}}</tspan></text>
      <text
         id="text6181"
         y="135.74992"
         x="11.769807"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:3.52777767px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         xml:space="preserve"><tspan
           class="text-svg"
           y="135.74992"
           x="11.769807"
           id="tspan6179"
           sodipodi:role="line">e={{propiedades.espesor}}</tspan></text>
    </g>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:13.33333302px;line-height:6.25927305px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.25037089px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="-206.48781"
       y="205.66888"
       id="text6187"><tspan
         sodipodi:role="line"
         id="tspan6185"
         x="-206.48781"
         y="205.66888"
         class="text-svg">B={{propiedades.b}}</tspan></text>
    <g
      transform="matrix(3.7795275,0,0,3.7795275,-1009.2074,-292.02209)"
      id="g6271">
      <rect
        y="-220.13402"
        x="108.42998"
        height="18.100828"
        width="12.441397"
        id="rect6261"
        style="opacity:1;fill:#aeafb3;fill-opacity:1;stroke:none;stroke-width:2.11666656;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        transform="rotate(90)" />
      <path
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:3.16995621;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        d="m 222.19575,107.63634 c 0,-0.56682 -0.45638,-1.02319 -1.0232,-1.02319 h -19.98327 c -0.56682,0 -1.02319,0.45637 -1.02319,1.02319 v 13.84618 c 0,0.56682 0.45637,1.0232 1.02319,1.0232 h 19.98327 c 0.56682,0 1.0232,-0.45638 1.0232,-1.0232 z m -2.42311,1.36064 v 11.1249 h -17.18293 v -11.1249 z"
        id="path6193"
        inkscape:connector-curvature="0" />
    </g>
    <rect
      transform="matrix(0,1,1,0,0,0)"
      y="-200.83304"
      x="97.953857"
      height="35"
      width="0.99999994"
      id="rect6195"
      style="display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:5.12927914;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
    <g
      style="display:inline;fill:#ffffff"
      transform="matrix(0,3.7795275,-3.7795275,0,-76.313359,41.307294)"
      id="g6203">
      <g
        style="fill:#ffffff"
        id="g6201">
        <rect
          transform="scale(1,-1)"
          y="-24.501154"
          x="14.200633"
          height="0.26458332"
          width="2.6458333"
          id="rect6197"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
        <rect
          transform="scale(1,-1)"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect6199"
          width="0.52916664"
          height="0.52916664"
          x="14.855443"
          y="-24.633446" />
      </g>
    </g>
    <text
       id="text6207"
       y="101.24618"
       x="-213.44829"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:9.33333302px;line-height:6.25927305px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.25037086px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       xml:space="preserve"><tspan
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:9.33333302px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;stroke-width:0.25037086px"
         y="101.24618"
         x="-213.44829"
         id="tspan6205"
         sodipodi:role="line">A</tspan></text>
    <rect
      style="display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:5.12927914;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
      id="rect6209"
      width="0.99999994"
      height="35"
      x="97.953857"
      y="220.30791"
      transform="rotate(90)" />
    <g
      style="display:inline;fill:#ffffff"
      transform="matrix(0,3.7795275,3.7795275,0,-344.82769,41.307306)"
      id="g6217">
      <g
        style="fill:#ffffff"
        id="g6215">
        <rect
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect6211"
          width="2.6458333"
          height="0.26458332"
          x="14.200633"
          y="-24.501154"
          transform="scale(1,-1)" />
        <rect
          y="-24.633446"
          x="14.855443"
          height="0.52916664"
          width="0.52916664"
          id="rect6213"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          transform="scale(1,-1)" />
      </g>
    </g>
    <rect
      style="display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:4.25877905;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
      id="rect6219"
      width="0.99999994"
      height="24.128235"
      x="-264.03766"
      y="149.29086" />
    <g
      id="g6227"
      transform="matrix(3.7795275,0,0,-3.7795275,-320.68419,262.93875)"
      style="display:inline;fill:#ffffff">
      <g
        style="fill:#ffffff"
        id="g6225">
        <rect
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect6221"
          width="2.6458333"
          height="0.26458332"
          x="14.200633"
          y="-24.501154"
          transform="scale(1,-1)" />
        <rect
          y="-24.633446"
          x="14.855443"
          height="0.52916664"
          width="0.52916664"
          id="rect6223"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          transform="scale(1,-1)" />
      </g>
    </g>
    <rect
      y="-133.28647"
      x="-264.03766"
      height="24.128235"
      width="0.99999994"
      id="rect6229"
      style="display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:4.25877905;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
      transform="scale(1,-1)" />
    <g
      transform="matrix(3.7795275,0,0,3.7795275,-320.68422,19.638583)"
      id="g6237"
      style="display:inline;fill:#ffffff">
      <g
        style="fill:#ffffff"
        id="g6235">
        <rect
          transform="scale(1,-1)"
          y="-24.501154"
          x="14.200633"
          height="0.26458332"
          width="2.6458333"
          id="rect6231"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
        <rect
          transform="scale(1,-1)"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect6233"
          width="0.52916664"
          height="0.52916664"
          x="14.855443"
          y="-24.633446" />
      </g>
    </g>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:9.33333302px;line-height:6.25927305px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.25037086px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="-266.81665"
       y="143.19984"
       id="text6241"><tspan
         sodipodi:role="line"
         id="tspan6239"
         x="-266.81665"
         y="143.19984"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:9.33333302px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;stroke-width:0.25037086px">B</tspan></text>
    <rect
      style="display:inline;opacity:1;fill:#808080;fill-opacity:1;stroke:none;stroke-width:4.21171522;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
      id="rect6243"
      width="0.99999994"
      height="23.597904"
      x="219.68777"
      y="-177.9165"
      transform="scale(-1)" />
    <g
      style="display:inline;fill:#808080;fill-opacity:1"
      id="g6249"
      transform="matrix(0,3.7795275,-3.7795275,0,-80.356943,42.12165)">
      <rect
        transform="rotate(90)"
        y="-31.705564"
        x="36.346466"
        height="0.26458332"
        width="1.8623993"
        id="rect6245"
        style="opacity:1;fill:#808080;fill-opacity:1;stroke:none;stroke-width:1.86867487;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
      <rect
        transform="rotate(90)"
        style="opacity:1;fill:#808080;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        id="rect6247"
        width="0.52916664"
        height="0.52916664"
        x="36.732334"
        y="-31.837856" />
    </g>
    <g
      style="display:inline;fill:#808080;fill-opacity:1"
      transform="matrix(0,3.7795275,-3.7795275,0,-80.35692,52.172147)"
      id="g6255">
      <rect
        style="opacity:1;fill:#808080;fill-opacity:1;stroke:none;stroke-width:1.86867487;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        id="rect6251"
        width="1.8623993"
        height="0.26458332"
        x="36.346466"
        y="-31.705564"
        transform="rotate(90)" />
      <rect
        y="-31.837856"
        x="36.732334"
        height="0.52916664"
        width="0.52916664"
        id="rect6253"
        style="opacity:1;fill:#808080;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        transform="rotate(90)" />
    </g>
    <text
       id="text6267"
       y="182.52098"
       x="-229.53424"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:9.33333302px;line-height:6.25927305px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.25037083px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       xml:space="preserve"><tspan
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:9.33333302px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke-width:0.25037083px"
         y="182.52098"
         x="-229.53424"
         id="tspan6265"
         sodipodi:role="line">e</tspan></text>
  </g>
</svg>
