<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:cc="http://creativecommons.org/ns#"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:svg="http://www.w3.org/2000/svg"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
  xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
  height="250"
  version="1.1"
  viewBox="0 0 206 151"
  width="350"
  id="svg9"
  sodipodi:docname="profile.11.2.svg"
  inkscape:version="0.92.1 r15371">
  <metadata
    id="metadata13">
    <rdf:RDF>
      <cc:Work
        rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
          rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title />
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <sodipodi:namedview
    pagecolor="#ffffff"
    bordercolor="#666666"
    borderopacity="1"
    objecttolerance="10"
    gridtolerance="10"
    guidetolerance="10"
    inkscape:pageopacity="0"
    inkscape:pageshadow="2"
    inkscape:window-width="1366"
    inkscape:window-height="746"
    id="namedview11"
    showgrid="false"
    inkscape:zoom="1.0000001"
    inkscape:cx="-173.3657"
    inkscape:cy="204.30957"
    inkscape:window-x="1358"
    inkscape:window-y="-8"
    inkscape:window-maximized="1"
    inkscape:current-layer="svg9" />
  <defs
    id="defs4">
    <pattern
      y="0"
      x="0"
      height="6"
      width="6"
      patternUnits="userSpaceOnUse"
      id="EMFhbasepattern" />
  </defs>
  <g
    id="g8697"
    transform="translate(306.99999,-46.499997)">
    <path
      inkscape:connector-curvature="0"
      style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:7.98493195;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
      d="m -234.71879,141.41508 h 14.00002 v -25.50002 h 54.75001 v 25.50002 h 13.99996 V 76.415066 h -13.99996 v 25.500014 h -54.75001 V 76.415066 h -14.00002 z"
      id="path7269" />
    <g
      transform="matrix(3.7795275,0,0,3.7795275,-296.6364,-125.76112)"
      id="g7279"
      style="display:inline;opacity:1;fill:#ffffff">
      <text
         id="text7273"
         y="78.764076"
         x="11.680234"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:3.52777767px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         xml:space="preserve"><tspan
           class="text-svg"
           y="78.764076"
           x="11.680234"
           id="tspan7271"
           sodipodi:role="line">d={{propiedades.h}}</tspan></text>
      <text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:3.52777767px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         x="9.5580559"
         y="82.83326"
         id="text7277"><tspan
           sodipodi:role="line"
           id="tspan7275"
           x="9.5580559"
           y="82.83326"
           class="text-svg">tw={{propiedades.tw}}</tspan></text>
    </g>
    <g
      transform="matrix(3.7795275,0,0,3.7795275,-296.6364,-125.76112)"
      id="g7289"
      style="display:inline;opacity:1;fill:#ffffff">
      <text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:3.52777767px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         x="28.624846"
         y="78.764076"
         id="text7283"><tspan
           sodipodi:role="line"
           id="tspan7281"
           x="28.624846"
           y="78.764076"
           class="text-svg">bf={{propiedades.bf}}</tspan></text>
      <text
         id="text7287"
         y="82.83326"
         x="29.244961"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:3.52777767px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         xml:space="preserve"><tspan
           class="text-svg"
           y="82.83326"
           x="29.244961"
           id="tspan7285"
           sodipodi:role="line">tr={{propiedades.tf}}</tspan></text>
    </g>
    <rect
      transform="matrix(0,-1,-1,0,0,0)"
      y="202.20294"
      x="-151.27629"
      height="35"
      width="0.99999994"
      id="rect7295"
      style="display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:5.12927914;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
    <g
      style="display:inline;opacity:1;fill:#ffffff"
      transform="matrix(0,-3.7795275,3.7795275,0,-326.72267,207.92286)"
      id="g7303">
      <g
        style="fill:#ffffff"
        id="g7301">
        <rect
          transform="scale(1,-1)"
          y="-24.501154"
          x="14.200633"
          height="0.26458332"
          width="2.6458333"
          id="rect7297"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
        <rect
          transform="scale(1,-1)"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect7299"
          width="0.52916664"
          height="0.52916664"
          x="14.855443"
          y="-24.633446" />
      </g>
    </g>
    <text
       id="text7307"
       y="155.32463"
       x="-196.45949"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:9.33333302px;line-height:6.25927305px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.25037086px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       xml:space="preserve"><tspan
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:9.33333302px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;stroke-width:0.25037086px"
         y="155.32463"
         x="-196.45949"
         id="tspan7305"
         sodipodi:role="line">d</tspan></text>
    <rect
      transform="rotate(-90)"
      style="display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:5.12927914;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
      id="rect7309"
      width="0.99999994"
      height="35"
      x="-151.27629"
      y="-183.43518" />
    <g
      style="display:inline;opacity:1;fill:#ffffff"
      transform="matrix(0,-3.7795275,-3.7795275,0,-58.915478,207.92289)"
      id="g7317">
      <g
        style="fill:#ffffff"
        id="g7315">
        <rect
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect7311"
          width="2.6458333"
          height="0.26458332"
          x="14.200633"
          y="-24.501154"
          transform="scale(1,-1)" />
        <rect
          y="-24.633446"
          x="14.855443"
          height="0.52916664"
          width="0.52916664"
          id="rect7313"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          transform="scale(1,-1)" />
      </g>
    </g>
    <rect
      transform="scale(1,-1)"
      y="-100.86433"
      x="-245.7054"
      height="27"
      width="0.99999994"
      id="rect7319"
      style="display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:4.50509787;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
    <g
      style="display:inline;opacity:1;fill:#ffffff"
      transform="matrix(3.7795275,0,0,3.7795275,-302.35196,-15.65857)"
      id="g7327">
      <g
        id="g7325"
        style="fill:#ffffff">
        <rect
          transform="scale(1,-1)"
          y="-24.501154"
          x="14.200633"
          height="0.26458332"
          width="2.6458333"
          id="rect7321"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
        <rect
          transform="scale(1,-1)"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect7323"
          width="0.52916664"
          height="0.52916664"
          x="14.855443"
          y="-24.633446" />
      </g>
    </g>
    <rect
      style="display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:4.50509787;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
      id="rect7329"
      width="0.99999994"
      height="27"
      x="-245.7054"
      y="116.60437" />
    <g
      style="display:inline;opacity:1;fill:#ffffff"
      id="g7337"
      transform="matrix(3.7795275,0,0,-3.7795275,-302.35199,233.65441)">
      <g
        id="g7335"
        style="fill:#ffffff">
        <rect
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect7331"
          width="2.6458333"
          height="0.26458332"
          x="14.200633"
          y="-24.501154"
          transform="scale(1,-1)" />
        <rect
          y="-24.633446"
          x="14.855443"
          height="0.52916664"
          width="0.52916664"
          id="rect7333"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          transform="scale(1,-1)" />
      </g>
    </g>
    <text
       id="text7341"
       y="111.91266"
       x="-250.64833"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:9.33333302px;line-height:6.25927305px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.25037083px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       xml:space="preserve"><tspan
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:9.33333302px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;stroke-width:0.25037083px"
         y="111.91266"
         x="-250.64833"
         id="tspan7339"
         sodipodi:role="line">bf</tspan></text>
    <rect
      style="display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:3.74069953;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
      id="rect7343"
      width="0.99999994"
      height="18.614906"
      x="68.099129"
      y="149.54521"
      transform="rotate(90)" />
    <g
      style="display:inline;opacity:1;fill:#ffffff"
      id="g7349"
      transform="matrix(3.7795275,0,0,3.7795275,-285.60049,-71.231797)">
      <rect
        transform="rotate(90)"
        y="-31.705564"
        x="36.346466"
        height="0.26458332"
        width="1.8623993"
        id="rect7345"
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.86867487;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
      <rect
        transform="rotate(90)"
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        id="rect7347"
        width="0.52916664"
        height="0.52916664"
        x="36.732334"
        y="-31.837856" />
    </g>
    <g
      style="display:inline;opacity:1;fill:#ffffff"
      transform="matrix(3.7795275,0,0,3.7795275,-270.81834,-71.23176)"
      id="g7355">
      <rect
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.86867487;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        id="rect7351"
        width="1.8623993"
        height="0.26458332"
        x="36.346466"
        y="-31.705564"
        transform="rotate(90)" />
      <rect
        y="-31.837856"
        x="36.732334"
        height="0.52916664"
        width="0.52916664"
        id="rect7353"
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        transform="rotate(90)" />
    </g>
    <text
       id="text7359"
       y="62.886532"
       x="-162.73914"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:9.33333302px;line-height:6.25927305px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.25037083px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       xml:space="preserve"><tspan
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:9.33333302px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;stroke-width:0.25037083px"
         y="62.886532"
         x="-162.73914"
         id="tspan7357"
         sodipodi:role="line">tr</tspan></text>
    <g
      style="fill:#808080"
      id="g8641">
      <rect
        style="display:inline;opacity:1;fill:#808080;fill-opacity:1;stroke:none;stroke-width:4.58918571;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        id="rect7361"
        width="0.99999994"
        height="28.017321"
        x="-184.42418"
        y="94.952072" />
      <g
        style="display:inline;opacity:1;fill:#808080"
        id="g7367"
        transform="matrix(0,-3.7795275,3.7795275,0,-323.75506,235.785)">
        <rect
          transform="rotate(90)"
          y="-31.705564"
          x="36.346466"
          height="0.26458332"
          width="1.8623993"
          id="rect7363"
          style="opacity:1;fill:#808080;fill-opacity:1;stroke:none;stroke-width:1.86867487;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
        <rect
          transform="rotate(90)"
          style="opacity:1;fill:#808080;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect7365"
          width="0.52916664"
          height="0.52916664"
          x="36.732334"
          y="-31.837856" />
      </g>
      <g
        style="display:inline;opacity:1;fill:#808080"
        transform="matrix(0,-3.7795275,3.7795275,0,-323.75507,220.87319)"
        id="g7373">
        <rect
          style="opacity:1;fill:#808080;fill-opacity:1;stroke:none;stroke-width:1.86867487;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect7369"
          width="1.8623993"
          height="0.26458332"
          x="36.346466"
          y="-31.705564"
          transform="rotate(90)" />
        <rect
          y="-31.837856"
          x="36.732334"
          height="0.52916664"
          width="0.52916664"
          id="rect7371"
          style="opacity:1;fill:#808080;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          transform="rotate(90)" />
      </g>
    </g>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:9.33333302px;line-height:6.25927305px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.25037083px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="-201.616"
       y="97.014908"
       id="text7377"><tspan
         sodipodi:role="line"
         id="tspan7375"
         x="-201.616"
         y="97.014908"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:9.33333302px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;stroke-width:0.25037083px">tw</tspan></text>
  </g>
</svg>
