<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg style="width: 100%"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:cc="http://creativecommons.org/ns#"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:svg="http://www.w3.org/2000/svg"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
  xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
  height="250"
  version="1.1"
  viewBox="0 0 206 151"
  width="350"
  id="svg9"
  sodipodi:docname="profile.14.1.svg"
  inkscape:version="0.92.1 r15371">
  <metadata
    id="metadata13">
    <rdf:RDF>
      <cc:Work
        rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
          rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title />
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <sodipodi:namedview
    pagecolor="#ffffff"
    bordercolor="#666666"
    borderopacity="1"
    objecttolerance="10"
    gridtolerance="10"
    guidetolerance="10"
    inkscape:pageopacity="0"
    inkscape:pageshadow="2"
    inkscape:window-width="1366"
    inkscape:window-height="746"
    id="namedview11"
    showgrid="false"
    inkscape:zoom="1.0000001"
    inkscape:cx="36.089624"
    inkscape:cy="-2.2753677"
    inkscape:window-x="1358"
    inkscape:window-y="-8"
    inkscape:window-maximized="1"
    inkscape:current-layer="svg9" />
  <defs
    id="defs4">
    <pattern
      y="0"
      x="0"
      height="6"
      width="6"
      patternUnits="userSpaceOnUse"
      id="EMFhbasepattern" />
    <pattern
      y="0"
      x="0"
      height="6"
      width="6"
      patternUnits="userSpaceOnUse"
      id="EMFhbasepattern-2" />
  </defs>
  <g
    id="g8648"
    transform="translate(340.58785,-52.872588)">
    <g
      style="fill:#ffffff"
      transform="matrix(3.7795275,0,0,3.7795275,-329.54472,-317.36913)"
      id="g6003">
      <text
         id="text5997"
         y="131.68074"
         x="11.370175"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:3.52777767px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         xml:space="preserve"><tspan
           class="text-svg"
           y="131.68074"
           x="11.370175"
           id="tspan5995"
           sodipodi:role="line">A={{propiedades.a}}</tspan></text>
      <text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:3.52777767px;line-height:1.65609932px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.06624397px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         x="11.769807"
         y="135.74992"
         id="text6001"><tspan
           sodipodi:role="line"
           id="tspan5999"
           x="11.769807"
           y="135.74992"
           class="text-svg">e={{propiedades.espesor}}</tspan></text>
    </g>
    <text
       id="text6007"
       y="180.32185"
       x="-216.82512"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:13.33333302px;line-height:6.25927305px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.25037089px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       xml:space="preserve"><tspan
         class="text-svg"
         y="180.32185"
         x="-216.82512"
         id="tspan6005"
         sodipodi:role="line">B={{propiedades.b}}</tspan></text>
    <g
      transform="matrix(3.7795275,0,0,3.7795275,-789.5447,-317.36913)"
      id="g6275">
      <rect
        style="opacity:1;fill:#aeafb3;fill-opacity:1;stroke:none;stroke-width:2.11666656;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        id="rect6081"
        width="12.441397"
        height="18.100828"
        x="142.18738"
        y="105.51475" />
      <path
        inkscape:connector-curvature="0"
        id="path6013"
        d="m 141.6854,103.93267 c -0.56682,0 -1.02319,0.45638 -1.02319,1.0232 v 19.98327 c 0,0.56682 0.45637,1.02319 1.02319,1.02319 h 13.84619 c 0.56681,0 1.02319,-0.45637 1.02319,-1.02319 v -19.98327 c 0,-0.56682 -0.45638,-1.0232 -1.02319,-1.0232 z m 1.36064,2.42311 h 11.1249 v 17.18293 h -11.1249 z"
        style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:3.16995621;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
    </g>
    <rect
      style="display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:5.12927914;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
      id="rect6015"
      width="0.99999994"
      height="35"
      x="-270.87939"
      y="-106.86787"
      transform="scale(1,-1)" />
    <g
      id="g6023"
      transform="matrix(3.7795275,0,0,3.7795275,-327.52596,-17.651817)"
      style="display:inline;fill:#ffffff">
      <g
        id="g6021"
        style="fill:#ffffff">
        <rect
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect6017"
          width="2.6458333"
          height="0.26458332"
          x="14.200633"
          y="-24.501154"
          transform="scale(1,-1)" />
        <rect
          y="-24.633446"
          x="14.855443"
          height="0.52916664"
          width="0.52916664"
          id="rect6019"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          transform="scale(1,-1)" />
      </g>
    </g>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:9.33333302px;line-height:6.25927305px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.25037086px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="-274.01303"
       y="119.52515"
       id="text6027"><tspan
         sodipodi:role="line"
         id="tspan6025"
         x="-274.01303"
         y="119.52515"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:9.33333302px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;stroke-width:0.25037086px">A</tspan></text>
    <rect
      y="126.34276"
      x="-270.87939"
      height="35"
      width="0.99999994"
      id="rect6029"
      style="display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:5.12927914;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
    <g
      id="g6037"
      transform="matrix(3.7795275,0,0,-3.7795275,-327.52596,250.8625)"
      style="display:inline;fill:#ffffff">
      <g
        id="g6035"
        style="fill:#ffffff">
        <rect
          transform="scale(1,-1)"
          y="-24.501154"
          x="14.200633"
          height="0.26458332"
          width="2.6458333"
          id="rect6031"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
        <rect
          transform="scale(1,-1)"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect6033"
          width="0.52916664"
          height="0.52916664"
          x="14.855443"
          y="-24.633446" />
      </g>
    </g>
    <rect
      transform="matrix(0,1,1,0,0,0)"
      y="-219.5424"
      x="63.845318"
      height="24.128235"
      width="0.99999994"
      id="rect6039"
      style="display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:4.25877905;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
    <g
      style="display:inline;fill:#ffffff"
      transform="matrix(0,3.7795275,-3.7795275,0,-105.89446,7.198773)"
      id="g6047">
      <g
        id="g6045"
        style="fill:#ffffff">
        <rect
          transform="scale(1,-1)"
          y="-24.501154"
          x="14.200633"
          height="0.26458332"
          width="2.6458333"
          id="rect6041"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
        <rect
          transform="scale(1,-1)"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect6043"
          width="0.52916664"
          height="0.52916664"
          x="14.855443"
          y="-24.633446" />
      </g>
    </g>
    <rect
      style="display:inline;opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:4.25877905;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
      id="rect6049"
      width="0.99999994"
      height="24.128235"
      x="63.845318"
      y="235.54674"
      transform="rotate(90)" />
    <g
      style="display:inline;fill:#ffffff"
      id="g6057"
      transform="matrix(0,3.7795275,3.7795275,0,-349.19467,7.19872)">
      <g
        id="g6055"
        style="fill:#ffffff">
        <rect
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:2.22729921;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          id="rect6051"
          width="2.6458333"
          height="0.26458332"
          x="14.200633"
          y="-24.501154"
          transform="scale(1,-1)" />
        <rect
          y="-24.633446"
          x="14.855443"
          height="0.52916664"
          width="0.52916664"
          id="rect6053"
          style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
          transform="scale(1,-1)" />
      </g>
    </g>
    <text
       id="text6061"
       y="67.524986"
       x="-232.09203"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:9.33333302px;line-height:6.25927305px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.25037086px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       xml:space="preserve"><tspan
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:9.33333302px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;stroke-width:0.25037086px"
         y="67.524986"
         x="-232.09203"
         id="tspan6059"
         sodipodi:role="line">B</tspan></text>
    <rect
      transform="rotate(90)"
      y="190.9167"
      x="125.7226"
      height="23.597904"
      width="0.99999994"
      id="rect6063"
      style="display:inline;opacity:1;fill:#808080;fill-opacity:1;stroke:none;stroke-width:4.21171522;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
    <g
      transform="matrix(3.7795275,0,0,3.7795275,-326.71159,-13.60824)"
      id="g6069"
      style="display:inline;fill:#808080;fill-opacity:1">
      <rect
        style="opacity:1;fill:#808080;fill-opacity:1;stroke:none;stroke-width:1.86867487;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        id="rect6065"
        width="1.8623993"
        height="0.26458332"
        x="36.346466"
        y="-31.705564"
        transform="rotate(90)" />
      <rect
        y="-31.837856"
        x="36.732334"
        height="0.52916664"
        width="0.52916664"
        id="rect6067"
        style="opacity:1;fill:#808080;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        transform="rotate(90)" />
    </g>
    <g
      id="g6075"
      transform="matrix(3.7795275,0,0,3.7795275,-316.6611,-13.60824)"
      style="display:inline;fill:#808080;fill-opacity:1">
      <rect
        transform="rotate(90)"
        y="-31.705564"
        x="36.346466"
        height="0.26458332"
        width="1.8623993"
        id="rect6071"
        style="opacity:1;fill:#808080;fill-opacity:1;stroke:none;stroke-width:1.86867487;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none" />
      <rect
        transform="rotate(90)"
        style="opacity:1;fill:#808080;fill-opacity:1;stroke:none;stroke-width:1.40866745;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none"
        id="rect6073"
        width="0.52916664"
        height="0.52916664"
        x="36.732334"
        y="-31.837856" />
    </g>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:9.33333302px;line-height:6.25927305px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.25037083px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="-193.52487"
       y="123.16148"
       id="text6079"><tspan
         sodipodi:role="line"
         id="tspan6077"
         x="-193.52487"
         y="123.16148"
         style="font-style:normal;font-variant:normal;font-weight:500;font-stretch:normal;font-size:9.33333302px;font-family:Ubuntu;-inkscape-font-specification:'Ubuntu, Medium';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;writing-mode:lr-tb;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke-width:0.25037083px">e</tspan></text>
  </g>
</svg>
