<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Asignar Carga Puntual</h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="form-group">

    <div class="row">
      <div class="col-sm-12">

        <div class="row">

          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-4">
                <h5 class="control-label">Tipo:</h5>
              </div>
              <div class="col-sm-8" ng-init="vm.carga.cargaType = 'muerta'">
                <select class="form-control" ng-model="vm.carga.cargaType">
                  <option value="muerta">Carga Muerta</option>
                  <option value="viva">Carga Viva</option>
                </select><br>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-12" ng-init="vm.carga.cargaExistente = false">
                <toggle-switch
                  ng-model="vm.carga.cargaExistente"
                  on-label="Adicionar"
                  off-label="Remplazar">
                </toggle-switch>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="row">
              <div class="col-sm-4">
                <h5 class="control-label">Eliminar:</h5>
              </div>
              <div class="col-sm-8">
                <toggle-switch
                  class="optionSwitch switch-warning"
                  ng-model="vm.carga.remove"
                  on-label="Sí"
                  off-label="No">
                </toggle-switch>
              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-5">
                <h5 class="control-label">Distancia (m):</h5>
              </div>
              <div class="col-sm-7">
                <input type="number" class="form-control" ng-model="vm.carga.distanciaX">
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-5">
                <h5 class="control-label">Ancho (m):</h5>
              </div>
              <div class="col-sm-7">
                <input type="number" class="form-control" ng-model="vm.carga.anchoB">
              </div>
            </div>
          </div>
        </div><br>

        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-5">
                <h5 class="control-label">Carga(Kgf/m<sup>2</sup>):</h5>
              </div>
              <div class="col-sm-7">
                <input type="number" class="form-control" ng-model="vm.carga.valor">
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>


  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-sm btn-primary" type="button" ng-click="vm.ok()">OK</button>
  <button class="btn btn-sm btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>

