<div class="nav-tabs-custom" ng-init="inicio = true">
  <ul class="nav nav-tabs">
    <li ng-class="{active: archivo}"><a ng-click="archivo = true; inicio = false; calcular = false" data-toggle="tab">Archivo</a></li>
    <li ng-class="{active: inicio}"><a ng-click="archivo = false; inicio = true; calcular = false" data-toggle="tab">Inicio</a></li>
    <li ng-class="{active: calcular}"><a ng-click="archivo = false; inicio = false; calcular = true" data-toggle="tab">Cálculo</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane" ng-class="{active: archivo}" id="archivo">
      <div class="row">
        <div class="col-md-12 btns-group-menu">
          <a class="btn link-app" title="Abrir">
            <i class="fa icon-btn_open"></i>
          </a>
          <a id="download" class="btn link-app" title="Guardar" ng-click="vm.downloadData(this)">
            <i class="fa icon-btn_save"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="tab-pane" ng-class="{active: inicio}" id="inicio">
      <div class="row">
        <div class="col-md-12 btns-group-menu">
          <div class="btn-group btn-padding margin-left-2" uib-dropdown>
            <a class="btn link-app" uib-dropdown-toggle data-toggle="dropdown" aria-expanded="false" title="Dise&ntilde;o">
              <i class="fa icon-btn_design"></i>
              <span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
              <li ng-hide="vm.dataMetaldeck.data.estructura.momentosNegativos === true"><a href ng-click="vm.dataMetaldeck.data.estructura.diseno = 1"><input type="radio" ng-checked="vm.dataMetaldeck.data.estructura.diseno == 1"> Esfuerzo admisible</a></li>
              <li><a href ng-click="vm.dataMetaldeck.data.estructura.diseno = 2"><input type="radio" ng-checked="vm.dataMetaldeck.data.estructura.diseno == 2 || vm.dataMetaldeck.data.estructura.momentosNegativos === true"> Factores de carga</a></li>
            </ul>
          </div>
          <div class="btn-group btn-padding margin-left-2" uib-dropdown>
            <a class="btn link-app" uib-dropdown-toggle data-toggle="dropdown" aria-expanded="false" title="Mallas">
              <i class="fa icon-btn_mesh"></i>
              <span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
              <li><a href ng-click="vm.dataMetaldeck.data.estructura.malla = 4.0"><input type="radio" ng-checked="vm.dataMetaldeck.data.estructura.malla == 4.0"/> 4.0 mm</a></li>
              <li><a href ng-click="vm.dataMetaldeck.data.estructura.malla = 5.0"><input type="radio" ng-checked="vm.dataMetaldeck.data.estructura.malla == 5.0"/> 5.0 mm</a></li>
              <li><a href ng-click="vm.dataMetaldeck.data.estructura.malla = 6.0"><input type="radio" ng-checked="vm.dataMetaldeck.data.estructura.malla == 6.0"/> 6.0 mm</a></li>
              <li><a href ng-click="vm.dataMetaldeck.data.estructura.malla = 7.0"><input type="radio" ng-checked="vm.dataMetaldeck.data.estructura.malla == 7.0"/> 7.0 mm</a></li>
              <li><a href ng-click="vm.dataMetaldeck.data.estructura.malla = 8.0"><input type="radio" ng-checked="vm.dataMetaldeck.data.estructura.malla == 8.0"/> 8.0 mm</a></li>
            </ul>
          </div>
          <a class="btn link-app margin-left-2 margin-top-10" data-toggle="modal" title="Parametros de diseño" ng-click="vm.openParamsDiseno()">
            <i class="fa icon-btn_settings"></i>
          </a>
          <a class="btn link-app margin-left-2 margin-top-10" title="Agregar luz" ng-click="vm.dataMetaldeck.aggLuz()">
            <i class="fa icon-btn_add_light"></i>
          </a>
          <a class="btn link-app margin-left-2 margin-top-10" title="Quitar luz" ng-click="vm.dataMetaldeck.rmvLuz()">
            <i class="fa icon-btn_del_light"></i>
          </a>
          <a class="btn link-app margin-left-2 margin-top-10" title="Longitud del vano" ng-click="vm.openLongVano()">
            <i class="fa icon-btn_element_length"></i>
          </a>
          <a class="btn link-app margin-left-2 margin-top-10" title="Carga puntual" ng-if="!vm.dataMetaldeck.data.estructura.soloFormaleta" ng-click="vm.openCargaPuntual()">
            <i class="fa icon-btn_spot"></i>
          </a>
          <a class="btn link-app margin-left-2 margin-top-10" title="Carga distribuida" ng-if="!vm.dataMetaldeck.data.estructura.soloFormaleta" ng-click="vm.openCargaDistribuida()">
            <i class="fa icon-btn_distributed"></i>
          </a>
          <a class="btn link-app margin-left-2 margin-top-10" title="Tipos de Carga" ng-if="!vm.dataMetaldeck.data.estructura.soloFormaleta" ng-click="vm.openTiposCargas()">
            <i class="fa icon-btn_visualization"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="tab-pane" ng-class="{active: calcular}" id="calcular">
      <div class="row">
        <div class="col-md-12 btns-group-menu">
          <a class="btn link-app" title="Calcular" ng-click="vm.calcular()">
            <i class="fa icon-btn_calculate"></i>
          </a>
          <a class="btn link-app" title="Generar/Ver Reporte" ng-click="vm.downloadPdf(vm.dataMetaldeck.report.reporte)">
            <i class="fa icon-btn_report"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
