<div class="nav-tabs-custom" ng-init="perfileria = true">
  <ul class="nav nav-tabs">
    <li ng-class="{active: perfileria}">
      <a ng-click="perfileria = true; resultados = false; propiedades = false;" href data-toggle="tab">Perfileria</a>
    </li>
    <li ng-class="{active: propiedades}">
      <a ng-click="perfileria = false; resultados = false; propiedades = true;" href data-toggle="tab">Propiedades</a>
    </li>
    <li ng-class="{active: resultados}">
      <a ng-click="perfileria = false; resultados = true; propiedades = false; vm.calcular()" href data-toggle="tab">Resultados</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane" ng-class="{active: perfileria}" id="perfileria">
      <div class="row">
        <div class="col-md-12">
          <br/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!-- PERFILERIAS POR ACABADOS -->
          <div class="box box-primary " ng-repeat="acabado in vm.perfileria.acabados"
               ng-if="acabado.perfiles.length > 0">
            <div class="box-header with-border">
              <input type="checkbox" ng-model="vm[acabado.acabado]"
                     ng-checked="vm.content(vm.perfileria.selectedPerfiles, acabado.perfiles)"
                     ng-click="vm.isCheckAllByAcabado($event, acabado.perfiles)">
              <h3 class="box-title">&nbsp; Acabado {{acabado.acabado}}</h3>
              <div class="box-tools">
                <button type="button" class="btn btn-box-tool" ng-click="vm.isCollapsedGroup(acabado.acabado)" data-widget="collapse">
                  <i class="fa" ng-class="{'fa-plus': vm.isCollapsed[acabado.acabado], 'fa-minus': !vm.isCollapsed[acabado.acabado]}"></i>
                </button>
              </div>
            </div>
            <div class="box-body no-padding" uib-collapse="vm.isCollapsed[acabado.acabado]" ng-init="vm.isCollapsed[acabado.acabado] = true">


              <!-- PERFILERIA LAMINA DELGADA -->
              <div class="row ident-left-1" ng-if="acabado.perfiles.length > 0 && (vm.perfileria.perfilCurrentType ==1
                     || vm.perfileria.perfilCurrentType == 3
                     || vm.perfileria.perfilCurrentType == 5
                     || vm.perfileria.perfilCurrentType == 7)">
                <div class="col-md-12 col-lg-12 col-sm-12">
                  <div class="box box-primary " ng-repeat="(grupo, perfiles) in acabado.perfiles | groupBy:'[a, b, c]'">
                    <div class="box-header with-border">
                      <input type="checkbox" ng-model="vm[grupo.replace(',', '')]"
                             ng-checked="vm.content(vm.perfileria.selectedPerfiles, perfiles)"
                             ng-click="vm.isCheckallByGrupo($event, perfiles)">
                      <h3 class="box-title"> &nbsp; {{ grupo | abcFilter:acabado.acabado }}</h3>
                      <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" ng-click="vm.isCollapsed[grupo.replace(',', '')] = !vm.isCollapsed[grupo.replace(',', '')]"
                                data-widget="collapse">
                          <i class="fa"
                             ng-class="{'fa-plus': vm.isCollapsed[grupo.replace(',', '')], 'fa-minus': !vm.isCollapsed[grupo.replace(',', '')]}"></i>
                        </button>
                      </div>
                    </div>
                    <div class="box-body no-padding" uib-collapse="vm.isCollapsed[grupo.replace(',', '')]"
                         ng-init="vm.isCollapsed[grupo.replace(',', '')] = true">
                      <!-- TABLA -->
                      <table class="table table-hover table-striped">
                        <thead>
                        <tr ng-init="vm[acabado.acabado] = false">
                          <th></th>
                          <th>A (mm)</th>
                          <th>B (mm)</th>
                          <th>C (mm)</th>
                          <th>e (mm)</th>
                          <th>Gr</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="perfil in perfiles">
                          <td><input type="checkbox" ng-disabled="vm.atLeasOne(perfil, vm.perfileria.selectedPerfiles)"
                                     ng-checked="vm.exists(perfil, vm.perfileria.selectedPerfiles)"
                                     ng-click="vm.toggleSelectPerfil(perfil, $event)"></td>
                          <td>{{perfil.a}}</td>
                          <td>{{perfil.b}}</td>
                          <td ng-if="acabado.perfiles[0].c !== 0">{{perfil.c}}</td>
                          <td>{{perfil.espesorFinal | round:1}}</td>
                          <td>{{perfil.material.grado}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- / PERFILERIA LAMINA DELGADA -->

              <!-- PERFILERIA TUBERIAS RECTANGULAR/CUADRADA -->
              <div class="row ident-left-1" ng-if="acabado.perfiles.length > 0 && (vm.perfileria.perfilCurrentType == 9 || vm.perfileria.perfilCurrentType == 14)">
                <div class="col-md-12 col-lg-12 col-sm-12">
                  <div class="box box-primary " ng-repeat="(grupo, perfiles) in acabado.perfiles | metalTubRectFilter:'[a, b]'">

                    <div class="box-header with-border">
                      <input type="checkbox" ng-model="vm[grupo]"
                             ng-checked="vm.content(vm.perfileria.selectedPerfiles, perfiles)"
                             ng-click="vm.isCheckallByGrupo($event, perfiles)">
                      <h3 class="box-title">&nbsp; MetalTub {{grupo}}</h3>
                      <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" ng-click="vm.isCollapsed[grupo] = !vm.isCollapsed[grupo]"
                                data-widget="collapse">
                          <i class="fa"
                             ng-class="{'fa-plus': vm.isCollapsed[grupo], 'fa-minus': !vm.isCollapsed[grupo]}"></i>
                        </button>
                      </div>
                    </div>

                    <!-- FAMILIAS -->
                    <div class="row ident-left-1">
                      <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="box-body no-padding" uib-collapse="vm.isCollapsed[grupo]"
                             ng-init="vm.isCollapsed[grupo] = true">

                          <div class="box box-primary " ng-repeat="(grupoFamilia, perfilesFamilia) in perfiles | groupBy:'[a, b, c]'">
                            <div class="box-header with-border">

                              <input type="checkbox" ng-model="vm[grupoFamilia.replace(',', '')]"
                                     ng-checked="vm.content(vm.perfileria.selectedPerfiles, perfilesFamilia)"
                                     ng-click="vm.isCheckallByGrupo($event, perfilesFamilia)">
                              <h3 class="box-title">&nbsp; {{grupoFamilia | metalTubFami}}</h3>
                              <div class="box-tools">
                                <button type="button" class="btn btn-box-tool" ng-click="vm.isCollapsed[grupoFamilia.replace(',', '')] = !vm.isCollapsed[grupoFamilia.replace(',', '')]"
                                        data-widget="collapse">
                                  <i class="fa"
                                     ng-class="{'fa-plus': vm.isCollapsed[grupoFamilia.replace(',', '')], 'fa-minus': !vm.isCollapsed[grupoFamilia.replace(',', '')]}"></i>
                                </button>
                              </div>

                            </div>
                            <div class="box-body no-padding" uib-collapse="vm.isCollapsed[grupoFamilia.replace(',', '')]"
                                 ng-init="vm.isCollapsed[grupoFamilia.replace(',', '')] = true">
                              <!-- TABLA -->
                              <table class="table table-hover table-striped">
                                <thead>
                                <tr ng-init="vm[acabado.acabado] = false">
                                  <th></th>
                                  <th>A (mm)</th>
                                  <th>B (mm)</th>
                                  <th>e (mm)</th>
                                  <th>Gr</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="perfil in perfilesFamilia">
                                  <td><input type="checkbox" ng-disabled="vm.atLeasOne(perfil, vm.perfileria.selectedPerfiles)"
                                             ng-checked="vm.exists(perfil, vm.perfileria.selectedPerfiles)"
                                             ng-click="vm.toggleSelectPerfil(perfil, $event)"></td>
                                  <td>{{perfil.a}}</td>
                                  <td>{{perfil.b}}</td>
                                  <td>{{perfil.espesorFinal | round:1}}</td>
                                  <td>{{perfil.material.grado}}</td>
                                </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                    <!-- / FAMILIAS -->

                  </div>
                </div>
              </div>
              <!-- /PERFILERIA TUBERIAS RECTANGULAR/CUADRADA -->

              <!-- PERFILERIA TUBERIAS CIRCULAR -->
              <div class="row ident-left-1" ng-if="vm.perfileria.perfilCurrentType ==10 || vm.perfileria.perfilCurrentType == 15">
                <div class="col-md-12 col-lg-12 col-sm-12">
                  <table class="table table-hover table-striped">
                    <thead>
                    <tr ng-init="vm[acabado.acabado] = false">
                      <th></th>
                      <th>D (mm)</th>
                      <th>e (mm)</th>
                      <th>Gr</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="perfil in acabado.perfiles">
                      <td><input type="checkbox" ng-disabled="vm.atLeasOne(perfil, vm.perfileria.selectedPerfiles)"
                                 ng-checked="vm.exists(perfil, vm.perfileria.selectedPerfiles)"
                                 ng-click="vm.toggleSelectPerfil(perfil, $event)"></td>
                      <td>{{perfil.a}}</td>
                      <td>{{perfil.espesorFinal | round:1}}</td>
                      <td>{{perfil.material.grado}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- PERFILERIA TUBERIAS CIRCULAR -->

              <!-- PERFILERIA AMERICANA/EUROPEA -->
              <div class="row ident-left-1" ng-if="vm.perfileria.perfilCurrentType ==11 || vm.perfileria.perfilCurrentType == 12">
                <div class="col-md-12 col-lg-12 col-sm-12">
                  <table class="table table-hover table-striped">
                    <thead>
                    <tr ng-init="vm[acabado.acabado] = false">
                      <th></th>
                      <th>Nombre</th>
                      <th>Gr</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="perfil in acabado.perfiles">
                      <td><input type="checkbox" ng-disabled="vm.atLeasOne(perfil, vm.perfileria.selectedPerfiles)"
                                 ng-checked="vm.exists(perfil, vm.perfileria.selectedPerfiles)"
                                 ng-click="vm.toggleSelectPerfil(perfil, $event)"></td>
                      <td>{{perfil.nombre}}</td>
                      <td>{{perfil.material.grado}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- PERFILERIA AMERICANA/EUROPEA -->

            </div>
          </div>
          <!-- / PERFILERIAS POR ACABADOS -->
        </div>
      </div>
    </div>
    <div class="tab-pane" ng-class="{active: propiedades}" id="propiedades">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Propiedades Geom&eacute;tricas</h3>
        </div>
        <div class="box-body no-padding">
          <div class="row">
            <div class="col-lg-12">
              <select class="form-control"
                      ng-model="vm.perfileria.selectedPerfil"
                      ng-options="perfil.nombre for perfil in vm.perfileria.selectedPerfiles"
                      ng-change="vm.propiedadGeometricasChanged()">
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="content-overflow-vertical">
                <table class="table table-hover table-striped content-overflow-vertical">
                  <thead>
                  <tr>
                    <th>Propiedad</th>
                    <th>Valor</th>
                    <th>Magnitud</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-if="vm.perfileria.propertiesPerfilSelected.length === 0">
                    <td colspan="3" class="text-center"><b>No hay propiedades para mostrar</b></td>
                  </tr>
                  <tr ng-repeat="propiedad in vm.perfileria.propertiesPerfilSelected">
                    <td><b>{{propiedad.key}}</b></td>
                    <td>{{propiedad.valor}}</td>
                    <td>{{propiedad.magnitud}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-6">

              <div ng-show="true" uib-carousel-plus on-next="vm.nextCarousel(index)" on-prev="vm.prevCarousel(index)"
                   active="">
                <div class="carousel-inner bg-carousel" uib-slide-plus
                     ng-repeat="orientacion in vm.perfileria.orientaciones.list" index="$index">
                  <p-orientacion tipo-perfil="vm.perfileria.perfilCurrentType" orientacion="orientacion"
                                 propiedades="vm.perfileria.propertiesSelectedPerfil"></p-orientacion>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" ng-class="{active: resultados}" id="resultados">
      <div class="row">
        <div class="col-md-4">
          <div ng-repeat="component in vm.solicitaciones.selected.configuration.components">
            <div class="form-group"
                 ng-if="component.type == 'text'">
              <label ng-bind="component.descripcion"></label>
              <input type="text" class="form-control" ng-model="component.valor">
            </div>
            <div class="form-group"
                 ng-if="component.type == 'checkbox'">
              <label ng-bind="component.descripcion"></label>
              <input type="checkbox" ng-model="component.valor" ng-checked="component.valor">
            </div>
            <div class="form-group"
                 ng-if="component.type == 'radio'">
              <label ng-bind="component.descripcion"></label>
              <toggle-switch
                ng-model="component.valor"
                on-label="{{component.radios[0].descripcion}}"
                off-label="{{component.radios[1].descripcion}}">
              </toggle-switch>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="content-overflow-full">
            <table class="table table-hover table-striped">
              <tr>
                <th>Perfil</th>
                <th>Cumple</th>
                <th>&Iacute;ndice de Sobre-Esfuerzos</th>
              </tr>
              <tr ng-repeat="calculo in vm.solicitaciones.selected.reporteTecnico.resultado[0].perfiles">
                <td ng-bind="calculo.perfil.nombre"></td>
                <td ng-if="calculo.cumplimiento" class="text-green"><i class="fa fa-check"></i>S&iacute;</td>
                <td ng-if="!calculo.cumplimiento" class="text-red"><i class="fa fa-times"></i>No</td>
                <td><span class="badge bg-yellow" ng-bind="calculo.factor | round"></span></td>
              </tr>
            </table>
          </div>
          <button type="button" class="btn btn-block btn-primary" ng-click="vm.calcular()">Actualizar</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <br/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <i class="fa icon-btn_mechanical_prop"></i>
              <h3 class="box-title">Curvas de Comportamiento - {{vm.solicitaciones.selected.descripcion}}</h3>
            </div>
            <div class="box-body">
              <nvd3 options="vm.solicitaciones.selected.chart.options"
                    data="vm.solicitaciones.selected.chart.data"
                    on-ready="vm.onReadyChart"
                    class="with-3d-shadow with-transitions">
              </nvd3>
              <div ng-show="false" style="width: 1024px;">
                <nvd3 id="chartPropiedadesMecanicas"
                      options="vm.solicitaciones.selected.chart.printableOptions"
                      data="vm.solicitaciones.selected.chart.data"
                      class="with-3d-shadow with-transitions">
                </nvd3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- TABLE EXCEL TO EXPORT -->
  <div id="exportable" ng-hide="true">
    <div ng-repeat="resultado in vm.solicitaciones.selected.reporteTecnico.resultado[0].perfiles">
      <table width="100%">
        <thead>
        <tr>
          <th>Perfil</th>
          <th>Cumple</th>
          <th>Factor</th>
          <th>Unidades</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td ng-bind="resultado.perfil.nombre"></td>
          <td ng-if="resultado.cumplimiento"><i></i>Si</td>
          <td ng-if="!resultado.cumplimiento"><i></i>No</td>
          <td><span ng-bind="resultado.factor"></span></td>
          <td ng-bind="vm.unidades.unitSelected.descripcion"></td>
        </tr>
        </tbody>
      </table>

      <table width="100%">
        <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="resultado in resultado.resultadoXY">
          <td ng-bind="resultado.x"></td>
          <td ng-bind="resultado.y"></td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
  <!-- / TABLE EXCEL TO EXPORT -->

</div>
