<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Reportes</h3>
</div>
<div class="modal-body" id="modal-body">

  <div class="form-group">

    <div class="row">
      <div class="col-sm-12">
        <h5>
          Seleccione el reporte que desea descargar.
        </h5>
      </div>
    </div>

  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-sm btn-primary" type="button" ng-click="vm.ok(false)">R. Académico</button>
  <button class="btn btn-sm btn-primary" type="button" ng-click="vm.ok(true)">R. Técnico</button>
  <button class="btn btn-sm btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>

