<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Asignar Carga Distribuida</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="form-group">
      
        <div class="row">
            <div class="col-sm-3">
                <h5 class="control-label">Tipo de carga:</h5>
            </div>
            <div class="col-sm-4" ng-init="vm.carga.cargaType = 'muerta'">
                <select class="form-control" ng-model="vm.carga.cargaType">
                    <option value="viva">Viva</option>
                    <option value="muerta">Muerta</option>
                    <option value="granizo">Granizo</option>
                    <option value="succion">Viento de succión</option>
                    <option value="compresion">Viento de compresión</option>
                </select>
                <br>
            </div>
            <div class="col-sm-2">
                <h5 class="control-label">Direccion:</h5>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-model="vm.carga.direccion" ng-init="vm.carga.direccion='Gravedad'" disabled="true">
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <h5 class="control-label">Unidades:</h5>
            </div>
            <div class="col-sm-4">
                <select class="form-control" ng-options="unidad.descripcion for unidad in vm.unidades.list track by unidad.codigo" ng-model="vm.carga.unidades"></select>
                </select>
            </div>
            <div class="col-sm-2">
                <h5 class="control-label">Carga:</h5>
            </div>
            <div class="col-sm-3">
                <input type="number" class="form-control" ng-model="vm.carga.valor">
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <h5 class="control-label">Cargas Existentes:</h5>
                <br>
            </div>
            <div class="col-sm-4" ng-init="vm.carga.cargaExistente = false">
                <toggle-switch ng-model="vm.carga.cargaExistente" on-label="Adicionar" off-label="Remplazar">
                </toggle-switch>
                <br>
            </div>
            <div class="col-sm-2">
                <h5 class="control-label">Eliminar:</h5>
            </div>
            <div class="col-sm-3">
                <toggle-switch class="optionSwitch switch-warning" ng-model="vm.carga.remove" on-label="Sí" off-label="No">
                </toggle-switch>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <fieldset>
                    <legend>Carga Axial</legend>
                </fieldset>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-sm btn-primary" type="button" ng-click="vm.ok()">OK</button>
    <button class="btn btn-sm btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>
