<div class="box box-primary">
  <div class="box-header with-border">
    <i class="fa icon-btn_metaldeck_des"></i>
    <h3 class="box-title">Metaldeck</h3>
  </div>
  <div class="box-body">
    <x3d id="{{vm.x3d.id}}"
         showProgress="{{vm.x3d.ebProgres}}"
         disableDoubleClick="{{vm.x3d.dbDoubleClick}}"
         disableRightDrag="{{vm.x3d.dbRightDrag}}"
         onmouseup="stopDragging()"
         onmousemove="mouseMoved(event)"
         ng-style="vm.x3d.style">
      <scene>
        <viewpoint id="viewPoint"
                   position="41.17150500625538 20.724093343103625 18.816642998334828"
                   orientation="-0.3147223263703526 0.9273977523594875 0.20219610827759346 1.2116929507190817"
                   fieldOfView="0.160000000000001">
        </viewpoint>
        <background groundcolor="0.9 0.9 1"
                    skyColor="0.9 0.9 1"></background>
        <navigationInfo id="navInfo"
                        speed="0"
                        headlight='true'></navigationInfo>
        <directionalLight id="directional"
                          direction='0 -1 0'
                          on="TRUE"
                          intensity='0.1680'
                          shadowIntensity='0.0268'></directionalLight>

        <!-- DESIGN GROUP-->

        <transform id="superTransform" onmousedown="startDragging(this)">

          <!-- LIGHT -->
          <group>
            <transform ng-repeat="light in vm.superTransform.lights.list"
                       scale="{{light.scale.x}} {{light.scale.y}} {{light.scale.z}}"
                       translation="{{light.translation.x}} {{light.translation.y}} {{light.translation.z}}">

              <!-- concreto -->
              <transform render="{{! vm.dataMetaldeck.data.estructura.soloFormaleta}}"
                         scale="{{light.concreto.scale.x}} {{light.concreto.scale.y}} {{light.concreto.scale.z}}"
                         translation="{{light.concreto.translation.x}} {{light.concreto.translation.y}} {{light.concreto.translation.z}}">
                <inline id="{{light.concreto.nameSpace}}" url="assets/shapes/metaldeck.x3d" mapDEFToID="true"
                        nameSpaceName="{{light.concreto.nameSpace}}"></inline>
              </transform>

              <!-- formaleta -->
              <transform render="{{vm.dataMetaldeck.data.estructura.soloFormaleta}}"
                         scale="{{light.lamina.scale.x}} {{light.lamina.scale.y}} {{light.lamina.scale.z}}"
                         translation="{{light.lamina.translation.x}} {{light.lamina.translation.y}} {{light.lamina.translation.z}}">
                <inline id="{{light.lamina.nameSpace}}" url="assets/shapes/metaldeck_lamina.x3d" mapDEFToID="true"
                        nameSpaceName="{{light.lamina.nameSpace}}"></inline>
              </transform>

              <!-- Carga distribuida viva -->
              <transform render="{{light.cargaDistViva.show}}">
                <transform translation="{{carga.translation.x}} {{carga.translation.y}} {{carga.translation.z}}"
                           ng-repeat="carga in light.cargaDistViva.cargas">
                  <inline url="assets/shapes/cargaDistViva.x3d" mapDEFToID="true"></inline>
                </transform>

                <!-- Text -->
                <transform translation="0 3 0" rotation="0 1 0 1.5478"
                           render="{{light.cargaDistViva.cargas.length > 0}}">
                  <shape>
                    <appearance>
                      <material ambientIntensity='0.0933' diffuseColor='0.32 0.32 0.32' shininess='0.51'
                                specularColor='0.46 0.46 0.46'></material>
                    </appearance>
                    <text string='{{light.cargaDistViva.w}}' solid='false'>
                      <fontstyle family="TYPEWRITER" size="1"></fontstyle>
                    </text>
                  </shape>
                </transform>
                <!-- / Text -->

              </transform>
              <!-- / Carga distribuida viva -->

              <!-- Carga distribuida muerta -->
              <transform render="{{light.cargaDistMuerta.show}}">
                <transform translation="{{carga.translation.x}} {{carga.translation.y}} {{carga.translation.z}}"
                           ng-repeat="carga in light.cargaDistMuerta.cargas">
                  <inline url="assets/shapes/cargaDistMuerta.x3d" mapDEFToID="true"></inline>
                </transform>

                <!-- Text -->
                <transform translation="0 3 0" rotation="0 1 0 1.5478"
                           render="{{light.cargaDistMuerta.cargas.length > 0}}">
                  <shape>
                    <appearance>
                      <material ambientIntensity='0.0933' diffuseColor='0.32 0.32 0.32' shininess='0.51'
                                specularColor='0.46 0.46 0.46'></material>
                    </appearance>
                    <text string='{{light.cargaDistMuerta.w}}' solid='false'>
                      <fontstyle family="TYPEWRITER" size="1"></fontstyle>
                    </text>
                  </shape>
                </transform>
                <!-- / Text -->

              </transform>
              <!-- / Carga distribuida muerta -->

              <!-- carga puntual viva -->
              <transform render="{{light.cargaPuntViva.show}}">
                <transform scale="1.5 1.5 1.5"
                           translation="{{carga.translation.x}} {{carga.translation.y}} {{carga.translation.z}}"
                           ng-repeat="carga in light.cargaPuntViva.cargas">
                  <inline url="assets/shapes/cargaPuntViva.x3d" mapDEFToID="true"></inline>
                </transform>

                <!-- Text -->
                <transform translation="0 3 0" rotation="0 1 0 1.5478"
                           render="{{light.cargaPuntViva.cargas.length > 0}}">
                  <shape>
                    <appearance>
                      <material ambientIntensity='0.0933' diffuseColor='0.32 0.32 0.32' shininess='0.51'
                                specularColor='0.46 0.46 0.46'></material>
                    </appearance>
                    <text string='{{light.cargaPuntViva.w}}' solid='false'>
                      <fontstyle family="TYPEWRITER" size="1"></fontstyle>
                    </text>
                  </shape>
                </transform>
              </transform>
              <!-- / carga puntual viva -->

              <!-- carga puntual muerta -->
              <transform render="{{light.cargaPuntMuerta.show}}">
                <transform scale="1.5 1.5 1.5"
                           translation="{{carga.translation.x}} {{carga.translation.y}} {{carga.translation.z}}"
                           ng-repeat="carga in light.cargaPuntMuerta.cargas">
                  <inline url="assets/shapes/cargaPuntMuerta.x3d" mapDEFToID="true"></inline>
                </transform>

                <!-- Text -->
                <transform translation="0 3 0" rotation="0 1 0 1.5478"
                           render="{{light.cargaPuntMuerta.cargas.length > 0}}">
                  <shape>
                    <appearance>
                      <material ambientIntensity='0.0933' diffuseColor='0.32 0.32 0.32' shininess='0.51'
                                specularColor='0.46 0.46 0.46'></material>
                    </appearance>
                    <text string='{{light.cargaPuntMuerta.w}}' solid='false'>
                      <fontstyle family="TYPEWRITER" size="1"></fontstyle>
                    </text>
                  </shape>
                </transform>
              </transform>
              <!-- / carga puntual muerta -->

            </transform>
          </group>
          <!-- / LIGHT -->

          <!-- APOYOS -->
          <group>
            <transform rotation="0 1 0 1.5708"
                       ng-repeat="apoyo in vm.superTransform.apoyos.list"
                       render="{{!apoyo.voladizo}}"
                       scale="{{apoyo.scale.x}} {{apoyo.scale.y}} {{apoyo.scale.z}}"
                       translation="{{apoyo.translation.x}} {{apoyo.translation.y}} {{apoyo.translation.z}}">
              <inline id="{{apoyo.nameSpace}}" url="assets/shapes/separacion_metaldeck.x3d" mapDEFToID="true" nameSpaceName="{{apoyo.nameSpace}}"></inline>
            </transform>
          </group>
          <!-- / APOYOS -->

        </transform>

        <!-- / DESIGN GROUP -->
      </scene>
    </x3d>

    <!--orientation indicator-->
    <div ng-show="vm.axes.show">
      <x3d id="x3domAxisSceneView">
        <scene>
          <navigationInfo type='"NONE" "ANY"'></navigationInfo>
          <viewpoint id="viewPointAxes" position="0 0 2.8"></viewpoint>
          <transform id="axes">
            <inline url="assets/shapes/axes.x3d" mapDEFToID="true" namespaceName="CoordinateAxes"></inline>
          </transform>
        </scene>
      </x3d>
    </div>

    <!--orientation box-->
    <div id="viewpointControl" ng-show="vm.orientationBx.show">
      <x3d id="x3domOrientationSceneView" showProgress="false" disableDoubleClick="true" disableRightDrag="true">
        <scene>
          <navigationInfo type='"TURNTABLE"' speed="0"></navigationInfo>
          <viewpoint position="0.0 0.0 3.05"></viewpoint>
          <transform id="orientationBox">
            <inline url="assets/shapes/orientation.x3d" mapDEFToID="true" namespaceName="orientationBox"></inline>
          </transform>
        </scene>
      </x3d>
    </div>

    <!-- quick buttons -->

    <div class="btn-group-vertical btn-group-sm" role="group">
      <div class="vertical-sliders">
        <rzslider rz-slider-model="vm.sliderZooming.value" rz-slider-options="vm.sliderZooming.options"></rzslider>
      </div>
      <button type="button" class="btn btn-default" ng-click="vm.scene.resetView()"> R</button>
    </div>

  </div>
</div>

<!-- HTMLCONTENT del reporte -->
<div>
  <!-- Aquí va el contenido -->
</div>
<!-- / HTMLCONTENT del reporte -->

<script>
  var cellSize = 1.0;

  var lastMouseX = -1;
  var lastMouseY = -1;

  var draggedTransformNode = null;

  //vectors in 3D world space, associated to mouse x/y movement on the screen
  var draggingUpVec = null;
  var draggingRightVec = null;

  var unsnappedDragPos = null;

  /*
   * functions
   * */
  /*******************************************************************/


  //------------------------------------------------------------------------------------------------------------------

  function mouseMoved(event)
  {
    //offsetX / offsetY polyfill for FF
    var target = event.target || event.srcElement;
    var rect = target.getBoundingClientRect();
    event.offsetX = event.clientX - rect.left;
    event.offsetY = event.clientY - rect.top;

    if (lastMouseX === -1) {
      lastMouseX = event.offsetX;
    }
    if (lastMouseY === -1) {
      lastMouseY = event.offsetY;
    }

    if (draggedTransformNode) {
      dragObject(event.offsetX - this.lastMouseX, event.offsetY - this.lastMouseY);
    }

    lastMouseX = event.offsetX;
    lastMouseY = event.offsetY;
  }

  //------------------------------------------------------------------------------------------------------------------

  function startDragging(transformNode)
  {
    //disable navigation during dragging
    document.getElementById("navInfo").setAttribute("type", '"NONE"');

    draggedTransformNode = transformNode;
    unsnappedDragPos = new x3dom.fields.SFVec3f.parse(transformNode.getAttribute("translation"));

    //compute the dragging vectors in world coordinates
    //(since navigation is disabled, those will not change until dragging has been finished)

    //get the viewer's 3D local frame
    var x3dElem = document.getElementById("x3domMetaldeckCentralSceneView");
    var vMatInv = x3dElem.runtime.viewMatrix().inverse();
    var viewDir = vMatInv.multMatrixVec(new x3dom.fields.SFVec3f(0.0, 0.0, -1.0));

    //use the viewer's up-vector and right-vector
    draggingUpVec = vMatInv.multMatrixVec(new x3dom.fields.SFVec3f(0.0, 1.0, 0.0));
    draggingRightVec = viewDir.cross(this.draggingUpVec);


    //project a world unit to the screen to get its size in pixels
    var p1 = x3dElem.runtime.calcCanvasPos(unsnappedDragPos.x, unsnappedDragPos.y, unsnappedDragPos.z);
    var p2 = x3dElem.runtime.calcCanvasPos(unsnappedDragPos.x + draggingRightVec.x,
      unsnappedDragPos.y + draggingRightVec.y,
      unsnappedDragPos.z + draggingRightVec.z);
    var magnificationFactor = 1.0 / Math.abs(p1[0] - p2[0]);

    //scale up vector and right vector accordingly
    draggingUpVec = draggingUpVec.multiply(magnificationFactor);
    draggingRightVec = draggingRightVec.multiply(magnificationFactor);
  }

  //------------------------------------------------------------------------------------------------------------------

  function dragObject(dx, dy)
  {
    //scale up vector and right vector accordingly
    var offsetUp = draggingUpVec.multiply(-dy);
    var offsetRight = draggingRightVec.multiply(dx);

    unsnappedDragPos = unsnappedDragPos.add(offsetUp).add(offsetRight);

    var snappedDragPos;

    draggedTransformNode.setAttribute("translation", unsnappedDragPos.toString());
  }

  //------------------------------------------------------------------------------------------------------------------

  function stopDragging()
  {
    draggedTransformNode = null;
    draggingUpVec = null;
    draggingRightVec = null;
    unsnappedDragPos = null;

    //re-enable navigation after dragging
    document.getElementById("navInfo").setAttribute("type", '"EXAMINE" "ANY"');
  }
</script>
