<a ui-sref="app.metaldeck" class="logo">
  <span class="logo-mini"> <img src="../../assets/images/logo.png" width="30px" /></span>
  <span class="logo-lg"><b>Arquimet</b> <img src="assets/images/logo.png" width="30px" /></span>
</a>
<nav class="navbar navbar-static-top">
  <a class="sidebar-toggle" data-toggle="offcanvas" role="button">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </a>
  <div class="navbar-custom-menu" ui-view="quickationstoolbar"></div>
</nav>
