<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" ng-click="vm.cancelar()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Continuidad con Traslapo</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <div class="col-md-12">
            <h5>Tipo de traslapo</h5>
          </div>
          <div class="col-md-12">
            <label class="lb-opt">
              <input type="checkbox" ng-model="vm.checkRecSoft" ng-disabled="vm.checkRecSoft" ng-click="vm.checkEspUser=false">&nbsp;Recomendado por el Software</label>
          </div>
          <div class="col-md-12">
            <label class="lb-opt">
              <input type="checkbox" ng-model="vm.checkEspUser" ng-disabled="vm.checkEspUser" ng-click="vm.checkRecSoft=false">&nbsp;Especificado por el usuario</label>
          </div>
          <div class="col-md-12 padd-top" ng-class="{TableDisabled: vm.checkRecSoft}">
            <table class="table table-hover table-striped" ng-disabled="vm.checkRecSoft">
              <tr>
                <th>Apoyo</th>
                <th>Izquierda(m)</th>
                <th>Derecha(m)</th>
              </tr>
              <tr>
                <td>1</td>
                <td>0.5</td>
                <td><input type="number" ng-model="vm.derecha" ng-disabled="vm.checkRecSoft" class="form-control" max="999" step="0.01"/></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-12">
            <h5>Detalle de perforaciones</h5>
          </div>
          <div class="col-md-12">
            <label class="lb-opt">
              <input type="checkbox">&nbsp;Especificar Perforaciones</label>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="vm.ok()">Aceptar</button>
      <button type="button" class="btn btn-default" ng-click="vm.cancelar()">Cancelar</button>
    </div>
  </div>
</div>
