<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Largo del Vano</h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="row">
    <div class="col-sm-5">
      <h5 class="control-label">Área Efectiva:</h5>
    </div>
    <div class="col-sm-7">
      <input type="number" class="form-control" ng-disabled="true" ng-model="vm.propiedadesEfectivas.areaEfectiva">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <h5 class="control-label">Sección Efectiva:</h5>
    </div>
    <div class="col-sm-7">
      <input type="number" class="form-control" ng-disabled="true" ng-model="vm.propiedadesEfectivas.seccionEfectiva">
    </div>
  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-sm btn-primary" type="button" ng-click="vm.ok()">OK</button>
</div>
