<div class="modal-header">
  <button type="button" class="close" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Cambiar espesor en los vanos</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Vano</th>
            <th>Geometría</th>
            <th>Grado</th>
            <th>Peso</th>
            <th>Espesor</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="espesor in vm.listaVanos | groupBy: '[a,b,c,material.grado]'">
            <td>{{}}</td>
            <td>{{espesor[0].nombre}}</td>
            <td>{{espesor[0].material.grado}}</td>
            <td>{{espesor[0].peso | round:2}}</td>
            <td>
              <select class="form-control" ng-model="vm.vanoSelected" ng-options="item.espesorFinal for item in vm.grupoListado">
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="vm.ok()">Aceptar</button>
  <button type="button" class="btn btn-default" ng-click="vm.cancel()">Cerrar</button>
</div>
