<ul class="nav navbar-nav">
  <!-- <li class="dropdown">
    <div class="form-group-top">
      <select class="form-control"
              ng-options="unidad.descripcion for unidad in vm.unidades.list"
              ng-model="vm.unidades.unitSelected"></select>
    </div>
  </li> -->
 <!--  <li class="dropdown">
    <a title="Calcular" ng-click="vm.calcular()">
      <i class="fa icon-btn_calculate"></i>
    </a>
  </li> -->
  <!-- <li class="dropdown">
    <a title="Generar/Ver Reporte" ng-click="vm.openGenerarReporte()">
      <i class="fa icon-btn_report"></i>
    </a>
  </li> -->
  <!-- <li class="dropdown">
    <a title="Ayuda">
      <i class="fa fa-question-circle"></i>
    </a>
  </li> -->
</ul>
