<div class="modal-header">
  <button type="button" class="close" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Parametros de dise&ntilde;o</h4>
</div>
<div class="modal-body">

  <h4>Deflexiones debido a:</h4>
  <div>
    <div class="row">
      <div class="col-md-8">
        <h5 class="ident-left-1">
          <input type="checkbox" ng-model="vm.tipoparametro.checkCargaVivaCubierta"/>
          Carga viva de cubierta:
        </h5>
      </div>
      <div class="col-md-4">
        <input type="number" ng-model="vm.tipoparametro.cargaVivaCubierta" ng-disabled="vm.tipoparametro.checkCargaVivaCubierta === false"
               class="form-control" max="999" step="0.01"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h5 class="ident-left-1">
          <input type="checkbox" ng-model="vm.tipoparametro.checkCargaMuertaVivaCubierta"/>
          Carga muerta y viva de cubierta:
        </h5>
      </div>
      <div class="col-md-4">
        <input type="number" ng-model="vm.tipoparametro.cargaMuertaViva" ng-disabled="vm.tipoparametro.checkCargaMuertaVivaCubierta === false"
               class="form-control" max="999" step="0.01"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h5 class="ident-left-1">
          <input type="checkbox" ng-model="vm.tipoparametro.checkCargaViento"/>
          Carga de viento:
        </h5>
      </div>
      <div class="col-md-4">
        <input type="number" ng-model="vm.tipoparametro.cargaViento" ng-disabled="vm.tipoparametro.checkCargaViento === false"
               class="form-control" max="999" step="0.01"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h5 class="ident-left-1">
          <input type="checkbox" ng-model="vm.tipoparametro.checkCargaGranizo"/>
          Carga de granizo:
        </h5>
      </div>
      <div class="col-md-4">
        <input type="number" ng-model="vm.tipoparametro.cargaGranizo" ng-disabled="vm.tipoparametro.checkCargaGranizo === false"
               class="form-control" max="999" step="0.01"/>
      </div>
    </div>
  </div>


  <h4>Coeficiente Cb:</h4>
  <div>
    <div class="row">
      <div class="col-md-8">
        <h5 class="ident-left-1">
          <input type="checkbox" ng-model="vm.tipoparametro.checkCoeficienteCBCalculado" ng-change="vm.checkPorUsuario = ! vm.tipoparametro.checkCoeficienteCBCalculado"/>
          Calculado del análisis estructural:
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h5 class="ident-left-1">
          <input type="checkbox" ng-model="vm.checkPorUsuario" ng-change="vm.tipoparametro.checkCoeficienteCBCalculado = ! vm.checkPorUsuario"/>
          Determinado por el usuario:
        </h5>
      </div>
      <div class="col-md-4">
        <input type="number" ng-model="vm.tipoparametro.coeficienteCB" ng-disabled="vm.checkPorUsuario === false"
               class="form-control" max="999" step="0.01"/>
      </div>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-md-12">
      <h5>
        <input type="checkbox" ng-model="vm.tipoparametro.checkArrugamientoAlma"/>
        Arrugamiento del alma
      </h5>
    </div>
  </div>
  <div ng-if="vm.tipoparametro.checkArrugamientoAlma ==  true">
    <div class="row">
      <div class="col-md-12">
        <h5 class="ident-left-1">
          <input type="checkbox" ng-model="vm.tipoparametro.checkSujetoApoyo"/>
          Sujeto al apoyo:
        </h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h5>
        <input type="checkbox" ng-model="vm.tipoparametro.checkFactorR"/>
        Factores R para cargas de viento
      </h5>
    </div>
  </div>
  <div ng-if="vm.tipoparametro.checkFactorR == true">
    <div class="row">
      <div class="col-md-8">
        <h5 class="ident-left-1">
          Cargas de viento a succión:
        </h5>
      </div>
      <div class="col-md-4">
        <input type="number" ng-model="vm.tipoparametro.cargaVientoSuccion"
               class="form-control" max="999" step="0.01"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h5 class="ident-left-1">
          Cargas en el sentido de la gravedad:
        </h5>
      </div>
      <div class="col-md-4">
        <input type="number" ng-model="vm.tipoparametro.cargaSentidoGravedad"
               class="form-control" max="999" step="0.01"/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h5>
        <input type="checkbox" ng-model="vm.tipoparametro.checkCubiertaPanelRigido"/>
        Considerar cubierta como panel rígido
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h5>
        <input type="checkbox" ng-model="vm.tipoparametro.checkCalcularEje"/>
        Calcular al eje
      </h5>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="vm.ok()">Aceptar</button>
  <button type="button" class="btn btn-default" ng-click="vm.cancel()">Cerrar</button>
</div>
