<div class="nav-tabs-custom" ng-init="inicio = true">
  <ul class="nav nav-tabs">
    <li ng-class="{active: archivo}"><a ng-click="archivo = true; inicio = false; calcular = false" data-toggle="tab">Archivo</a></li>
    <li ng-class="{active: inicio}"><a ng-click="archivo = false; inicio = true; calcular = false" data-toggle="tab">Inicio</a></li>
    <li ng-class="{active: calcular}"><a ng-click="archivo = false; inicio = false; calcular = true" data-toggle="tab">Cálculo</a></li>
  </ul>
  <div class="tab-content">
  <!-- tab archivo -->
    <div class="tab-pane" ng-class="{active: archivo}" id="archivo">
      <div class="row">
        <div class="col-md-12 btns-group-menu">
          <a class="btn link-app" title="Abrir">
            <i class="fa icon-btn_open"></i>
          </a>
          <a id="download" class="btn link-app" title="Guardar" ng-click="vm.downloadData(this)">
            <i class="fa icon-btn_save"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- tab inicio -->
    <div class="tab-pane" ng-class="{active: inicio}" id="inicio">
      <div class="row">

        <div class="col-md-12 btns-group-menu">

          <a class="btn link-app margin-left-2 margin-top-10" title="Mapa de velocidad" ng-click="vm.openMapaVelocidad()">
            <i class="fa icon-btn_speed_map"></i>
          </a>
          <!-- direccion del viento -->
          <div ng-show="vm.propiedades.diseno == 'SPRFV'" class="btn-group btn-padding margin-left-2" uib-dropdown>
            <a class="btn link-app" uib-dropdown-toggle data-toggle="dropdown" aria-expanded="false" title="Direcci&oacute;n del Viento">
              <i class="fa icon-btn_wind_direction"></i>
              <span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
              <li><a href ng-click="vm.propiedades.direccionViento = 'N'"><input type="radio" ng-checked="vm.propiedades.direccionViento == 'N'">&nbsp; Normal</a></li>
              <li><a href ng-click="vm.propiedades.direccionViento = 'P'"><input type="radio" ng-checked="vm.propiedades.direccionViento == 'P'">&nbsp; Paralelo</a></li>
            </ul>
          </div>
          <!-- tipo de cubierta -->
          <div class="btn-group btn-padding margin-left-2" uib-dropdown>
            <a class="btn link-app" uib-dropdown-toggle data-toggle="dropdown" aria-expanded="false" title="Tipo de Cubierta">
              <i class="fa icon-btn_cover_type"></i>
              <span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
              <li><a href ng-click="vm.propiedades.tipoCubierta = '1A'"><input type="radio" ng-checked="vm.propiedades.tipoCubierta == '1A'">&nbsp; Un Agua</a></li>
              <li><a href ng-click="vm.propiedades.tipoCubierta = '2A'"><input type="radio" ng-checked="vm.propiedades.tipoCubierta == '2A'">&nbsp; Dos Aguas</a></li>
            </ul>
          </div>
          <!-- tipo de edificacion -->
          <div class="btn-group btn-padding margin-left-2" uib-dropdown>
            <a class="btn link-app" uib-dropdown-toggle data-toggle="dropdown" aria-expanded="false" title="Tipo de Edificaci&oacute;n">
              <i class="fa icon-btn_building_type"></i>
              <span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
              <li><a href ng-click="vm.propiedades.tipoEdificacion = 'C'"><input type="radio" ng-checked="vm.propiedades.tipoEdificacion == 'C'">&nbsp; Cerrada</a></li>
              <li><a href ng-click="vm.propiedades.tipoEdificacion = 'PC'"><input type="radio" ng-checked="vm.propiedades.tipoEdificacion == 'PC'">&nbsp; Parcialmente Cerrada</a></li>
              <li><a href ng-click="vm.propiedades.tipoEdificacion = 'A'"><input type="radio" ng-checked="vm.propiedades.tipoEdificacion == 'A'">&nbsp; Abierta</a></li>
            </ul>
          </div>
          <!-- exposicion -->
          <div class="btn-group btn-padding margin-left-2" uib-dropdown>
            <a class="btn link-app" uib-dropdown-toggle data-toggle="dropdown" aria-expanded="false" title="Exposici&oacute;n">
              <i class="fa icon-btn_exposure"></i>
              <span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
              <li><a href ng-click="vm.propiedades.exposicion = 'B'"><input type="radio" ng-checked="vm.propiedades.exposicion == 'B'">&nbsp; B</a></li>
              <li><a href ng-click="vm.propiedades.exposicion = 'C'"><input type="radio" ng-checked="vm.propiedades.exposicion == 'C'">&nbsp; C</a></li>
              <li><a href ng-click="vm.propiedades.exposicion = 'D'"><input type="radio" ng-checked="vm.propiedades.exposicion == 'D'">&nbsp; D</a></li>
            </ul>
          </div>
          <!-- ocupacion -->
          <div class="btn-group btn-padding margin-left-2" uib-dropdown>
            <a class="btn link-app" uib-dropdown-toggle data-toggle="dropdown" aria-expanded="false" title="Ocupaci&oacute;n">
              <i class="fa icon-btn_occupation"></i>
              <span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
              <li><a href ng-click="vm.propiedades.ocupacion = 'I'"><input type="radio" ng-checked="vm.propiedades.ocupacion == 'I'">&nbsp; I</a></li>
              <li><a href ng-click="vm.propiedades.ocupacion = 'II'"><input type="radio" ng-checked="vm.propiedades.ocupacion == 'II'">&nbsp; II</a></li>
              <li><a href ng-click="vm.propiedades.ocupacion = 'III'"><input type="radio" ng-checked="vm.propiedades.ocupacion == 'III'">&nbsp; III</a></li>
              <li><a href ng-click="vm.propiedades.ocupacion = 'IV'"><input type="radio" ng-checked="vm.propiedades.ocupacion == 'IV'">&nbsp; IV</a></li>
            </ul>
          </div>
          <!-- flujo del viento -->
          <div ng-show="vm.propiedades.tipoEdificacion == 'A'" class="btn-group btn-padding margin-left-2" uib-dropdown>
            <a class="btn link-app" uib-dropdown-toggle data-toggle="dropdown" aria-expanded="false" title="Flujo del Viento">
              <i class="fa icon-btn_wind_direction"></i>
              <span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
              <li><a href ng-click="vm.propiedades.flujoViento = 'L'"><input type="radio" ng-checked="vm.propiedades.flujoViento == 'L'">&nbsp; Libre</a></li>
              <li><a href ng-click="vm.propiedades.flujoViento = 'O'"><input type="radio" ng-checked="vm.propiedades.flujoViento == 'O'">&nbsp; Obstruido</a></li>
            </ul>
          </div>
          <!-- region -->
          <div class="btn-group btn-padding margin-left-2" uib-dropdown>
            <a class="btn link-app" uib-dropdown-toggle data-toggle="dropdown" aria-expanded="false" title="Regi&oacute;n">
              <i class="fa icon-btn_region"></i>
              <span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
              <li><a href ng-click="vm.propiedades.region = 'NPH'"><input type="radio" ng-checked="vm.propiedades.region == 'NPH'">&nbsp; No propensa a huracanes</a></li>
              <li><a href ng-click="vm.propiedades.region = 'PH'"><input type="radio" ng-checked="vm.propiedades.region == 'PH'">&nbsp; Propensa a huracanes</a></li>
            </ul>
          </div>
          <!-- diseño -->
          <div class="btn-group btn-padding margin-left-2" uib-dropdown>
            <a class="btn link-app" uib-dropdown-toggle data-toggle="dropdown" aria-expanded="false" title="Dise&ntilde;o">
              <i class="fa icon-btn_design"></i>
              <span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
              <li><a href ng-click="vm.propiedades.diseno = 'SPRFV'"><input type="radio" ng-checked="vm.propiedades.diseno == 'SPRFV'">&nbsp; SPRFV</a></li>
              <li><a href ng-click="vm.propiedades.diseno = 'CR'"><input type="radio" ng-checked="vm.propiedades.diseno == 'CR'">&nbsp; Componentes y Revestimiento</a></li>
            </ul>
          </div>

        </div>

      </div>
    </div>
    <!-- tab calcular -->
    <div class="tab-pane" ng-class="{active: calcular}" id="calcular">
      <div class="row">
        <div class="col-md-12 btns-group-menu">
          <a class="btn link-app" title="Calcular" ng-click="vm.calcular()">
            <i class="fa icon-btn_calculate"></i>
          </a>
          <a class="btn link-app" title="Generar/Ver Reporte" ng-click="vm.downloadPDF()">
            <i class="fa icon-btn_report"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
