<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
  <!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu">

    <!-- propiedades mecanicas -->
    <!-- <li ng-class="{'active':vm.activeItem.propiedades_mecanicas}">
      <a ui-sref="app.propiedades" target="_blank">
        <i class="fa icon-btn_mechanical_prop"></i> <span>Propiedades Mec&aacute;nicas</span>
      </a>
    </li> -->

    <!-- metaldeck -->
    <!-- <li ng-class="{'active':vm.activeItem.metaldeck}">
      <a ui-sref="app.metaldeck" target="_blank">
        <i class="fa icon-btn_metaldeck_des"></i> <span>Dise&ntilde;o Metaldeck</span>
      </a>
    </li> -->

    <!-- vientos -->
    <!-- <li ng-class="{'active':vm.activeItem.vientos}">
      <a ui-sref="app.vientos" target="_blank">
        <i class="fa icon-btn_wind_analysis"></i> <span>An&aacute;lisis de Viento</span>
      </a>
    </li> -->

    <!-- correas -->
    <li ng-class="{'active':vm.activeItem.correas}">
      <a ui-sref="app.correas" target="_blank">
        <i class="fa icon-btn_straps_des"></i> <span>Dise&ntilde;o Correas</span>
      </a>
    </li>
  </ul>

</section>
<!-- /.sidebar -->
