<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Reportes</h3>
</div>
<div class="modal-body" id="modal-body">

  <div class="form-group">

    <div class="row">
      <div class="col-sm-12">
        <h5>
          Se creará un reporte para la solicitación <b>{{vm.solicitaciones.selected.descripcion}}</b>.
        </h5>
      </div>
    </div>

    <!-- TIPO REPORTE
    <div class="row">
      <div class="col-sm-12">
        <h5>
          Tipo de reporte &nbsp
          <toggle-switch
            class="optionSwitch"
            ng-model="vm.isTecnico"
            on-label="R. Técnico"
            off-label="Académico">
          </toggle-switch>
        </h5>
      </div>
    </div>
    TIPO REPORTE -->

    <!-- SOLICITACIONES
    <div class="row">
      <div class="col-sm-6" ng-repeat="solicitacion in vm.solicitaciones.list">
        <h5>
          <input type="checkbox"
                 ng-checked="vm.exists(solicitacion.codigo, vm.idSolicitacionesList)"
                 ng-click="vm.toggleSelectSolicitacion(solicitacion.codigo, $event)"
                 ng-disabled="vm.atLeasOne(solicitacion.codigo, vm.idSolicitacionesList)"/>
          &nbsp {{solicitacion.descripcion}}
        </h5>
      </div>
    </div>
    SOLICITACIONES -->

  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-sm btn-primary" type="button" ng-click="vm.ok(false)">R. Académico</button>
  <button class="btn btn-sm btn-primary" type="button" ng-click="vm.ok(true)">R. Técnico</button>
  <button class="btn btn-sm btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>

