<div class="modal-header alert alert-info">
  <h3 class="modal-title" id="modal-title">¡Atención!</h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="row">
    <div class="col-md-10">
      <h5 class="control-label"> Debe seleccionar un elemento. </h5>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-sm btn-primary" type="button" ng-click="vm.ok()">OK</button>
</div>
