<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" ng-click="vm.cerrar()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Seleccionar Perfil</h4>
    </div>
    <div class="modal-body">
      <a class="btn link-app margin-left-2 margin-top-10"  title="Perfil C" ng-click="vm.perfileria.chngTipoPerfil(1)" ng-class="{active:vm.perfileria.currentPerfilType == 1}">
        <i class="fa icon-btn_c"></i>
      </a>
      <a class="btn link-app margin-left-2 margin-top-10" ng-model="vm.perfil.perfilZ" title="Perfil Z" ng-click="vm.perfileria.chngTipoPerfil(3)" ng-class="{active:vm.perfileria.currentPerfilType == 3}" ng-hide="vm.perfileria.sujecionCubierta==3">
        <i class="fa icon-btn_z"></i>
      </a>
      <a class="btn link-app margin-left-2 margin-top-10" ng-model="vm.perfil.perfilI" title="Perfil I" ng-click="vm.perfileria.chngTipoPerfil(5)" ng-class="{active:vm.perfileria.currentPerfilType == 5}" ng-hide="vm.perfileria.sujecionCubierta==3">
        <i class="fa icon-btn_i"></i>
      </a>
      <a class="btn link-app margin-left-2 margin-top-10" ng-model="vm.perfil.perfilCajon" title="Perfil Caj&oacute;n" ng-click="vm.perfileria.chngTipoPerfil(7)" ng-class="{active:vm.perfileria.currentPerfilType == 7}" ng-hide="vm.perfileria.sujecionCubierta==3">
        <i class="fa icon-btn_cajon"></i>
      </a>
      <a class="btn link-app margin-left-2 margin-top-10" ng-model="vm.perfil.tuberiaRectangular" title="Tuber&iacute;a Rectangular" ng-click="vm.perfileria.chngTipoPerfil(9)" ng-class="{active:vm.perfileria.currentPerfilType == 9}" ng-hide="vm.perfileria.sujecionCubierta==3">
        <i class="fa icon-btn_tuborect"></i>
      </a>
      <a class="btn link-app margin-left-2 margin-top-10" ng-model="vm.perfil.tuberiaCircular" title="Tuber&iacute;a Circular" ng-click="vm.perfileria.chngTipoPerfil(10)" ng-class="{active:vm.perfileria.currentPerfilType == 10}" ng-hide="vm.perfileria.sujecionCubierta==3">
        <i class="fa icon-btn_tuboredondo"></i>
      </a>
      </br>
      </br>
      <div class="row" ng-show="vm.perfileria.orientaciones.list.length > 1">
        <div class="col-md-2">
          <h5>Orientaci&oacute;n:</h5>
        </div>
        <div class="col-md-5" >
          <select class="form-control" style="margin-top: 6px; width: 80px;"  ng-model="vm.tipoOrientacion" ng-init="vm.tipoOrientacion= vm.perfileria.orientaciones.selected" ng-options="x for x in vm.perfileria.orientaciones.list" ng-change="vm.capturarOrientacion()">
          </select>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="vm.cerrar()">Cerrar</button>
    </div>
  </div>
</div>
