<div id="wrapper">

  <header class="main-header" ui-view="header"></header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar" ui-view="quickpanel"></aside>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" ui-view="content" style="min-height: 645px;"></div>
  <!-- main footer. Contains page details -->
  <footer class="main-footer" ui-view="footer"></footer>

</div>
