<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Mapa de Velocidad Básica</h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="row">
    <div class="col-md-12">
      <img width="100%" src="assets/images/mapa_velocidades.png">
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-sm btn-primary" type="button" ng-click="vm.ok()">OK</button>
</div>
