<div class="container">
  <div class="pull-right hidden-xs">
    <b>Versi&oacute;n</b> 4.0.1
  </div>
  <strong>Copyright &copy; 2017 <a href="http://www.acesco.com/">Acesco</a>.</strong> All rights reserved.

</div>
