<div class="nav-tabs-custom" ng-init="inicio = true">
  <ul class="nav nav-tabs">
    <li ng-class="{active: archivo}"><a ng-click="archivo = true; inicio = false; calcular = false" data-toggle="tab">Archivo</a></li>
    <li ng-class="{active: inicio}"><a ng-click="archivo = false; inicio = true; calcular = false" data-toggle="tab">Inicio</a></li>
    <li ng-class="{active: calcular}"><a ng-click="archivo = false; inicio = false; calcular = true" data-toggle="tab">Cálculo</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane" ng-class="{active: archivo}" id="archivo">

      <div class="row">

        <div class="col-md-12 btns-group-menu">
          <a class="btn link-app" title="Abrir">
            <i class="fa icon-btn_open"></i>
          </a>
          <a id="download" class="btn link-app" title="Guardar" ng-click="vm.downloadData(this)">
            <i class="fa icon-btn_save"></i>
          </a>
        </div>

      </div>

    </div>
    <div class="tab-pane" ng-class="{active: inicio}" id="inicio">

      <div class="row">
        <div class="col-md-12 btns-group-menu">

          <a class="btn link-app margin-left-2 margin-top-10" title="Perfiles" ng-click="vm.openTiposPerfil()">
            <i class="fa icon-btn_profiles"></i>
          </a>
          <div class="btn-group btn-padding margin-left-2" uib-dropdown>
            <a class="btn link-app" uib-dropdown-toggle data-toggle="dropdown" aria-expanded="false" title="Dise&ntilde;o">
              <i class="fa icon-btn_design"></i>
              <span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
              <li><a href ng-click="vm.chngDesignType(1, vm.perfilDesign.currentPerfilType)"><input type="radio" ng-checked="vm.perfilDesign.data.diseno==1"/>&nbsp; Perfil Uniforme</a></li>
              <li><a href ng-click="vm.chngDesignType(2, vm.perfilDesign.currentPerfilType)"><input type="radio" ng-checked="vm.perfilDesign.data.diseno==2"/>&nbsp; Perfil Variable</a></li>
              <li><a href ng-click="vm.chngDesignType(3, vm.perfilDesign.currentPerfilType)"><input type="radio"  ng-checked="vm.perfilDesign.data.diseno==3"/>&nbsp; Optimizaci&oacute;n de Perfiles</a></li>
            </ul>
          </div>
          <a class="btn link-app margin-left-2 margin-top-10" title="Parametros de diseño" ng-click="vm.openParamsDiseno()">
            <i class="fa icon-btn_settings"></i>
          </a>
          <a class="btn link-app margin-left-2 margin-top-10" title="Geometría" ng-click="vm.openGeometria()">
            <i class="fa icon-btn_geometry"></i>
          </a>
          <a class="btn link-app margin-left-2 margin-top-10" title="Agregar luz" ng-click="">
            <i class="fa icon-btn_add_light"></i>
          </a>
          <a class="btn link-app margin-left-2 margin-top-10" title="Quitar luz" ng-click="">
            <i class="fa icon-btn_del_light"></i>
          </a>
          <a class="btn link-app margin-left-2 margin-top-10" title="Longitud del vano" ng-click="">
            <i class="fa icon-btn_element_length"></i>
          </a>
          <a class="btn link-app margin-left-2 margin-top-10" title="Carga distribuida" ng-click="vm.openCargaDistribuida()">
            <i class="fa icon-btn_distributed"></i>
          </a>
            <!-- continuidad -->
          <div class="btn-group btn-padding margin-left-2" uib-dropdown>
            <a class="btn link-app" uib-dropdown-toggle data-toggle="dropdown" aria-expanded="false" title="Continuidad">
              <i class="fa fa-arrows"></i>
              <span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
              <li><a href ng-click="vm.chgTipoContinuidad(1)"><input type="radio" ng-checked="vm.perfilDesign.data.tipoDeContinuidad==1"/>&nbsp; Sin continuidad</a></li>
              <li><a href ng-click="vm.chgTipoContinuidad(2)"><input type="radio" ng-checked="vm.perfilDesign.data.tipoDeContinuidad==2"/>&nbsp; Soldadura</a></li>
              <li><a href ng-click="vm.openTraslapo()"><input type="radio" ng-checked="vm.perfilDesign.data.tipoDeContinuidad==3"/>&nbsp; Traslapo</a></li>
            </ul>
          </div>
           <!-- riostras -->
          <div class="btn-group btn-padding margin-left-2" uib-dropdown>
            <a class="btn link-app" uib-dropdown-toggle data-toggle="dropdown" aria-expanded="false" title="Riostras">
              <i class="fa fa-plus-square-o"></i>
              <span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
              <li><a href ng-click="vm.chngTipoRiostra(0)"><input type="radio" ng-checked="vm.perfilDesign.data.tipoRiostra==0"/>&nbsp; L</a></li>
              <li><a href ng-click="vm.chngTipoRiostra(1)"><input type="radio" ng-checked="vm.perfilDesign.data.tipoRiostra==1"/>&nbsp; L/2</a></li>
              <li><a href ng-click="vm.chngTipoRiostra(2)"><input type="radio" ng-checked="vm.perfilDesign.data.tipoRiostra==2"/>&nbsp; L/3</a></li>
              <li><a href ng-click="vm.chngTipoRiostra(3)"><input type="radio" ng-checked="vm.perfilDesign.data.tipoRiostra==3"/>&nbsp; L/4</a></li>
              <li><a href ng-click="vm.chngTipoRiostra(4)"><input type="radio" ng-checked="vm.perfilDesign.data.tipoRiostra==4"/>&nbsp; L/5</a></li>
              <li><a href ng-click="vm.chngTipoRiostra(5)"><input type="radio" ng-checked="vm.perfilDesign.data.tipoRiostra==5"/>&nbsp; L/6</a></li>
              <li><a href ng-click="vm.chngTipoRiostra(6)"><input type="radio" ng-checked="vm.perfilDesign.data.tipoRiostra==6"/>&nbsp; Continuo</a></li>
            </ul>
          </div>
          <!-- sujecion a cubierta -->
          <div class="btn-group btn-padding margin-left-2" uib-dropdown>
            <a class="btn link-app" uib-dropdown-toggle data-toggle="dropdown" aria-expanded="false" title="Sujeción a Cubierta">
              <i class="fa fa-wrench"></i>
              <span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
              <li><a href ng-click="vm.chngSujecion(1)"><input type="radio" ng-checked="vm.perfilDesign.data.tipoSujecionCubierta==1"/>&nbsp; Sin Sujeci&oacute;n</a></li>
              <li><a href ng-click="vm.chngSujecion(2)"><input type="radio" ng-checked="vm.perfilDesign.data.tipoSujecionCubierta==2"/>&nbsp; Tornillos</a></li>
              <li><a href ng-click="vm.chngSujecion(3)"><input type="radio" ng-checked="vm.perfilDesign.data.tipoSujecionCubierta==3"/>&nbsp; Ganchos</a></li>
              <li><a href ng-click="vm.chngSujecion(4)"><input type="radio" ng-checked="vm.perfilDesign.data.tipoSujecionCubierta==4"/>&nbsp; Clip de Fijaci&oacute;n</a></li>

            </ul>
          </div>

        </div>
      </div>

    </div>
    <div class="tab-pane" ng-class="{active: calcular}" id="calcular">
      <div class="row">
        <div class="col-md-12 btns-group-menu">
          <a class="btn link-app" title="Calcular" ng-click="vm.calcular()">
            <i class="fa icon-btn_calculate"></i>
          </a>
          <a class="btn link-app" title="Generar/Ver Reporte" ng-click="vm.openGenerarReporte()">
            <i class="fa icon-btn_report"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
