<div class="nav-tabs-custom" ng-init="inicio = true">
  <ul class="nav nav-tabs">
    <li ng-class="{active: archivo}"><a ng-click="archivo = true; inicio = false; calcular = false" data-toggle="tab">Archivo</a></li>
    <li ng-class="{active: inicio}"><a ng-click="archivo = false; inicio = true; calcular = false" data-toggle="tab">Inicio</a></li>
    <li ng-class="{active: calcular}"><a ng-click="archivo = false; inicio = false; calcular = true" data-toggle="tab">Cálculo</a></li>
    <li>
      <select class="form-control" style="margin-top: 6px; width: 100px;"
              ng-model="vm.solicitaciones.selected"
              ng-options="solicitacion.descripcion for solicitacion in vm.solicitaciones.list"
              ng-change="vm.solicitacionChange()">
      </select>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane" ng-class="{active: archivo}" id="archivo">
      <div class="row">
        <div class="col-md-12 btns-group-menu scroll-horizontal">
          <a class="btn link-app margin-left-2 margin-top-10" title="Abrir">
            <i class="fa icon-btn_open"></i>
          </a>
          <a class="btn link-app margin-left-2 margin-top-10" title="Guardar">
            <i class="fa icon-btn_save"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="tab-pane" ng-class="{active: inicio}" id="inicio">
      <div class="row">
        <div class="col-md-12 btns-group-menu scroll-horizontal">
          <a class="btn link-app margin-left-2 margin-top-10" title="Perfil C" ng-click="vm.getAcabados(1)" ng-class="{active:vm.perfileria.perfilCurrentType == 1}">
            <i class="fa icon-btn_c"></i>
          </a>
          <a class="btn link-app margin-left-2 margin-top-10" title="Perfil Z" ng-click="vm.getAcabados(3)" ng-class="{active:vm.perfileria.perfilCurrentType == 3}">
            <i class="fa icon-btn_z"></i>
          </a>
          <a class="btn link-app margin-left-2 margin-top-10" title="Perfil I" ng-click="vm.getAcabados(5)" ng-class="{active:vm.perfileria.perfilCurrentType == 5}">
            <i class="fa icon-btn_i"></i>
          </a>
          <a class="btn link-app margin-left-2 margin-top-10" title="Perfil Caj&oacute;n" ng-click="vm.getAcabados(7)" ng-class="{active:vm.perfileria.perfilCurrentType == 7}">
            <i class="fa icon-btn_cajon"></i>
          </a>
          <a class="btn link-app margin-left-2 margin-top-10" title="MetalTub Rectangular/Cuadrada" ng-click="vm.getAcabados(9)" ng-class="{active:vm.perfileria.perfilCurrentType == 9}">
            <i class="fa icon-btn_tuborect"></i>
          </a>
          <a class="btn link-app margin-left-2 margin-top-10" title="Tuber&iacute;a Circular" ng-click="vm.getAcabados(10)" ng-class="{active:vm.perfileria.perfilCurrentType == 10}">
            <i class="fa icon-btn_tuboredondo"></i>
          </a>
          <a class="btn link-app margin-left-2 margin-top-10" title="Perfil W" ng-click="vm.getAcabados(11)" ng-class="{active:vm.perfileria.perfilCurrentType == 11}">
            <i class="fa icon-btn_w"></i>
            <span class="icon_btn_w_text">AMERICANO</span>
          </a>
          <a class="btn link-app margin-left-2 margin-top-10" title="Perfil Europeo" ng-click="vm.getAcabados(12)" ng-class="{active:vm.perfileria.perfilCurrentType == 12}">
            <i class="fa icon-btn_w"></i>
            <span class="icon_btn_w_text">EUROPEO</span>
          </a>
          <a class="btn link-app margin-left-2 margin-top-10" title="Tuber&iacute;a Rectangular Compuesto" ng-click="vm.getAcabados(14)" ng-class="{active:vm.perfileria.perfilCurrentType == 14}">
            <i class="fa icon-btn_tuborectcomp2"></i>
          </a>
          <a class="btn link-app margin-left-2 margin-top-10" title="Tuber&iacute;a Circular Compuesto" ng-click="vm.getAcabados(15)" ng-class="{active:vm.perfileria.perfilCurrentType == 15}">
            <i class="fa icon-btn_tuboredondocomp2"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="tab-pane" ng-class="{active: calcular}" id="calcular">
      <div class="row">
        <div class="col-md-12 btns-group-menu scroll-horizontal">
          <a class="btn link-app margin-left-2 margin-top-10" title="Generar/Ver Reporte" ng-click="vm.openConfigReporte()">
            <i class="fa icon-btn_report"></i>
          </a>
          <a class="btn link-app margin-left-2 margin-top-10" title="Generar Tabla de Resultados" ng-click="vm.exportData()">
            <i class="fa icon-btn_excel"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
